<template>
    <div style="font-family: 'Sarabun', sans-serif;" class="orange accent-1">
        <v-form v-model="valid">
            <v-container>
                <v-row justify="center">
                    <v-col>
                        <v-row justify = 'center'>
                            <v-col col="12" sm="5" md="4" lg="10">
                                    <v-btn class="title" dark color='#FF7700' @click="components ='form-one'">สถานที่</v-btn>
                                    <v-btn class="title" dark color='#FF7700' @click="components ='form-two'">การจัดการฟาร์ม</v-btn>
                                    <v-btn class="title" dark color='#FF7700' @click="components ='form-three'">การจัดการดูแลสุขภาพสัตว์น้ำ</v-btn>
                                    <v-btn class="title" dark color='#FF7700' @click="components ='form-four'">สุขลักษณะฟาร์ม</v-btn>
                                    <v-btn class="title" dark color='#FF7700' @click="components ='form-five'">การเก็บเกี่ยวและการขนส่ง</v-btn>
                            </v-col>
                        </v-row>
                        <keep-alive>
                        <component v-bind:is="components"></component>                        
                        </keep-alive>
                    </v-col>
                </v-row>
                <div class="my-2">
                    <v-btn class="bottomright" color="grey darken-4" fab large dark @click="scrollToTop();">
                    <v-icon>keyboard_arrow_up</v-icon>
                    </v-btn>
                </div> 
            </v-container>
        </v-form>
    </div>
</template>

<script>

import location from '../components/location.vue';
import management from '../components/management.vue';
import Health from '../components/Health.vue';
import hygiene from '../components/hygiene.vue';
import harvesting from '../components/harvesting.vue';

export default {
    components: {
        'form-one': location,
        'form-two': management,
        'form-three': Health,
        'form-four': hygiene,
        'form-five': harvesting
    },


    data() {
        return {            
            valid:true,
            components:'form-one',
            activeBtn: 0,
        }
    },
    methods: {
    scrollToTop() {
            window.scrollTo(0,0);
           },        
    },

}
</script>
<style>
.ex1{
    margin-left: 5px;
}
.ex2{
    margin-left: 40px;
}
.bottomright {
  position: absolute;
  bottom: 18px;
  right: 100px;
  font-size: 40px;
}

</style>