<template >
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col col="12" sm="5" md="7" lg="8"> 
    <v-card class="orange lighten-4 shbox" width="90%">
      <v-container>
      <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2><br>
      <h2 class="textC" style="border: 1px solid black;">สุขลักษณะฟาร์ม</h2><br>
      
      <v-row justify="center">
      <v-col col="12" sm="12" md="10" lg="10">
        <h3>มีการจัดการระบบน้ำทิ้งเหมาะสม น้ำทิ้งจากบ้านเรือนต้องแยกจากระบบการเลี้ยง(ข้อควรปฏิบัติ)</h3>
        </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
        <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ระบบระบายน้ำทิ้งจากบ้านเรือนแยกจากระบบการเลี้ยง</p>
        <v-select
          v-model="Splitsystem"
          label="การแยก"
          :items="Splitsystem1"
          outlined
        ></v-select>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <v-select
          v-model="Cleanlinesssystem"
          label="ความสะอาด"
          :items="Cleanlinesssystem1"
          outlined
        ></v-select>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      <v-row justify="center">
      <v-col col="12" sm="12" md="10" lg="10" >
      <h3>ห้องน้ำสุขาแยกเป็นสัดส่วนห่างจากบ่อเลี้ยง และมีระบบจัดการของเสียอย่างถูกสุขลักษณะ (ข้อควรปฏิบัติ)</h3>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5" >
      <p>ห้องน้ำ/ห้องสุขา ในบริเวณฟาร์ม</p>
      <v-radio-group col v-model="Bathroom">
       <v-radio label="มี" value="ไม่มี"></v-radio>
       <v-radio label="ไม่มี" value="มี"></v-radio>
      </v-radio-group>
      <v-btn raised class="green" @click="clickimg1list2"
                    >Upload image</v-btn
                  >
                  <input name="img1list2" type="file" style="display: none"
                  ref="img1list2input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg1list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>สุขอนามัยของห้องน้ำ/ห้องสุขา</p>
      <v-radio-group  v-model="Hygiene">    
       <v-radio label="ไม่ถูกหลักสุขอนามัย" value="ไม่ถูกหลักสุขอนามัย"></v-radio>
       <v-radio label="ถูกหลักสุขอนามัย" value="ถูกหลักสุขอนามัย"></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>การปนเปื้อนลงสู่บ่อ/แหล่งน้ำใช้</p>
      <v-radio-group v-model="Contamination" >
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
      <v-btn raised class="green" @click="clickimg2list2"
                    >Upload image</v-btn
                  >
                  <input name="img2list2" type="file" style="display: none"
                  ref="img2list2input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg2list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>มีระบบการจัดเก็บขยะที่ดี (ข้อควรปฏิบัติ)</h3>
      <p>ระบบจัดเก็บ/กำจัดขยะ</p>
      <v-radio-group  v-model="Garbagecollectionsystem">
      <v-radio label="มีถังขยะ" value="มีถังขยะ"></v-radio>
      <v-radio label="กำจัดขยะด้วยการเผา" value="กำจัดขยะด้วยการเผา" ></v-radio>
      <v-radio label="ขุดหลุมฝัง" value="ขุดหลุมฝัง"></v-radio>
      <v-radio label="มีรถหน่วยงานท้องถิ่นมาเก็บขยะ" value="มีรถหน่วยงานท้องถิ่นมาเก็บขยะ"></v-radio>
      <v-radio label="อื่นๆ"></v-radio>
      </v-radio-group>
      <v-btn raised class="green" @click="clickimg3list2"
                    >Upload image</v-btn
                  >
                  <input name="img3list2" type="file" style="display: none"
                  ref="img3list2input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg3list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>การคุ้ยเขี้ยของสัตว์เลี้ยงในฟาร์ม</p>
      <v-radio-group v-model="Scrabble">
       <v-radio label="ไม่มี" value="ไม่มี" ></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
      <v-btn raised class="green" @click="clickimg4list2"
                    >Upload image</v-btn
                  >
                  <input name="img4list2" type="file" style="display: none"
                  ref="img4list2input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg4list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5" >
      <p>พาหะนำโรค</p>
      <v-radio-group v-model="carrier" >
       <v-radio label="ไม่พบ" value="ไม่พบ"></v-radio>
       <v-radio label="พบ" value="พบ"></v-radio>
      </v-radio-group>
      <v-btn raised class="green" @click="clickimg5list2"
                    >Upload file</v-btn
                  >
                  <input name="img5list2" type="file" style="display: none"
                  ref="img5list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg5list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>วิธีการป้องกัน</p>
            <v-text-field
            v-model="Prevention"
            label="ระบุ"
            outlined
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <h2 class="textC" style="border: 1px solid black;">การเก็บเกี่ยวและการขนส่ง</h2><br>
      <v-row justify="center">
      <v-col col="12" sm="10" md="4" lg="10">
      <h3>วางแผนเก็บเกี่ยวผลผลิตถูกต้องตามความต้องารของตลาด (ข้อแนะนำ)</h3>
      <p>การจับ</p>
      <v-radio-group v-model="Catching">
       <v-radio label="จับหมดครั้งเดียว" value="จับหมดครั้งเดียว"></v-radio>
       <v-radio label="แบ่งจับ (partial)" value="แบ่งจับ"></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>การจับสัตว์น้ำ</p>
      <v-radio-group v-model="Catchingfish" >
       <v-radio label="จับเอง" value="จับเอง" ></v-radio>
       <v-radio label="จ้างจับ" value="จ้างจับ" ></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5" >
      <p>แผนการจับสัตว์น้ำ</p>
      <v-radio-group v-model="Aquacultureplans" >
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5" >
      <p>ระบุแผนการจับ</p>
            <v-text-field
            v-model="captureplan"
            label="ระบุ"
            outlined
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5" >
      <p>การทำความสะอาดสัตว์น้ำหลังการจับ</p>
      <v-radio-group v-model="Cleaningaquatic">
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>พื้นที่จับและคัดแยก</p>
      <v-radio-group v-model="Captureandsortingarea">
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
       <p>รายละเอียด</p>
            <v-text-field
            v-model="Details"
            label="ระบุ"
            outlined
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">   
      <v-col col="12" sm="10" md="4" lg="10">
      <h3>มีหนังสือกำกับการจำหน่ายสัตว์น้ำ และลูกพันธุ์สัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
          <p>MD</p>
      <v-radio-group v-model="MD">  
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group> 
      <v-btn raised class="green" @click="clickimg6list2"
                    >Upload file</v-btn
                  >
                  <input name="img6list2" type="file" style="display: none"
                  ref="img6list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg6list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
          <p>FMD</p>
      <v-radio-group v-model="FMD">  
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group> 
      <v-btn raised class="green" @click="clickimg7list2"
                    >Upload file</v-btn
                  >
                  <input name="img7list2" type="file" style="display: none"
                  ref="img7list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg7list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5"> 
        <p>หลักฐานประกอบอื่นๆ</p>
      <v-btn raised class="green" @click="clickimg8list2"
                    >Upload file</v-btn
                  >
                  <input name="img8list2" type="file" style="display: none"
                  ref="img8list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg8list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="10" md="4" lg="10">
      <h3>มีการจัดการและดูแลรักษาสัตว์น้ำอย่างถูกสุขลักษณะระหว่างเก็บเกี่ยวและการขนส่ง (ข้อควรปฏิบัติ)</h3>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>รูปแบบการจำหน่าย</p>
            <v-text-field
            v-model="Formofsale"
            label="ระบุ"
            outlined
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5"> 
    <v-checkbox v-model="Transportation" 
      label="การขนส่ง (ถ้ามี)" 
      value="มีการขนส่ง" >
    </v-checkbox>

      <p>ระบุวิธีการและรักษาอุณหภูมิ</p>
            <v-text-field
            v-model="Methodandmaintaintemperature"
            label="ระบุ"
            outlined
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="10" md="4" lg="10">
      <h3>ผลิตผลสัตว์น้ำที่เก็บเกี่ยว ต้องไม่มียาหรือสารเคมีตกค้างเกินมาตรฐาน (ข้อต้องปฏิบัติ)</h3>
      <p>ผลตรวจเนื้อสัตว์น้ำ</p>
      <v-radio-group v-model="examinationresults">
       <v-radio label="ผ่านเกณฑ์" value="ผ่านเกณฑ์"></v-radio>
       <v-radio label="ไม่ผ่านเกณฑ์ พบยา/สารเคมีตกค้าง" value="ไม่ผ่านเกณฑ์"></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
      <p>เอกสารหลักฐาน</p>
      <v-btn raised class="green" @click="clickimg9list2"
                    >Upload file</v-btn
                  >
                  <input name="img9list2" type="file" style="display: none"
                  ref="img9list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg9list2"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <br>


      <v-row justify="center">
      <v-btn color="primary">
              ย้อนกลับ
    </v-btn>
    <v-btn color="primary" @click="Upimg1list2();Upimg2list2();Upimg3list2();Upimg4list2();Upimg5list2();Upimg6list2();Upimg7list2();Upimg8list2();Upimg9list2();Submit();">
              บันทึกข้อมูล
    </v-btn>
    </v-row>
    </v-container>
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data ()  { return{
      valid: true,
      ChecklistNo:'',
      Splitsystem:'',
      Splitsystem1:['ไม่แยก', 'แยก'],
      Cleanlinesssystem:'',
      Cleanlinesssystem1:['ไม่สะอาด', 'สะอาด'],
      Bathroom:'',
      Hygiene:'',
      Contamination:'',
      Garbagecollectionsystem:'',
      Scrabble:'',
      carrier:'',
      Prevention:'',
      Catching:'',
      Catchingfish:'',
      Aquacultureplans:'',
      captureplan:'',
      Cleaningaquatic:'',
      Captureandsortingarea:'',
      Details:'',
      MD:'',
      FMD:'',
      Formofsale:'',
      Transportation:'',
      Methodandmaintaintemperature:'',
      examinationresults:'',
      img1list2: null, 
      img2list2: null,
      img3list2: null,
      img4list2: null,
      img5list2: null,
      img6list2: null,
      img7list2: null,
      img8list2: null,
      img9list2: null,  
    }},

    methods: {
      Submit(){
      console.log("OK")
      let Datachecklist2 = {
      ChecklistNo: "4",
      Splitsystem: this.Splitsystem,
      Cleanlinesssystem: this.Cleanlinesssystem,
      Bathroom: this.Bathroom,
      Hygiene: this.Hygiene,
      Contamination: this.Contamination,
      Garbagecollectionsystem: this.Garbagecollectionsystem,
      Scrabble: this.Scrabble,
      carrier: this.carrier,
      Prevention: this.Prevention,
      Catching: this.Catching,
      Catchingfish: this.Catchingfish,
      Aquacultureplans: this.Aquacultureplans,
      captureplan: this.captureplan,
      Cleaningaquatic: this.Cleaningaquatic,
      Captureandsortingarea: this.Captureandsortingarea,
      Details: this.Details,
      MD: this.MD,
      FMD: this.FMD,
      Formofsale: this.Formofsale,
      Transportation: this.Transportation,
      Methodandmaintaintemperature: this.Methodandmaintaintemperature,
      examinationresults: this.examinationresults,  
      };
      console.log(Datachecklist2);
      axios
        .post("http://127.0.0.1:8081/insertCh2", Datachecklist2)
        .then((response) => {
        console.log(response.data);  
        })
        .catch((e) => {
          console.log(e);
        });
      },
      selectimg1list2(event) {
      console.log(event);
      this.img1list2 = event.target.files[0];
      console.log(this.img1list2);
      console.log("selectimg1 success");
      },
      Upimg1list2() {
        if(this.img1list2 !== null){
        const img1l2 = new FormData();
        img1l2.append("image", this.img1list2, this.img1list2.name);
        console.log("im1");
        axios
          .post("http://127.0.0.1:8081/image-of-Toilet", img1l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg1list2() {
        this.$refs.img1list2input.click();
      },
      selectimg2list2(event) {
      console.log(event);
      this.img2list2 = event.target.files[0];
      console.log(this.img2list2);
      console.log("selectimg2 success");
      },
      Upimg2list2() {
        if(this.img2list2 !== null){
        const img2l2 = new FormData();
        img2l2.append("image", this.img2list2, this.img2list2.name);
        console.log("im2");
        axios
          .post("http://127.0.0.1:8081/image-of-Contamination", img2l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg2list2() {
        this.$refs.img2list2input.click();
      },
      selectimg3list2(event) {
      console.log(event);
      this.img3list2 = event.target.files[0];
      console.log(this.img3list2);
      console.log("selectimg3 success");
      },
      Upimg3list2() {
        if(this.img3list2 !== null){
        const img3l2 = new FormData();
        img3l2.append("image", this.img3list2, this.img3list2.name);
        console.log("im3");
        axios
          .post("http://127.0.0.1:8081/image-of-Garbage", img3l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg3list2() {
        this.$refs.img3list2input.click();
      },
      selectimg4list2(event) {
      console.log(event);
      this.img4list2 = event.target.files[0];
      console.log(this.img4list2);
      console.log("selectimg4 success");
      },
      Upimg4list2() {
        if(this.img4list2 !== null){
        const img4l2 = new FormData();
        img4l2.append("image", this.img4list2, this.img4list2.name);
        console.log("im4");
        axios
          .post("http://127.0.0.1:8081/image-of-Scraping", img4l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg4list2() {
        this.$refs.img4list2input.click();
      },
      selectimg5list2(event) {
      console.log(event);
      this.img5list2 = event.target.files[0];
      console.log(this.img5list2);
      console.log("selectfile1 success");
      },
      Upimg5list2() {
        if(this.img5list2 !== null){
        const img5l2 = new FormData();
        img5l2.append("image", this.img5list2, this.img5list2.name);
        console.log("im5");
        axios
          .post("http://127.0.0.1:8081/Document-of-Contagion", img5l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg5list2() {
        this.$refs.img5list2input.click();
      },
      selectimg6list2(event) {
      console.log(event);
      this.img6list2 = event.target.files[0];
      console.log(this.img6list2);
      console.log("selectfile2 success");
      },
      Upimg6list2() {
        if(this.img6list2 !== null){
        const img6l2 = new FormData();
        img6l2.append("file", this.img6list2, this.img6list2.name);
        console.log("file2");
        axios
          .post("http://127.0.0.1:8081/document-of-MD", img6l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg6list2() {
        this.$refs.img6list2input.click();
      },
      selectimg7list2(event) {
      console.log(event);
      this.img7list2 = event.target.files[0];
      console.log(this.img7list2);
      console.log("selectfile3 success");
      },
      Upimg7list2() {
        if(this.img7list2 !== null){
        const img7l2 = new FormData();
        img7l2.append("file", this.img7list2, this.img7list2.name);
        console.log("file3");
        axios
          .post("http://127.0.0.1:8081/document-of-FMD", img7l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg7list2() {
        this.$refs.img7list2input.click();
      },
      selectimg8list2(event) {
      console.log(event);
      this.img8list2 = event.target.files[0];
      console.log(this.img8list2);
      console.log("selectfile4 success");
      },
      Upimg8list2() {
        if(this.img8list2 !== null){
        const img8l2 = new FormData();
        img8l2.append("file", this.img8list2, this.img8list2.name);
        console.log("file4");
        axios
          .post("http://127.0.0.1:8081/document-of-Other-MD-FMD", img8l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg8list2() {
        this.$refs.img8list2input.click();
      },
      selectimg9list2(event) {
      console.log(event);
      this.img9list2 = event.target.files[0];
      console.log(this.img9list2);
      console.log("selectfile5 success");
      },
      Upimg9list2() {
        if(this.img9list2 !== null){
        const img9l2 = new FormData();
        img9l2.append("file", this.img9list2, this.img9list2.name);
        console.log("file5");
        axios
          .post("http://127.0.0.1:8081/document-of-Aquaticmeat", img9l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg9list2() {
        this.$refs.img9list2input.click();
      },
      
      
      
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>