<template >
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col col="12" sm="5" md="7" lg="8"> 
    <v-card class="orange lighten-4 shbox" width="90%">
    <v-container>
      <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2><br>
      <h2 class="textC" style="border: 1px solid black;">สถานที่</h2><br>
      

      <v-row justify="center">   
      <v-col  col="12" sm="10" md="4" lg="10"> 
      <h3>แหล่งน้ำที่ใช้มีคุณภาพเหมาะสมต่อการเลี้ยงสัตว์น้ำ และปริมาณน้ำเพียงพอ (ข้อแนะนำ)</h3>
      <p>แหล่งน้ำที่ใช้</p>
            <v-btn raised class="green" @click="clickimg1list3"
                    >Upload image</v-btn
                  >
                  <input name="img1list3" type="file" style="display: none"
                  ref="img1list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg1list3"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ปริมาณน้ำ</p>
        <v-radio-group v-model="Watercontent">
       <v-radio label="ไม่เพียงพอ" value="ไม่เพียงพอ" ></v-radio>
       <v-radio label="เพียงพอ" value="เพียงพอ" ></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ผลตรวจคุณภาพน้ำ (ถ้ามี)</p> 
      <v-btn raised class="green" @click="clickimg2list3"
                    >Upload file</v-btn
                  >
                  <input name="img2list3" type="file" style="display: none"
                  ref="img2list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg2list3"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="12" md="6" lg="10">
        <h3>อยู่ห่างจากแหล่งกำเนิดมลพิษ (ข้อแนะนำ)</h3>
        <p>แหล่งกำเนิดมลพิษ</p>
      <v-radio-group v-model="Sourceofpollution">
       <v-radio label="ไม่มี" value="ไม่มี" ></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
      <v-btn raised class="green" @click="clickimg3list3"
                    >Upload image</v-btn
                  >
                  <input name="img3list3" type="file" style="display: none"
                  ref="img3list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg3list3"/>
            <!-- <p>ระยะห่าง</p>
           <v-text-field
            v-model="Distance"
            label="กม."
            outlined
            ></v-text-field> -->
      </v-col>

      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="12" md="6" lg="5">
            <p>ระยะห่าง</p>
           <v-text-field
            v-model="Distance"
            label="กม."
            outlined
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="12" md="6" lg="5">
      </v-col>
          <div></div>
      </v-row>

      
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>มีระบบถ่ายเทน้ำที่ดี (ข้อแนะนำ)</h3>
      <p>ฟาร์มสามารถถ่ายเทน้ำได้</p>
      <v-radio-group v-model="cantransferwater">  
       <v-radio label="ไม่ดี" value="ไม่ดี" ></v-radio>
       <v-radio label="ดี" value="ดี" ></v-radio>
      </v-radio-group> 
      <v-btn raised class="green" @click="clickimg4list3"
                    >Upload image</v-btn
                  >
                  <input name="img4list3" type="file" style="display: none"
                  ref="img4list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg4list3"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      
      <v-row justify="center">
      <v-col col="12" sm="10" md="4" lg="10">
        <h3>การคมนาคมสะดวกต่อการปฏิบัติงานและการขนส่ง (ข้อควรปฏิบัติ)</h3>
        <p>การคมนาคม</p>
      <v-radio-group v-model="Convenienttransportation"> 
       <v-radio label="ไม่ถึงฟาร์ม" value="ไม่ถึงฟาร์ม"></v-radio>
       <v-radio label="ถึงฟาร์ม" value="ถึงฟาร์ม"></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5"> 
        <p>ถนนภายในฟาร์ม</p>
      <v-radio-group v-model="roadinsidethefarm"> 
       <v-radio label="ไม่สะดวก" value="ไม่สะดวก"></v-radio>
       <v-radio label="สะดวกในการขนย้ายวัสดุ/วัตถุดิบ/ผลผลิต" value="สะดวกในการขนย้ายวัสดุ/วัตถุดิบ/ผลผลิต" ></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="10" md="4" lg="10">
        <h3>มีสาธารณูปโภคขั้นพื้นฐานที่จำเป็น (ข้อแนะนำ)</h3>
        <p>มีสาธารณูปโภคที่จำเป็น</p>
      <v-radio-group v-model="necessaryutilities">
       <v-radio label="ไม่เพียงพอ" value="ไม่เพียงพอ" ></v-radio>
       <v-radio label="เพียงพอ" value="เพียงพอ" ></v-radio>
      </v-radio-group>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5"> 
      <v-checkbox v-model="electricity" label="ไฟฟ้า(เฟส)" value="ไฟฟ้า(เฟส)"></v-checkbox>
      <v-text-field
            v-model="electricityvolume"
            label="เฟส"
            outlined
            ></v-text-field>
      <v-checkbox v-model="waterused" label="น้ำใช้ (ระบุ)"  value="น้ำที่ใช้"></v-checkbox>
      <v-text-field
            v-model="waterusedvolume"
            label="ถ้ามี"
            outlined
            ></v-text-field>
      <v-checkbox v-model="Othernecessaryutilities" label="อื่นๆ (ระบุ)" value="อื่นๆ"></v-checkbox>
      <v-text-field
            v-model="Othernecessaryutilitiesdetail"
            label="ถ้ามี"
            outlined
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>ระบบสำรอง</p>
      <v-radio-group v-model="Backupsystem">    
       <v-radio label="ไม่มี" value="ไม่มี" ></v-radio>
       <v-radio label="มี" value="มี" ></v-radio>
      </v-radio-group>
            <v-btn raised class="green" @click="clickimg5list3"
                    >Upload image</v-btn
                  >
                  <input name="img8list3" type="file" style="display: none"
                  ref="img8list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg5list3"/>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <br>



      <v-row justify="center">
        <v-btn color="primary">
              ย้อนกลับ
    </v-btn>
      <v-btn color="primary" @click="Submit;Upimg1list3;Upimg2list3;Upimg3list3;Upimg4list3;Upimg5list3;">
              บันทึกข้อมูล
    </v-btn>
    </v-row>
    </v-container>
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data : () => ({
      valid: true,
      Watercontent:'',
      Sourceofpollution:'',   
      Distance:'',
      cantransferwater:'',
      Convenienttransportation:'',
      roadinsidethefarm:'',
      necessaryutilities:'',
      electricity:'',
      electricityvolume:'',
      waterused:'',
      waterusedvolume:'',
      Othernecessaryutilities:'',
      Othernecessaryutilitiesdetail:'',
      Backupsystem:'',
      img1list3: null,
      img2list3: null,
      img3list3: null,
      img4list3: null,
      img5list3: null,
    
      
    }),

    methods: {
      Submit(){
      let Datachecklist3 = { 
      Watercontent: this.Watercontent,
      Sourceofpollution: this.Sourceofpollution,
      Distance: this.Distance,
      cantransferwater: this.cantransferwater,
      Convenienttransportation: this.Convenienttransportation,
      roadinsidethefarm:this.roadinsidethefarm,
      necessaryutilities: this.necessaryutilities,
      electricity:this.electricity,
      electricityvolume: this.electricityvolume,
      waterused:this.waterused,
      waterusedvolume: this.waterusedvolume,
      Othernecessaryutilities:this.Othernecessaryutilities,
      Othernecessaryutilitiesdetail: this.Othernecessaryutilitiesdetail,
      Backupsystem: this.Backupsystem,
      }
      axios
        .post("http://127.0.0.1:8081/insertCh3", Datachecklist3)
        .then((response) => {
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
      },
      selectimg1list3(event) {
      console.log(event);
      this.img1list3 = event.target.files[0];
      console.log(this.img1list3);
      console.log("selectimg1 success");
      },
      Upimg1list3() {
        const img1l3 = new FormData();
        img1l3.append("image", this.img1list3, this.img1list3.name);
        console.log("im1");
        axios
          .post("http://127.0.0.1:8081/img", img1l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg1list3() {
        this.$refs.img1list3input.click();
      },
      selectimg2list3(event) {
      console.log(event);
      this.img2list3 = event.target.files[0];
      console.log(this.img2list3);
      console.log("selectfile1 success");
      },
      Upimg2list3() {
        const img2l3 = new FormData();
        img2l3.append("file", this.img2list3, this.img2list3.name);
        console.log("file1");
        axios
          .post("http://127.0.0.1:8081/img", img2l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg2list3() {
        this.$refs.img2list3input.click();
      },
      selectimg3list3(event) {
      console.log(event);
      this.img3list3 = event.target.files[0];
      console.log(this.img3list3);
      console.log("selectimg3 success");
      },
      Upimg3list3() {
        const img3l3 = new FormData();
        img3l3.append("image", this.img3list3, this.img3list3.name);
        console.log("im3");
        axios
          .post("http://127.0.0.1:8081/img", img3l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg3list3() {
        this.$refs.img3list3input.click();
      },
      selectimg4list3(event) {
      console.log(event);
      this.img4list3 = event.target.files[0];
      console.log(this.img4list3);
      console.log("selectimg4 success");
      },
      Upimg4list3() {
        const img4l3 = new FormData();
        img4l3.append("image", this.img4list3, this.img4list3.name);
        console.log("im4");
        axios
          .post("http://127.0.0.1:8081/img", img4l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg4list3() {
        this.$refs.img4list3input.click();
      },
      selectimg5list3(event) {
      console.log(event);
      this.img5list3 = event.target.files[0];
      console.log(this.img5list3);
      console.log("selectimg5 success");
      },
      Upimg5list3() {
        const img5l3 = new FormData();
        img5l3.append("image", this.img5list3, this.img5list3.name);
        console.log("im5");
        axios
          .post("http://127.0.0.1:8081/img", img5l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg5list3() {
        this.$refs.img5list3input.click();
      },
     
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>