<template >
  <div style="font-family: 'Sarabun', sans-serif;">
    <v-form v-model="valid">
      <v-container>
        <v-row justify="center">
          <v-col col="12" sm="5" md="7" lg="8">
            <v-card class="orange lighten-4 shbox" width="90%">
              <v-container>
              <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2>
              <br />
              <h2 class="textC" style="border: 1px solid black;">การจัดการฟาร์ม</h2>
              <br />
              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>การเตรียมบ่อ (ข้อควรปฏิบัติ)</h3>
                  <p>การปรับสภาพดินก้นบ่อ</p>
                  <v-radio-group v-model="Soilbottomingconditions" >
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg1list1">Upload image</v-btn>
                  <input name="img1list1" type="file" style="display: none"
                  ref="img1list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg1list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การกำจัดศัตรูสัตว์น้ำ</p>
                  <v-radio-group v-model="Exterminationofaquaticpests">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg2list1">Upload image</v-btn>
                  <input name="img2list1" type="file" style="display: none"
                  ref="img2list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg2list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การฆ่าเชื้อโรค</p>
                  <v-radio-group v-model="Disinfectionofponds">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg3list1">Upload image</v-btn>
                  <input name="img3list1" type="file" style="display: none"
                  ref="img3list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg3list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การปฏิบัติอื่นๆ</p>
                  <v-radio-group v-model="Otheraction">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg4list1">Upload image</v-btn>
                  <input name="img4list1" type="file" style="display: none"
                  ref="img4list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg4list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>การเตรียมน้ำ (ข้อควรปฏิบัติ)</h3>
                  <p>การกรองน้ำก่อนเข้าบ่อ</p>
                  <v-radio-group v-model="Waterfiltering">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg5list1">Upload image</v-btn>
                  <input name="img5list1" type="file" style="display: none"
                  ref="img5list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg5list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การฆ่าเชื้อโรค</p>
                  <v-radio-group v-model="Disinfectionofwater">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg6list1">Upload image</v-btn>
                  <input name="img6list1" type="file" style="display: none"
                  ref="img6list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg6list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การปรับคุณภาพน้ำ</p>
                  <v-radio-group v-model="Waterqualityadjustment">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg7list1">Upload image</v-btn>
                  <input name="img7list1" type="file" style="display: none"
                  ref="img7list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg7list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การจัดการอื่นๆ</p>
                  <v-radio-group v-model="OtherManagement">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg8list1">Upload image</v-btn>
                  <input name="img8list1" type="file" style="display: none"
                  ref="img8list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg8list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>อัตราปล่อยลูกพันธุ์ (ข้อแนะนำ)</h3>
                  <p>จำนวนลูกพันธุ์</p>
                  <v-text-field v-model="Numberofoffspring" label="ระบุ" outlined shaped></v-text-field>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>น้ำทิ้งจากบ่อเลี้ยงต้องมีค่าไม่เกินค่ามาตรฐานน้ำทิ้งจากการเพาะเลี้ยงสัตว์น้ำของกรมประมง (ข้อแนะนำ)</h3>
                  <p>การทิ้งน้ำออกจากฟาร์ม</p>
                  <v-radio-group row v-model="Dischargingwaterfromthefarm">
                    <v-radio label="ไม่ทิ้ง" value="ไม่ทิ้ง"></v-radio>
                    <v-radio label="ทิ้ง" value="ทิ้ง"></v-radio>
                  </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="10">
                    <div></div>
                </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>มีรายงานน้ำทิ้ง</p>
                  <v-radio-group row v-model="reportofsewage">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg9list1">Upload file</v-btn>
                  <input name="img9list1" type="file" style="display: none"
                  ref="img9list1input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg9list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>มีผลวิเคราะห์คุณภาพน้ำทิ้ง</p>
                  <v-radio-group row v-model="thewastewaterquality">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg10list1">Upload file</v-btn>
                  <input name="img10list1" type="file" style="display: none"
                  ref="img10list1input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg10list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>ข้อร้องเรียนจากฟาร์ม/ชุมชนข้างเคียง</p>
                  <v-radio-group row v-model="Complaintsfromfarms">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>มีการทำความสะอาดเครื่องมือและอุปกรณ์อย่างสม่ำเสมอ (ข้อควรปฏิบัติ)</h3>
                  <p>ความสะอาดหญ้ารอบบ่อ</p>
                  <v-radio-group row v-model="Cleanlinessofgrass">
                    <v-radio label="ไม่สะอาด" value="ไม่สะอาด"></v-radio>
                    <v-radio label="สะอาด" value="สะอาด"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg11list1">Upload image</v-btn>
                  <input name="img11list1" type="file" style="display: none"
                  ref="img11list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg11list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>อุปกรณ์ ความสะอาด/การดูแล</p>
                  <v-radio-group v-model="equipment">
                    <v-radio label="มีการแยกอุปกรณ์ประจำบ่อ" value="มีการแยกอุปกรณ์ประจำบ่อ"></v-radio>
                    <v-radio
                      label="จัดวาง/แขวนเป็นสัดส่วนเป็นระเบียบเรียบร้อย"
                      value="จัดวางแขวนเป็นสัดส่วนเป็นระเบียบเรียบร้อย"
                    ></v-radio>
                    <v-radio label="มีการทำความสะอาดประจำ" value="มีการทำความสะอาดประจำ"></v-radio>
                    <v-radio label="อื่นๆ" value="ข้อมูลอื่นๆ"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg12list1">Upload image</v-btn>
                  <input name="img12list1" type="file" style="display: none"
                  ref="img12list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg12list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>ป้องกันไม่ให้มีการปนเปื้อนของมูลสัตว์ลงในบ่อเลี้ยง (ข้อควรปฏิบัติ)</h3>
                  <v-radio-group v-model="Preventcontamination">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>ไม่ใช้มูลสัตว์สดในขั้นตอนการเลี้ยงสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
                  <v-radio-group v-model="notusefreshmanure">
                    <v-radio label="ไม่ใช้" value="ไม่ใช้"></v-radio>
                    <v-radio label="ใช้" value="ใช้"></v-radio>
                  </v-radio-group>

                  <p>ขั้นตอนปฏิบัติในการนำมาใช้</p>
                  <v-btn raised class="green" @click="clickimg13list1">Upload file</v-btn>
                  <input name="img13list1" type="file" style="display: none"
                  ref="img13list1input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg13list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>มีการจัดเก็บปัจจัยการผลิตอย่างถูกสุขลักษณะ (ข้อควรปฏิบัติ)</h3>
                  </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                  </v-row>
                  <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>สถานที่จัดเก็บ</p>
                  <v-text-field v-model="Storagelocation" label="ระบุ" outlined shaped></v-text-field>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                  </v-row>
                  <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>ภาชนะที่ใช้</p>
                  <v-text-field v-model="Containerused" label="ระบุ" outlined shaped></v-text-field>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>สภาพสถานที่จัดเก็บ</p>
                  <v-select v-model="Storagecondition" label="เลือกรายการ" :items="Storagecondition1" outlined></v-select>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>แท่นรองปัจจัยการผลิตกันความชื้น</p>
                  <v-radio-group row v-model="Cradleofinputs">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การจัดเก็บ</p>
                  <v-radio-group row v-model="Storage">
                    <v-radio label="เป็นระเบียบ" value="เป็นระเบียบ"></v-radio>
                    <v-radio label="ไม่เป็นระเบียบ" value="ไม่เป็นระเบียบ"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การจัดวาง</p>
                  <v-select v-model="Management" label="เลือกรายการ" :items="Management1" outlined></v-select>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>ระบบกำจัดสัตว์ที่เป็นพาหะนำโรค/สัตว์อื่นๆ</p>
                  <v-radio-group row v-model="Animaldisposalsystem">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              <h2 class="textC" style="border: 1px solid black;">การจัดการดูแลสุขภาพสัตว์น้ำ</h2>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>มีการเตรียมบ่อที่ถูกวิธีเพื่อป้องกันโรคที่จะเกิดกับสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
                  <v-radio-group row v-model="pondisproperlyprepared">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg14list1">Upload image</v-btn>
                  <input name="img14list1" type="file" style="display: none"
                  ref="img14list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg14list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>มีการเตรียมอุปกรณ์อย่างถูกวิธีเพื่อป้องกันโรคที่จะเกิดกับสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
                  <p>การทำความสะอาดอุปกรณ์/เครื่องมือ</p>
                  <v-radio-group v-model="Cleaning">
                    <v-radio label="ไม่ทำ" value="ไม่ทำ"></v-radio>
                    <v-radio label="ทำ" value="ทำ"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg15list1">Upload image</v-btn>
                  <input name="img15list1" type="file" style="display: none"
                  ref="img15list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg15list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>มีการเฝ้าระวังสุขภาพสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
                  <v-radio-group row v-model="Fishhealth">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg16list1">Upload image</v-btn>
                  <input name="img16list1" type="file" style="display: none"
                  ref="img16list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg16list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>เมื่อสัตว์น้ำแสดงอาการผิดปกติ ควรพิจารณาตรวจหาสาเหตุเบื้องต้น (ข้อควรปฏิบัติ)</h3>
                  </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>เมื่อสัตว์น้ำมีอาการผิดปกติมีการจัดการ</p>
                  <v-radio-group v-model="Abnormalsymptomsaremanaged">
                    <v-radio label="เปลี่ยนถ่ายน้ำ" value="เปลี่ยนถ่ายน้ำ"></v-radio>
                    <v-radio label="มีการให้อากาศ" value="มีการให้อากาศ"></v-radio>
                    <v-radio label="อื่นๆ" value="อุปกรณ์ความสะอาด"></v-radio>
                  </v-radio-group>
                  <v-text-field
                    v-model="Abnormalsymptomsaremanageddetail"
                    label="ระบุ"
                    outlined
                    shaped
                  ></v-text-field>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>การส่งสัตว์น้ำตรวจก่อนใช้ยา/สารเคมี</p>
                  <v-radio-group v-model="Sendingaquaticanimalsforinspection">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg17list1">Upload image</v-btn>
                  <input name="img17list1" type="file" style="display: none"
                  ref="img17list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg17list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <h3>เมื่อสัตว์น้ำแสดงอาการผิดปกติ ควรพิจารณาตรวจหาสาเหตุเบื้องต้น (ข้อควรปฏิบัติ)</h3>
                  <p>การแจ้งเหตุ</p>
                  <v-radio-group v-model="Notification">
                    <v-radio label="ไม่แจ้ง" value="ไม่แจ้ง"></v-radio>
                    <v-radio label="แจ้ง" value="แจ้ง"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>วิธีการจัดการซาก</p>
                  <v-text-field v-model="Carcassmanagement" label="ระบุ" outlined></v-text-field>
                  <v-btn raised class="green" @click="clickimg18list1">Upload image</v-btn>
                  <input name="img18list1" type="file" style="display: none"
                  ref="img18list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg18list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <v-row justify="center">
                <v-col col="12" sm="12" md="10" lg="10">
                  <p>วิธีการจัดการน้ำทิ้งเมื่อเกิดการระบาดของโรค</p>
                  <v-text-field v-model="Wastewatermanagement" label="ระบุ" outlined></v-text-field>
                  <v-btn raised class="green" @click="clickimg19list1">Upload image</v-btn>
                  <input name="img19list1" type="file" style="display: none"
                  ref="img19list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg19list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>
              <br>

              <v-row justify="center">
                <v-btn color="primary">ย้อนกลับ</v-btn>
                <v-btn color="primary" @click="Upimg1list1();Upimg2list1();Upimg3list1();Upimg4list1();
                                                Upimg5list1();Upimg6list1();Upimg7list1();Upimg8list1();
                                                Upimg9list1();Upimg10list1();Upimg11list1();Upimg12list1();
                                                Upimg13list1();Upimg14list1();Upimg15list1();Upimg16list1();
                                                Upimg17list1();Upimg18list1();Upimg19list1();Submit();">บันทึกข้อมูล</v-btn>
              </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "list1",
  data() {
    return {
      valid: true,
      CheckListNo:'',
      Soilbottomingconditions:'',
      Exterminationofaquaticpests:'',
      Disinfectionofponds:'',
      Otheraction:'',
      Waterfiltering:'',
      Disinfectionofwater:'',
      Waterqualityadjustment:'',
      OtherManagement:'',
      Numberofoffspring:'',
      Dischargingwaterfromthefarm:'',
      reportofsewage:'',
      thewastewaterquality:'',
      Complaintsfromfarms:'',
      Cleanlinessofgrass:'',
      equipment:'',
      Preventcontamination:'',
      notusefreshmanure:'',
      Storagelocation:'',
      Containerused:'',
      Storagecondition:'',
      Storagecondition1:['กันแดด','กันฝน','อากาศถ่ายเทสะดวก'],
      Cradleofinputs:'',
      Storage:'',
      Management:'',
      Management1: ['แยกเป็นสัดส่วน','ไม่เป็นสัดส่วน','วางติดผนัง','ไม่ติดผนัง'],
      Animaldisposalsystem:'',
      pondisproperlyprepared:'',
      Cleaning:'',
      Fishhealth:'',
      Abnormalsymptomsaremanaged:'',
      Abnormalsymptomsaremanageddetail:'',
      Sendingaquaticanimalsforinspection:'',
      Notification:'',
      Carcassmanagement:'',
      Wastewatermanagement:'',
      img1list1: null,
      img2list1: null,
      img3list1: null,
      img4list1: null,
      img5list1: null,
      img6list1: null,
      img7list1: null,
      img8list1: null,
      img9list1: null,
      img10list1: null,
      img11list1: null,
      img12list1: null,
      img13list1: null,
      img14list1: null,
      img15list1: null,
      img16list1: null,
      img17list1: null,
      img18list1: null,
      img19list1: null,
    };
  },

  methods: {
    Submit() {
      let Datachecklist1 = {
        CheckListNo:"6",
        Soilbottomingconditions: this.Soilbottomingconditions,
        Exterminationofaquaticpests: this.Exterminationofaquaticpests,
        Disinfectionofponds: this.Disinfectionofponds,
        Otheraction: this.Otheraction,
        Waterfiltering: this.Waterfiltering,
        Disinfectionofwater: this.Disinfectionofwater,
        Waterqualityadjustment: this.Waterqualityadjustment,
        OtherManagement: this.OtherManagement,
        Numberofoffspring: this.Numberofoffspring,
        Dischargingwaterfromthefarm: this.Dischargingwaterfromthefarm,
        reportofsewage: this.reportofsewage,
        thewastewaterquality: this.thewastewaterquality,
        Complaintsfromfarms: this.Complaintsfromfarms,
        Cleanlinessofgrass: this.Cleanlinessofgrass,
        equipment: this.equipment,
        Preventcontamination: this.Preventcontamination,
        notusefreshmanure: this.notusefreshmanure,
        Storagelocation: this.Storagelocation,
        Containerused: this.Containerused,
        Storagecondition: this.Storagecondition,
        Cradleofinputs: this.Cradleofinputs,
        Storage: this.Storage,
        Management: this.Management,
        Animaldisposalsystem: this.Animaldisposalsystem,
        pondisproperlyprepared: this.pondisproperlyprepared,
        Cleaning: this.Cleaning,
        Fishhealth: this.Fishhealth,
        Abnormalsymptomsaremanaged: this.Abnormalsymptomsaremanaged,
        Abnormalsymptomsaremanageddetail: this.Abnormalsymptomsaremanageddetail,
        Sendingaquaticanimalsforinspection: this.Sendingaquaticanimalsforinspection,
        Notification: this.Notification,
        Carcassmanagement: this.Carcassmanagement,
        Wastewatermanagement: this.Wastewatermanagement
      };
      console.log(Datachecklist1);
      axios
        .post("http://127.0.0.1:8081/insertCh1", Datachecklist1)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    selectimg1list1(event) {
      console.log(event);
      this.img1list1 = event.target.files[0];
      console.log(this.img1list1);
      console.log("selectimg1 success");
    },
    async Upimg1list1() {
      if(this.img1list1 !== null){
      const img1l1 = new FormData();
      img1l1.append("image", this.img1list1, this.img1list1.name);
      console.log("im1");
      await axios
        .post("http://127.0.0.1:8081/img--soil", img1l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image1");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg1list1() {
      this.$refs.img1list1input.click();
    },
    selectimg2list1(event) {
      console.log(event);
      this.img2list1 = event.target.files[0];
      console.log(this.img2list1);
      console.log("selectimg2 success");
    },
    async Upimg2list1() {
      if(this.img2list1 !== null){
      const img2l1 = new FormData();
      img2l1.append("image", this.img2list1, this.img2list1.name);
      console.log("im2");
      await axios
        .post("http://127.0.0.1:8081/img--ExtermAquatic", img2l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image2");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg2list1() {
      this.$refs.img2list1input.click();
    },
    selectimg3list1(event) {
      console.log(event);
      this.img3list1 = event.target.files[0];
      console.log(this.img3list1);
      console.log("selectimg3 success");
    },
    async Upimg3list1() {
      if(this.img3list1 !== null){
      const img3l1 = new FormData();
      img3l1.append("image", this.img3list1, this.img3list1.name);
      console.log("im3");
      await axios
        .post("http://127.0.0.1:8081/img--Disinfection", img3l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image3");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg3list1() {
      this.$refs.img3list1input.click();
    },
    selectimg4list1(event) {
      console.log(event);
      this.img4list1 = event.target.files[0];
      console.log(this.img4list1);
      console.log("selectimg4 success");
    },
    async Upimg4list1() {
      if(this.img4list1 !== null){
      const img4l1 = new FormData();
      img4l1.append("image", this.img4list1, this.img4list1.name);
      console.log("im4");
      await axios
        .post("http://127.0.0.1:8081/documentofotheraction", img4l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image4");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg4list1() {
      this.$refs.img4list1input.click();
    },
    selectimg5list1(event) {
      console.log(event);
      this.img5list1 = event.target.files[0];
      console.log(this.img5list1);
      console.log("selectimg5 success");
    },
    async Upimg5list1() {
      if(this.img5list1 !== null){
      const img5l1 = new FormData();
      img5l1.append("image", this.img5list1, this.img5list1.name);
      console.log("im5");
      await axios
        .post("http://127.0.0.1:8081/img--Waterfiltering", img5l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image5");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg5list1() {
      this.$refs.img5list1input.click();
    },
    selectimg6list1(event) {
      console.log(event);
      this.img6list1 = event.target.files[0];
      console.log(this.img6list1);
      console.log("selectimg6 success");
    },
    Upimg6list1() {
      if(this.img6list1 !== null){
      const img6l1 = new FormData();
      img6l1.append("image", this.img6list1, this.img6list1.name);
      console.log("im6");
      axios
        .post("http://127.0.0.1:8081/img--DisinfectionWater", img6l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image6");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg6list1() {
      this.$refs.img6list1input.click();
    },
    selectimg7list1(event) {
      console.log(event);
      this.img7list1 = event.target.files[0];
      console.log(this.img7list1);
      console.log("selectimg7 success");
    },
    Upimg7list1() {
      if(this.img7list1 !== null){
      const img7l1 = new FormData();
      img7l1.append("image", this.img7list1, this.img7list1.name);
      console.log("im7");
      axios
        .post("http://127.0.0.1:8081/img--Wateradjustment", img7l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image7");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg7list1() {
      this.$refs.img7list1input.click();
    },
    selectimg8list1(event) {
      console.log(event);
      this.img8list1 = event.target.files[0];
      console.log(this.img8list1);
      console.log("selectimg8 success");
    },
    Upimg8list1() {
      if(this.img8list1 !== null){
      const img8l1 = new FormData();
      img8l1.append("image", this.img8list1, this.img8list1.name);
      console.log("im8");
      axios
        .post("http://127.0.0.1:8081/other--Management", img8l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image8");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg8list1() {
      this.$refs.img8list1input.click();
    },
    selectimg9list1(event) {
      console.log(event);
      this.img9list1 = event.target.files[0];
      console.log(this.img9list1);
      console.log("selectfile1 success");
    },
    Upimg9list1() {
      if(this.img9list1 !== null){
      const img9l1 = new FormData();
      img9l1.append("file", this.img9list1, this.img9list1.name);
      console.log("file1");
      axios
        .post("http://127.0.0.1:8081/docReport-waste-water", img9l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not file");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg9list1() {
      this.$refs.img9list1input.click();
    },
    selectimg10list1(event) {
      console.log(event);
      this.img10list1 = event.target.files[0];
      console.log(this.img10list1);
      console.log("selectfile2 success");
    },
    Upimg10list1() {
      if(this.img10list1 !== null){
      const img10l1 = new FormData();
      img10l1.append("file", this.img10list1, this.img10list1.name);
      console.log("file2");
      axios
        .post("http://127.0.0.1:8081/document-of-water-quality", img10l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not file");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg10list1() {
      this.$refs.img10list1input.click();
    },
    selectimg11list1(event) {
      console.log(event);
      this.img11list1 = event.target.files[0];
      console.log(this.img11list1);
      console.log("selectimg11 success");
    },
    Upimg11list1() {
      if(this.img11list1 !== null){
      const img11l1 = new FormData();
      img11l1.append("image", this.img11list1, this.img11list1.name);
      console.log("im11");
      axios
        .post("http://127.0.0.1:8081/pic-of-Clean-Grass", img11l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image8");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg11list1() {
      this.$refs.img11list1input.click();
    },
    selectimg12list1(event) {
      console.log(event);
      this.img12list1 = event.target.files[0];
      console.log(this.img12list1);
      console.log("selectimg12 success");
    },
    Upimg12list1() {
      if(this.img12list1 !== null){
      const img12l1 = new FormData();
      img12l1.append("image", this.img12list1, this.img12list1.name);
      console.log("im12");
      axios
        .post("http://127.0.0.1:8081/pic-of-Equipmaintenance", img12l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image9");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg12list1() {
      this.$refs.img12list1input.click();
    },
    selectimg13list1(event) {
      console.log(event);
      this.img13list1 = event.target.files[0];
      console.log(this.img13list1);
      console.log("selectfile3 success");
    },
    Upimg13list1() {
      if(this.img13list1 !== null){
      const img13l1 = new FormData();
      img13l1.append("file", this.img13list1, this.img13list1.name);
      console.log("file3");
      axios
        .post("http://127.0.0.1:8081/document-of-Implementation", img13l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not file");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg13list1() {
      this.$refs.img13list1input.click();
    },
    selectimg14list1(event) {
      console.log(event);
      this.img14list1 = event.target.files[0];
      console.log(this.img14list1);
      console.log("selectimg14 success");
    },
    Upimg14list1() {
      if(this.img14list1 !== null){
      const img14l1 = new FormData();
      img14l1.append("image", this.img14list1, this.img14list1.name);
      console.log("im14");
      axios
        .post("http://127.0.0.1:8081/image-of-Preparation--of--Ponds", img14l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image10");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg14list1() {
      this.$refs.img14list1input.click();
    },
    selectimg15list1(event) {
      console.log(event);
      this.img15list1 = event.target.files[0];
      console.log(this.img15list1);
      console.log("selectimg15 success");
    },
    Upimg15list1() {
      if(this.img15list1 !== null){
      const img15l1 = new FormData();
      img15l1.append("image", this.img15list1, this.img15list1.name);
      console.log("im15");
      axios
        .post("http://127.0.0.1:8081/image-of-Cleaning-equipment", img15l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image11");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg15list1() {
      this.$refs.img15list1input.click();
    },
    selectimg16list1(event) {
      console.log(event);
      this.img16list1 = event.target.files[0];
      console.log(this.img16list1);
      console.log("selectimg16 success");
    },
    Upimg16list1() {
      if(this.img16list1 !== null){
      const img16l1 = new FormData();
      img16l1.append("image", this.img16list1, this.img16list1.name);
      console.log("im16");
      axios
        .post("http://127.0.0.1:8081/image-of-aquatic-health", img16l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image12");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg16list1() {
      this.$refs.img16list1input.click();
    },
    selectimg17list1(event) {
      console.log(event);
      this.img17list1 = event.target.files[0];
      console.log(this.img17list1);
      console.log("selectimg17 success");
    },
    Upimg17list1() {
      if(this.img17list1 !== null){
      const img17l1 = new FormData();
      img17l1.append("image", this.img17list1, this.img17list1.name);
      console.log("im17");
      axios
        .post("http://127.0.0.1:8081/image-of-Sending", img17l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image13");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg17list1() {
      this.$refs.img17list1input.click();
    },
    selectimg18list1(event) {
      console.log(event);
      this.img18list1 = event.target.files[0];
      console.log(this.img18list1);
      console.log("selectimg18 success");
    },
    Upimg18list1() {
      if(this.img18list1 !== null){
      const img18l1 = new FormData();
      img18l1.append("image", this.img18list1, this.img18list1.name);
      console.log("im18");
      axios
        .post("http://127.0.0.1:8081/image-of-Carcass", img18l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image14");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg18list1() {
      this.$refs.img18list1input.click();
    },
    selectimg19list1(event) {
      console.log(event);
      this.img19list1 = event.target.files[0];
      console.log(this.img19list1);
      console.log("selectimg19 success");
    },
    Upimg19list1() {
      if(this.img19list1 !== null){
      const img19l1 = new FormData();
      img19l1.append("image", this.img19list1, this.img19list1.name);
      console.log("im19");
      axios
        .post("http://127.0.0.1:8081/image-of-Wastewater", img19l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image15");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg19list1() {
      this.$refs.img19list1input.click();
    },    
  }
};
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>