<template>
  <div >
     <v-container>
    <v-row style="border: 1px solid red">
      <v-col col="12" sm="5" md="4" lg="6" style="border: 1px solid red">
       
        <v-card class="d-inline-flex pa-2" outlined tile style="border: 1px solid red" >
          <v-img height="500" width="500" src="../assets/Pie-chart.jpg"></v-img>
        </v-card>
        <v-textarea
          v-model="dashboarddata"
          name="input-7-1"
          label="Default style"
          value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
          hint="Hint text"
        ></v-textarea>
      </v-col>
       <v-col col="12" sm="5" md="4" lg="6" style="border: 1px solid red" >
      <v-card class="d-inline-flex pa-2" style="border: 1px solid red" >
       
          <v-img
            height="500"
            width="500"
            src="https://cdn.vuetifyjs.com/images/cards/store.jpg"
          ></v-img>
        
      </v-card>
      <v-textarea
          v-model="dashboarddata"
          name="input-7-1"
          label="Default style"
          value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
          hint="Hint text"
        ></v-textarea>
 </v-col>
    </v-row>
         </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    
  }),
};
</script>
