<template>
  <div  class="orange accent-1">
    <v-form v-model="valid">
      <v-container>
        <v-row justify="center">
          <v-col col="12" sm="5" md="4" lg="8">
            <v-card class="orange lighten-4 shbox" width="90%">
              <v-container>
                <div style="margin:auto">
                  <h2 class="textC">ลงทะเบียนฟาร์มเพาะเลี้ยงสัตว์น้ำ</h2>
                  <v-row justify="center">
                    <v-col col="12" sm="5" md="4" lg="5">
                      <p>ชื่อฟาร์ม</p>
                      <v-text-field
                        v-model="FarmName"
                        label="ระบุ"
                        outlined
                        shaped
                      ></v-text-field>
                    </v-col>
                    <v-col col="12" sm="5" md="4" lg="5">
                      <p>ชื่อเจ้าของ</p>
                      <v-text-field
                        v-model="FarmOwner"
                        label="ระบุ"
                        outlined
                        shaped
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </div>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>เลขที่</p>
                    <v-text-field
                      v-model="FarmNumber"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>หมู่ที่</p>
                    <v-text-field
                      v-model="FarmGroup"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>ตำบล</p>
                    <v-text-field
                      v-model="FarmCanton"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>อำเภอ</p>
                    <v-text-field
                      v-model="FarmDistrict"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>จังหวัด</p>
                    <v-text-field
                      v-model="FarmProvince"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>พิกัดภูมิศาสตร์ GPS </p>
                    <v-text-field
                      v-model="GPS"
                      label="พิกัด"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="8" md="6" lg="5">
                    <p>แผนผังฟาร์ม</p>
                    <v-btn raised class="green" @click="onPickimg1"
                      >Upload image
                    </v-btn>
                    <input name="imgplan" type="file" style="display: none "
                    ref="imgfarmInput1" enctype=multipart/form-data
                    accept="image/*" @change="onImgselected1" >
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="8" md="6" lg="5">
                    <p>มีการขึ้นทะเบียนฟาร์มอย่างถูกต้อง</p>
                    <v-radio-group v-model="Farmregistration">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio
                        label="มี ยังไม่หมดอายุ"
                        value="มี ยังไม่หมดอายุ"
                      ></v-radio>
                      <v-radio
                        label="มีและหมดอายุ"
                        value="มีและหมดอายุ"
                      ></v-radio>
                      <v-radio
                        label="อยู่ระหว่างยื่นคำขอ"
                        value="อยู่ระหว่างยื่นคำขอ"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="8" md="6" lg="5">
                    <p>เอกสารหลักฐาน</p>
                    <v-radio-group v-model="Documentfarm">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio label="มี" value="มี"></v-radio>
                    </v-radio-group>
                    <v-btn raised class="green" @click="onPickFile"
                      >Upload File</v-btn
                    >
                    <input name="filefarm" type="file" style="display: none"
                    ref="filefarmInput" enctype=multipart/form-data
                    accept="file/*" @change="onFileselected"/>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>เริ่มดำเนินกิจการ</p>
                    <v-text-field
                      v-model="Year"
                      label="พุทธศักราช"
                      outlined
                    ></v-text-field>
                    <p>ความเป็นเจ้าของฟาร์ม</p>
                    <v-radio-group v-model="Startoperation">
                      <v-radio
                        label="พื้นที่ส่วนตัว"
                        value="พื้นที่ส่วนตัว"
                      ></v-radio>
                      <v-radio
                        label="เช่าดำเนินการ"
                        value="เช่าดำเนินการ"
                      ></v-radio>
                    </v-radio-group>
                    <v-text-field
                      v-model="NumberOfYears"
                      label="จำนวนปี"
                      outlined
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="4" md="3" lg="5">
                    <p>พื้นที่ฟาร์มทั้งหมด</p>
                    <v-text-field
                      v-model="TotalFarmArea"
                      label="ไร่"
                      outlined
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="6" md="4" lg="5">
                    <p>บ่อพักน้ำ</p>
                    <v-radio-group v-model="Pond">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio label="มี" value="มี"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>จำนวนบ่อ</p>
                    <v-text-field
                      v-model="NumberOfReservoirs"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>ไร่/ตร.ม.</p>
                    <v-text-field
                      v-model="NumberOfAcresAndPondareas"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="6" md="4" lg="5">
                    <p>บ่อเก็บเลน</p>
                    <v-radio-group v-model="Lenstorage">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio label="มี" value="มี"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>จำนวนบ่อ</p>
                    <v-text-field
                      v-model="NumberOfLensStorage"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>ไร่/ตร.ม.</p>
                    <v-text-field
                      v-model="NumberOfAcresAndLensStorage"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>ระบบบำบัดน้ำทิ้ง</p>
                    <v-radio-group v-model="SewagetreatmentSystem">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio label="มี   ระบุ" value="มี"></v-radio>
                    </v-radio-group>
                    <v-btn raised class="green" @click="onPickimg2"
                      >Upload image</v-btn
                    >
                    <input name="imgfarm2" type="file" style="display: none"
                    ref="imgfarmInput2" enctype=multipart/form-data
                    accept="image/*" @change="onImgselected2"
                    @click="onPickimg2"/>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>บ่อเลี้ยง</p>
                    <v-radio-group v-model="Pondperiod">
                      <v-radio label="บ่อขุดใหม่" value="บ่อขุดใหม่"></v-radio>
                      <v-radio label="บ่อเก่า" value="บ่อเก่า"></v-radio>
                    </v-radio-group>
                    <v-text-field
                      v-model="NumberofYearsOfOldDiggingwell"
                      label="จำนวนปี"
                      outlined
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="6" md="4" lg="5">
                    <p>รูปแบบการเพาะเลี้ยง</p>
                    <v-radio-group v-model="Culture">
                      <v-radio label="กระชัง" value="กระชัง"></v-radio>
                      <v-radio label="บ่อ" value="บ่อ"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>พื้นที่เพาะ/เลี้ยงทั้งหมด</p>
                    <v-text-field
                      v-model="Allculturedareas"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>จำนวนบ่อ/กระชัง</p>
                    <v-text-field
                      v-model="NumberofFloatingcages"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="4" md="3" lg="5">
                    <p>ผลผลิตปีที่แล้วของฟาร์ม</p>
                    <v-text-field
                      v-model="Lastyearfarmoutput"
                      label="จำนวน/ตัน"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="3" md="2" lg="5">
                    <br />
                    <br />
                    <p></p>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="3" md="2" lg="5">
                    <p>สภาวการณ์ลงทุนที่ผ่านมา</p>
                    <v-radio-group v-model="PastInvestmentSituation">
                      <v-radio label="กำไร" value="กำไร"></v-radio>
                      <v-radio label="ขาดทุน" value="ขาดทุน"></v-radio>
                      <v-radio label="เสมอตัว" value="เสมอตัว"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="8" md="6" lg="5">
                    <p>สถานภาพของฟาร์ม</p>
                    <v-radio-group v-model="Farmstatus">
                      <v-radio
                        label="กำลังเลี้ยง"
                        value="กำลังเลี้ยง"
                      ></v-radio>
                      <v-radio label="พักบ่อ" value="พักบ่อ"></v-radio>
                      <v-radio
                        label="หยุดการเลี้ยงแต่คาดว่าจะดำเนินการ"
                        value="หยุดการเลี้ยงแต่คาดว่าจะดำเนินการ"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                <v-btn
                  color="primary"
                  @click="
                    onUplodeimg1();
                    onUplodeimg2();
                    onUplodefile();
                    SubmitSignup();
                  "
                >
                  submit
                </v-btn>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    valid: true,
    FarmName: null,
    FarmOwner: null,
    FarmNumber: null,
    FarmGroup: null,
    FarmCanton: null,
    FarmDistrict: null,
    FarmProvince: null,
    GPS: null,
    Farmregistration: null,
    Documentfarm: null,
    Year: null,
    Startoperation: null,
    NumberOfYears: null,
    Other: null,
    TotalFarmArea: null,
    Pond: null,
    NumberOfReservoirs: null,
    NumberOfAcresAndPondareas: null,
    Lenstorage: null,
    NumberOfLensStorage: null,
    NumberOfAcresAndLensStorage: null,
    SewagetreatmentSystem: null,
    Pondperiod: null,
    NumberofYearsOfOldDiggingwell: null,
    Culture: null,
    Allculturedareas: null,
    NumberofFloatingcages: null,
    Lastyearfarmoutput: null,
    Quantityproduced: null,
    PastInvestmentSituation: null,
    Farmstatus: null,
    Datarecording: null,
    Otherdetails: null,
    selectFile: "No",
    selectimg1: "No",
    selectimg2: "No",
  }),

  methods: {
    SubmitSignup() {
      let obj = {
        FarmName: this.FarmName,
        FarmOwner: this.FarmOwner,
        FarmNumber: this.FarmNumber,
        FarmGroup: this.FarmGroup,
        FarmCanton: this.FarmCanton,
        FarmDistrict: this.FarmDistrict,
        FarmProvince: this.FarmProvince,
        GPS: this.GPS,
        Farmregistration: this.Farmregistration,
        Documentfarm: this.Documentfarm,
        Year: this.Year,
        Startoperation: this.Startoperation,
        NumberOfYears: this.NumberOfYears,
        TotalFarmArea: this.TotalFarmArea,
        Pond: this.Pond,
        NumberOfReservoirs: this.NumberOfReservoirs,
        NumberOfAcresAndPondareas: this.NumberOfAcresAndPondareas,
        Lenstorage: this.Lenstorage,
        NumberOfLensStorage: this.NumberOfLensStorage,
        NumberOfAcresAndLensStorage: this.NumberOfAcresAndLensStorage,
        SewagetreatmentSystem: this.SewagetreatmentSystem,
        Pondperiod: this.Pondperiod,
        NumberofYearsOfOldDiggingwell: this.NumberofYearsOfOldDiggingwell,
        Culture: this.Culture,
        Allculturedareas: this.Allculturedareas,
        NumberofFloatingcages: this.NumberofFloatingcages,
        Lastyearfarmoutput: this.Lastyearfarmoutput,
        PastInvestmentSituation: this.PastInvestmentSituation,
        Farmstatus: this.Farmstatus,
      };
      console.log(obj);
      axios
        .post("http://127.0.0.1:8081/insert", obj)
        .then((response) => {
          // JSON responses are automatically parsed.
          if (response.data) {
            const da = response.data 
            // เรียก response เอาค่าจากเบสมาใช้
            this.$store.commit('setFarmid',da[0][0]);
            // เอาค่าที่ได้ไปเปลี่ยนค่าใน store
            console.log(this.$store.state.Farmid)
            this.$router.push("/Home3/signprofile");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    onImgselected1(event) {
      console.log(event);
      this.selectimg1 = event.target.files[0];
      console.log(this.selectimg1);
      console.log("selectimg1 success");
    },
    onUplodeimg1() {
      if(this.selectimg1 !== "No"){
      const img = new FormData();
      img.append("image", this.selectimg1, this.selectimg1.name);
      console.log("im1");
      axios
        .post("http://127.0.0.1:8081/img", img, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    onPickimg1() {
      this.$refs.imgfarmInput1.click();
    },
    onImgselected2(event) {
      console.log(event);
      this.selectimg2 = event.target.files[0];
      console.log(this.selectimg2);
      console.log("selectimg2 success");
    },
    onUplodeimg2() {
       if(this.selectimg2 !== "No"){
      const img = new FormData();
      img.append("image", this.selectimg2, this.selectimg2.name);
      console.log("im2");
      axios
        .post("http://127.0.0.1:8081/img", img, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image");
          }
        })
        .catch((e) => {
          console.log(e);
        });
       }
    },
    onPickimg2() {
      this.$refs.imgfarmInput2.click();
    },
    onFileselected(event) {
      console.log(event);
      this.selectFile = event.target.files[0];
      console.log(this.selectFile);
      console.log("selectFile success");
    },
    onUplodefile() {
      if(this.selectFile !== "No"){
      const file = new FormData();
      file.append("file", this.selectFile, this.selectFile.name);
      console.log("file");
      axios
        .post("http://127.0.0.1:8081/documentRegFarm", file, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not file");
          }
        })
        .catch((e) => {
          console.log(e);
        });
      }
    },
  onPickFile() {
      this.$refs.filefarmInput.click();
    },
  },
};
</script>
<style>

.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>
