<template >
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col  class="orange lighten-4" col="12" sm="5" md="7" lg="10">
      <v-card>
        <v-container>
                <h2 class="textC" style="border: 1px solid black;">ผลิตภัณฑ์ที่ใช้ในการเพาะเลี้ยง</h2>
                <v-row >
                  <v-col class='ex4' col="12" sm="5" md="10" lg="4">
                    <p>ประเภทของผลิตภัณฑ์</p>
                      <v-select
                      v-model="type"
                      :items="type1"
                      label="ประเภท"
                    ></v-select>
                  </v-col>
                    </v-row>
                    <v-row>
                      <v-col class='ex4' col="12" sm="5" md="4" lg="5">
                        <p>ชื่อของผลิตภัณฑ์ที่ใช้เพาะเลี้ยง</p>
                        <v-text-field
                          v-model="FoodforCulture"
                          :counter="20"
                          :maxlength="20"
                          label="ชื่อของอาหารที่ใช้เพาะเลี้ยง"
                          outlined
                        ></v-text-field>
                      </v-col>
                      <v-col class='ex4' col="12" sm="5" md="4" lg="5">
                        <p>เลขทะเบียนของผลิตภัณฑ์</p>
                        <v-text-field
                          v-model="FoodNumber"
                          :counter="13"
                          :maxlength="13"
                          label="เลขทะเบียนของอาหาร"
                          outlined
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <p class='ex4'>วันผลิตและวันหมดอายุของผลิตภัณฑ์</p>
                    <v-row>
                        <v-col class = 'ex4' cols="12" sm="6" md="5">
                          <v-menu
                            v-model="menu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="Productiondate"
                                label="วันผลิต"
                                prepend-icon="event"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker v-model="Productiondate" @input="menu = false"></v-date-picker>
                          </v-menu>
                          <v-spacer></v-spacer>
                        </v-col>
                        <v-col cols="12" sm="6" md="5">
                          <v-menu
                            v-model="menu2"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="expdate"
                                label="วันหมดอายุ"
                                prepend-icon="event"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker v-model="expdate" @input="menu2 = false"></v-date-picker>
                          </v-menu>
                        </v-col>
                      <!-- </v-col> -->
                    </v-row>
                    <v-row class="ex4">
                    <v-col col="12" sm="5" md="4" lg="5">
                        <p>ผลการตรวจสภาพทางกายภาพ</p>
                        <v-radio-group v-model="Physicalconditionoffood" row>
                        <v-radio label="เหมาะสม" value="pass" ></v-radio>
                        <v-radio label="ไม่เหมาะสม" value="notpass"></v-radio>
                        </v-radio-group>
                      </v-col>
                    </v-row>
                    <v-row class="ex4">
                    <v-col col="12" sm="5" md="4" lg="5">
                      <p>ความถี่ในการสั่งซื้อในแต่ละรอบ</p>
                        <v-text-field
                          v-model="FrequencyofOrderingfood"
                          :counter="5"
                          label="ความถี่ในการสั่งซื้อ"
                          outlined
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row justify="center">
                    <v-btn color="primary" @click="Submit()">
                            submit
                  </v-btn>
                  </v-row>                    
        </v-container> 
      </v-card>
    </v-col>      
    </v-row>
  </v-container>
</v-form>
</div>
</template>



<script>
import axios from "axios";
  export default {
    data (){return{
      valid: true,
      type:null,
      type1: ['อาหาร', 'ยา', 'อาหารเสริม','สารเคมี'],
      FoodforCulture:null,
      FoodNumber:null,
      Productiondate:null,
      expdate:null,
      Physicalconditionoffood:null,
      FrequencyofOrderingfood:null,
      menu:'',
      menu2:'',

    }},

    methods: {
      Submit(){
      let Datafeed ={
      Farmid:this.$store.state.Farmid, 
      type: this.type,
      FoodforCulture: this.FoodforCulture,
      FoodNumber: this.FoodNumber,
      Productiondate: this.Productiondate,
      expdate: this.expdate,
      Physicalconditionoffood: this.Physicalconditionoffood,
      FrequencyofOrderingfood: this.FrequencyofOrderingfood,
      }
      axios
        .post("http://127.0.0.1:8081/insertFeed",Datafeed)
        .then((response) => {
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
            window.alert("Success");
          } else {
            window.alert(" insert Fail");
          }
        })
        .catch((e) => {
          console.log(e);
        });
      },
    },
  }
</script>
<style>
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
.ex3 {
  margin-left: 50px;
}
.ex2 {
  margin-left: 75px;
}
.ex4 {
  margin-left: 60px;
}
.bottomright {
  position: absolute;
  bottom: 18px;
  right: 23px;
  font-size: 40px;
}
.bottom {
  position: absolute;
  bottom: 18px;
  font-size: 40px;
}

</style>