<template >
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
      <v-col col="12" sm="5" md="7" lg="10">
        <v-toolbar class="title" style="background-color:#FF7700" dark dense ><v-col class="textC">บันทึกข้อมูลสถานที่เพาะเลี้ยง</v-col></v-toolbar>
        <v-card>
          <v-container>
            <v-row class="ex1">
              <v-col col="12" sm="5" md="4" lg="5">
                <p>ระบุประเภท</p>
                  <v-radio-group v-model="type" row>
                              <v-radio label="กระชัง" value="2"></v-radio>
                              <v-radio label="บ่อ" value="1"></v-radio>
                            </v-radio-group>
                </v-col>
              </v-row>
              <v-row class='ex1'>
              <v-col  col="12" sm="5" md="4" lg="2">
                <p>บ่อที่</p>
                  <v-text-field
                    v-model="Pond"
                    label="บ่อ"
                    outlined
                  ></v-text-field>
                  </v-col>
                  <v-col class='ex1' col="12" sm="5" md="4" lg="2">
                  <p>ขนาดบ่อ</p>
                  <v-text-field
                    v-model="size"
                    label="ขนาด"
                    outlined
                  ></v-text-field>
                </v-col>
              <v-col class="ex1" col="12" sm="5" md="4" lg="3">
                <p>รอบการเลี้ยง</p>
                  <v-text-field
                    v-model="Round"
                    label="รอบที่"
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class ='ex1'>
              <v-col col="12" sm="5" md="4" lg="3">
                <p>ชนิดสัตว์น้ำที่เลี้ยง</p>
                  <v-text-field
                    v-model="Fishpond"
                    outlined
                    label="เช่น ปลากระพง หรือ กุ้งแม่น้ำ"
                  ></v-text-field>
                  </v-col>
                  <v-col class ='ex1' col="12" sm="5" md="4" lg="3">
                  <p>จำนวนวันที่เลี้ยง</p>
                  <v-text-field
                    v-model="Numberofdays"
                    label='วัน'
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class ='ex1'>
              <v-col col="12" sm="5" md="4" lg="3">
                <v-menu
                v-model="menu1"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="startdate"
                    label="วันที่เริ่มเลี้ยง"
                    prepend-icon="event"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="startdate" @input="menu1 = false"></v-date-picker>
              </v-menu>
              </v-col>
              <v-col class ='ex1' col="12" sm="5" md="4" lg="4">
                <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="Enddate"
                    label="วันที่สิ้นสุดการเลี้ยง"
                    prepend-icon="event"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="Enddate" @input="menu2 = false"></v-date-picker>
              </v-menu>
                </v-col>
              </v-row>
              <v-row justify="center">
              <v-btn color="primary" @click="Submit();">
                      submit
            </v-btn>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>



<script>
import axios from "axios";
  export default {
    data (){return{
      valid: true,
      type:null,
      Pond:null,
      size:null,
      Fishpond:null,
      Round:null,
      Numberofdays:null,
      startdate:null,
      Enddate:null, 
      menu1:'',
      menu2:'',    
      
    }},

    methods: {
      Submit(){
      let Datafishpond ={
      Farmid:this.$store.state.Farmid,
      type: this.type,
      Pond: this.Pond,
      size: this.size,
      Fishtype: this.Fishpond,
      Round: this.Round,
      Numberofdays: this.Numberofdays,
      startdate: this.startdate,
      Enddate: this.Enddate,
      
      }
      axios
        .post("http://127.0.0.1:8081/insertPond", Datafishpond)
        .then((response) => {
          console.log(response.data);
          if (response.data == true) {
            window.alert("Success");            
          } 
          else {
            window.alert("Fail");
          }
        })
        .catch((e) => {
          console.log(e);
        });
      },
      
      
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
.ex1 {
    margin-left: 100px;
  }
  .ex2 {
    margin-left: 75px;
  }
</style>