<template>
    <div style="font-family: 'Sarabun', sans-serif;" class="orange accent-1">
        <v-form v-model="valid">
            <v-container >
                <v-row justify="center">
                    <v-col >
                        <v-row justify = 'center'>
                            <v-col col="12" sm="5" md="4" lg="10">

                                <form-one v-if="step===1" />
                                <form-two v-if="step===2" />
                            </v-col>
                        </v-row>
                        <keep-alive>
                        <v-component v-bind:is="components"></v-component>                        
                        </keep-alive>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </div>
</template>

<script>

import fishpond from '../components/fishpond.vue';
import fishpond2 from '../components/fishpond2.vue';

export default {
    data() {
        return {
            valid:true,
            activeBtn: 0,
            step: 1,
            dialog: false,
            components:'',
        }
    },
    components: {
        'form-one': fishpond,
        'form-two': fishpond2,
    },


    methods: {
    scrollToTop() {
            window.scrollTo(0,0);
           },
    next() {
        this.step = this.step === 2 ? 1 : this.step + 1
         
    },
       
        
    },

}
</script>
<style>
.ex1{
    margin-left: 5px;
}
.ex2{
    margin-left: 40px;
}
.bottomright {
  position: absolute;
  bottom: 190px;
  right: 380px;
  font-size: 40px;
}

</style>