<template>
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col col="12" sm="5" md="7" lg="10">
      <v-toolbar class="title" style="background-color:#FF7700" dark dense ><v-col class="textC">การให้ผลิตภัณฑ์กับสัตว์น้ำ</v-col></v-toolbar>
      <v-card>
        <v-container>
          <v-row>
            <v-col class ='ex1' col="12" sm="5" md="4" lg="3">
              <p>ช่วงเวลาที่ให้อาหาร</p>
                <v-select
                v-model="time"
                :items="type1"
                label="ช่วงเวลา"
              ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col class ='ex1' col="12" sm="5" md="4" lg="4">
                <p>บ่อ/กระชังที่</p>
                <v-text-field
                  v-model="PondNo"
                  :counter="20"
                  label="บ่อที่"
                  outlined
                ></v-text-field>
              </v-col>
              <v-col class ='ex2' col="12" sm="5" md="4" lg="3">
                <p>รอบการเลี้ยงที่</p>
                <v-text-field
                  v-model="RoundNo"
                  label="รอบ"
                  outlined
                ></v-text-field>
              </v-col>
            </v-row>            
            
            <v-row>
            <v-col class ='ex1' col="12" sm="5" md="4" lg="3">
              <p>ประเภทของผลิตภัณฑ์ที่ให้</p>
                <v-select
                v-model="Typeproduct"
                :items="type4"
                label="ประเภทของผลิตภัณฑ์"
              ></v-select>
              </v-col>
            </v-row>
              <v-row>
            <v-col class ='ex1' col="12" sm="5" md="4" lg="4">
              <p>ชื่อผลิตภัณฑ์ที่ให้</p>
                <v-text-field
                  v-model="Nameproduct"
                  :counter="20"
                  label="ชื่อผลิตภัณฑ์"
                  outlined
                ></v-text-field>
                </v-col>
                <v-col class ='ex2' col="12" sm="5" md="4" lg="3">
                <p>ปริมาณผลิตภัณฑ์ที่ให้</p>
                <v-text-field
                  v-model="volume"
                  label="ปริมาณ"
                  outlined
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row justify="center">
            <v-btn large color="primary" @click="Submit();">
                    submit
          </v-btn>
          </v-row>
        </v-container>
      </v-card>
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>



<script>
import axios from "axios";
  export default {
    data (){return{
      valid: true,
      time :'',
      type1:['รอบเช้า', 'รอบบ่าย', 'รอบเย็น','รอบดึก'],
      PondNo:null,
      RoundNo:null,
      Typeproduct:'',
      type4: ['อาหาร', 'อาหารเสริม', 'ยา','สารเคมี'],
      Nameproduct:null,
      volume:'',



      
    }},
    mounted () {
      axios
      .get("http://127.0.0.1:8081/showNameFeed")

      .then((response) => {
        const datafood = response.data;
        this.Nameproducts = datafood
        console.log("xxxxx",this.Nameproducts);
      })
      .catch((e) => {
        console.log(e);
      });
    },

    methods: {
      Submit(){
      let Datagivefeed ={
        Farmid:this.$store.state.Farmid,  
      PondNo:this.PondNo,
      RoundNo:this.RoundNo,
      Typeproduct: this.Typeproduct,
      Nameproduct:this.Nameproduct,
      time: this.time,
      volume: this.volume,
      
      }
      axios
        .post("http://127.0.0.1:8081/insertFood", Datagivefeed)
        .then((response) => {
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
            window.alert("Success");
          } else {
            window.alert("Fail");
          }

        })
        .catch((e) => {
          console.log(e);
        });
      },      
      
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
 .ex1 {
    margin-left: 100px;
  }
  .ex2 {
    margin-left: 120px;
  }
.bottomright {
  position: absolute;
  bottom: 18px;
  right: 23px;
  font-size: 40px;
}
.bottom {
  position: absolute;
  bottom: 18px;
  font-size: 40px;
}

</style>