<template>
    <div style="font-family: 'Sarabun', sans-serif;" class="orange accent-1">
        <v-form v-model="valid">
            <v-container>
                <v-row justify="center">
                    <v-col >
                        <v-row justify = 'center'>
                            <v-col col="12" sm="5" md="4" lg="10">
                                <form-one v-if="step===1" />
                                <form-two v-if="step===2" />
                            </v-col>
                        </v-row>
                        <keep-alive>
                        <component v-bind:is="components"></component>                        
                        </keep-alive>
                    </v-col>
                </v-row>
                    <v-dialog v-model="dialog" persistent max-width="400">  
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on">Next</v-btn>
                        </template>
                            <v-card>
                                <v-card-title class="headline">โปรดบันทึกข้อมูลก่อนกดหน้าถัดไป!</v-card-title>
                                    <v-card-text>โปรดตรวจสอบข้อมูลของท่านให้ครบถ้วนก่อนทำการบันทึก หากท่านยังไม่ได้กดบันทึก คลิกที่ปุ่ม "CANCEL"</v-card-text>
                                    <v-card-actions>
                                    <v-spacer></v-spacer>
                                        <v-btn color="green darken-1" text @click="dialog = false">Cancel</v-btn>
                                        <v-btn color="green darken-1" text @click="next();scrollToTop();dialog = false">OK</v-btn>
                                    </v-card-actions>
                            </v-card>
                    </v-dialog>
            </v-container>
        </v-form>
    </div>
</template>

<script>

import givefood from '../components/givefood.vue';
import givefood2 from '../components/givefood2.vue';

export default {
    components: {
        'form-one': givefood,
        'form-two': givefood2,
    },


    data() {
        return {
            valid:true,
            components:'form-one',
            activeBtn: 0,
            dialog: false,
            step:"",
        }
    },
    methods: {
    scrollToTop() {
            window.scrollTo(0,0);
           },
    next() {
        this.step = this.step === 2 ? 1 : this.step + 1
         
    },
        
    },

}
</script>
<style>
.ex1{
    margin-left: 5px;
}
.ex2{
    margin-left: 40px;
}
.bottomright {
  position: absolute;
  bottom: 18px;
  right: 100px;
  font-size: 40px;
}

</style>