<template >
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col class="orange lighten-4" col="12" sm="5" md="7" lg="10"> 
    <v-card>
      <v-container>
      <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2><br>
      <h2 class="textC" style="border: 1px solid black;">การเก็บเกี่ยวและการขนส่ง</h2><br>

      <v-row>
      <v-col class= 'ex2' col="12" sm="10" md="4" lg="10">
      <h3>วางแผนเก็บเกี่ยวผลผลิตถูกต้องตามความต้องารของตลาด (ข้อแนะนำ)</h3><br>
      <p>การจับ</p>
      <v-radio-group v-model="Catching" row>
       <v-radio label="จับหมดครั้งเดียว" value="จับหมดครั้งเดียว"></v-radio>
       <v-radio label="แบ่งจับ (partial)" value="แบ่งจับ"></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>
      <v-row>
      <v-col class= 'ex2' col="12" sm="5" md="4" lg="5">
        <p>การจับสัตว์น้ำ</p>
      <v-radio-group v-model="Catchingfish" row>
       <v-radio label="จับเอง" value="จับเอง"></v-radio>
       <v-radio label="จ้างจับ" value="จ้างจับ"></v-radio>
      </v-radio-group>
      </v-col>
      <v-col class= 'ex2' col="12" sm="5" md="4" lg="5" >
      <p>แผนการจับสัตว์น้ำ</p>
      <v-radio-group v-model="Aquacultureplans" row>
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="7" >
      <p>ระบุแผนการจับ</p>
            <v-textarea
            v-model="captureplan"
            label="ระบุ"
            outlined
            ></v-textarea>
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="5" >
      <p>การทำความสะอาดสัตว์น้ำหลังการจับ</p>
      <v-radio-group v-model="Cleaningaquatic" row>
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
      </v-col>
      <v-col class='ex2' col="12" sm="5" md="4" lg="5">
      <p>พื้นที่จับและคัดแยก</p>
      <v-radio-group v-model="Captureandsortingarea" row>
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>
      <v-row>
        <v-col class='ex2' col="12" sm="5" md="4" lg="7">
        <p>รายละเอียดการคัดแยก</p>
              <v-textarea
              v-model="Details"
              label="ถ้ามี"
              outlined
              ></v-textarea>
        </v-col>
      </v-row>

      
      <v-row>   
      <v-col class='ex2' col="12" sm="10" md="4" lg="10">
      <h3>มีหนังสือกำกับการจำหน่ายสัตว์น้ำ และลูกพันธุ์สัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
      </v-col>
      </v-row>
      <v-row>   
      <v-col class='ex2' col="12" sm="5" md="4" lg="5">
          <p>MD (หนังสือกำกับการจำหน่ายสัตว์น้ำ)</p>
      <v-radio-group v-model="MD" row>  
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
       <v-btn raised class="green" @click="clickimg6list2"
                    >Upload file</v-btn
                  >
                  <input name="img6list2" type="file" style="display: none"
                  ref="img6list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg6list2"/>
      </v-radio-group>
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="6">
       <p>FMD (หนังสือกำกับการจำหน่ายลูกพันธุ์สัตว์น้ำ)</p>
      <v-radio-group v-model="FMD" row>  
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
       <v-btn raised class="green" @click="clickimg7list2"
                    >Upload file</v-btn
                  >
                  <input name="img7list2" type="file" style="display: none"
                  ref="img7list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg7list2"/>
      </v-radio-group> 
      </v-col>
      </v-row>

      <v-row>   
      <v-col class='ex2' col="12" sm="5" md="4" lg="5"> 
        <p>หลักฐานประกอบอื่นๆ</p>
      <v-btn raised class="green" @click="clickimg8list2"
                    >Upload file</v-btn
                  >
                  <input name="img8list2" type="file" style="display: none"
                  ref="img8list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg8list2"/>
      </v-col>
      </v-row>

      
      <v-row>
      <v-col class='ex2' col="12" sm="10" md="4" lg="11">
      <h3>มีการจัดการและดูแลรักษาสัตว์น้ำอย่างถูกสุขลักษณะระหว่างเก็บเกี่ยวและการขนส่ง (ข้อควรปฏิบัติ)</h3>
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="7">
      <p>รูปแบบการจำหน่าย</p>
            <v-textarea
            v-model="Formofsale"
            label="ระบุ"
            outlined
            ></v-textarea>
      </v-col>
      </v-row>
      <v-row>   
        <v-col class='ex2' col="12" sm="5" md="4" lg="7"> 
          <v-checkbox v-model="Transportation" 
            label="การขนส่ง (ถ้ามี)" 
            value="มีการขนส่ง" >
          </v-checkbox>

          <p>ระบุวิธีการขนส่งและการรักษาอุณหภูมิ</p>
              <v-textarea
              :disabled="!Transportation"              
              v-model="Methodandmaintaintemperature"
              label="ระบุ"
              outlined
              ></v-textarea>
      </v-col>
      </v-row>


      
      <v-row>
      <v-col class="ex2" col="12" sm="10" md="4" lg="9">
      <h3>ผลิตผลสัตว์น้ำที่เก็บเกี่ยว ต้องไม่มียาหรือสารเคมีตกค้างเกินมาตรฐาน (ข้อต้องปฏิบัติ)</h3><br>
      <p>ผลตรวจเนื้อสัตว์น้ำ</p>
      <v-radio-group v-model="examinationresults">
       <v-radio label="ผ่านเกณฑ์" value="ผ่านเกณฑ์"></v-radio>
       <v-radio label="ไม่ผ่านเกณฑ์ พบยา/สารเคมีตกค้าง" value="ไม่ผ่านเกณฑ์"></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>
      <v-row>   
      <v-col class="ex2" col="12" sm="5" md="4" lg="5">
      <p>เอกสารหลักฐาน</p>
      <v-btn raised class="green" @click="clickimg9list2"
                    >Upload file</v-btn
                  >
                  <input name="img9list2" type="file" style="display: none"
                  ref="img9list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg9list2"/>
      </v-col>
      </v-row>
      <br>
      <v-row justify="center">
    <v-btn color="primary" @click="Submit();">
              บันทึกข้อมูล
    </v-btn>
    </v-row>
    </v-container>
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data ()  { return{
      valid: true,
      chno: null,
      ChecklistNo:null,
      Catching:null,
      Catchingfish:null,
      Aquacultureplans:null,
      captureplan:null,
      Cleaningaquatic:null,
      Captureandsortingarea:null,
      Details:null,
      MD:null,
      FMD:null,
      Formofsale:null,
      Transportation:null,
      Methodandmaintaintemperature:null,
      examinationresults:null,
      img6list2: null,
      img7list2: null,
      img8list2: null,
      img9list2: null,  
    }},

    methods: {
      create5 () {
      let Fid ={
        Farmid:this.$store.state.Farmid
      }
      console.log(this.$store.state.Farmid);
      axios
      .post('http://127.0.0.1:8081/create5',Fid)

      .then((response) => {
          this.chno = response.data;
        })
        .catch((e) => {
          console.log(e);
        })
    },    

      async Submit() {
        await this.Upimg6list2();
        console.log("Uplodeimg1ok");
        await this.Upimg7list2();
        console.log("Uplodeimg2ok");
        await this.Upimg8list2();
        console.log("Uplodeimg3ok");
        await this.Upimg9list2();
        console.log("Uplodeimg4ok");      
      let harvesting = {
      Farmid:this.$store.state.Farmid, 
      Catching: this.Catching,
      Catchingfish: this.Catchingfish,
      Aquacultureplans: this.Aquacultureplans,
      captureplan: this.captureplan,
      Cleaningaquatic: this.Cleaningaquatic,
      Captureandsortingarea: this.Captureandsortingarea,
      Details: this.Details,
      MD: this.MD,
      FMD: this.FMD,
      Formofsale: this.Formofsale,
      Transportation: this.Transportation,
      Methodandmaintaintemperature: this.Methodandmaintaintemperature,
      examinationresults: this.examinationresults,  
      };
      console.log(harvesting);
      await axios
        .post("http://127.0.0.1:8081/insertChharvesting", harvesting)
        .then((response) => {
        console.log(response.data);  
        })
        .catch((e) => {
          console.log(e);
        });
          console.log("test5");
      },
      
      selectimg6list2(event) {
      console.log(event);
      this.img6list2 = event.target.files[0];
      console.log(this.img6list2);
      console.log("select file MD success");
      },
      Upimg6list2() {
        if(this.img6list2 !== null){
        const img6l2 = new FormData();
        img6l2.append("file", this.img6list2, this.img6list2.name);
        console.log("file MD");
        axios
          .post("http://127.0.0.1:8081/document-of-MD", img6l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg6list2() {
        this.$refs.img6list2input.click();
      },
      selectimg7list2(event) {
      console.log(event);
      this.img7list2 = event.target.files[0];
      console.log(this.img7list2);
      console.log("select file FMD success");
      },
      Upimg7list2() {
        if(this.img7list2 !== null){
        const img7l2 = new FormData();
        img7l2.append("file", this.img7list2, this.img7list2.name);
        console.log("file FMD");
        axios
          .post("http://127.0.0.1:8081/document-of-FMD", img7l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg7list2() {
        this.$refs.img7list2input.click();
      },
      selectimg8list2(event) {
      console.log(event);
      this.img8list2 = event.target.files[0];
      console.log(this.img8list2);
      console.log("select file MD-FMD success");
      },
      Upimg8list2() {
        if(this.img8list2 !== null){
        const img8l2 = new FormData();
        img8l2.append("file", this.img8list2, this.img8list2.name);
        console.log("file MD-FMD");
        axios
          .post("http://127.0.0.1:8081/document-of-Other-MD-FMD", img8l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg8list2() {
        this.$refs.img8list2input.click();
      },
      selectimg9list2(event) {
      console.log(event);
      this.img9list2 = event.target.files[0];
      console.log(this.img9list2);
      console.log("select file doc success");
      },
      Upimg9list2() {
        if(this.img9list2 !== null){
        const img9l2 = new FormData();
        img9l2.append("file", this.img9list2, this.img9list2.name);
        console.log("file doc");
        axios
          .post("http://127.0.0.1:8081/document-of-Aquaticmeat", img9l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg9list2() {
        this.$refs.img9list2input.click();
      },
      
      
      
    },
        scrollToTop() {
                window.scrollTo(0,0);
           }

  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
 .ex1 {
    margin-left: 75px;
  }
  .ex2 {
    margin-left: 75px;
  }
</style>