<template >
  <div style="font-family: 'Sarabun', sans-serif;">
    <v-form v-model="valid">
      <v-container>
        <v-row justify="center">
          <v-col class="orange lighten-4" col="12" sm="5" md="7" lg="10">
            <v-card>
              <v-container>
              <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2>
              <br />
              <h2 class="textC" style="border: 1px solid black;">การจัดการดูแลสุขภาพสัตว์น้ำ</h2>
              <br />


              <v-row>
                <v-col class='ex2' col="12" sm="12" md="10" lg="10">
                  <h3>มีการเตรียมบ่อที่ถูกวิธีเพื่อป้องกันโรคที่จะเกิดกับสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
                  <v-radio-group row v-model="pondisproperlyprepared">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg14list1">Upload image</v-btn>
                  <input name="img14list1" type="file" style="display: none"
                  ref="img14list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg14list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>

              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="11">
                  <h3>มีการเตรียมอุปกรณ์อย่างถูกวิธีเพื่อป้องกันโรคที่จะเกิดกับสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
                  <p>การทำความสะอาดอุปกรณ์/เครื่องมือ</p>
                  <v-radio-group v-model="Cleaning" row>
                    <v-radio label="ไม่ทำ" value="ไม่ทำ"></v-radio>
                    <v-radio label="ทำ" value="ทำ"></v-radio>
                    <v-btn raised class="green" @click="clickimg15list1">Upload image</v-btn>
                  <input name="img15list1" type="file" style="display: none"
                  ref="img15list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg15list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>

              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="8">
                  <h3>มีการเฝ้าระวังสุขภาพสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
                  <v-radio-group row v-model="Fishhealth">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg16list1">Upload image</v-btn>
                  <input name="img16list1" type="file" style="display: none"
                  ref="img16list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg16list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>

              
              <v-row>
                <v-col class='ex2' col="12" sm="12" md="10" lg="11">
                  <h3>เมื่อสัตว์น้ำแสดงอาการผิดปกติ ควรพิจารณาตรวจหาสาเหตุเบื้องต้น (ข้อควรปฏิบัติ)</h3>
                  </v-col>
              </v-row>
              <v-row>
                <v-col class='ex2' col="12" sm="4" md="4" lg="8">
                  <p>เมื่อสัตว์น้ำมีอาการผิดปกติมีการจัดการ</p>
                  <v-radio-group v-model="Abnormalsymptomsaremanaged">
                    <v-radio label="เปลี่ยนถ่ายน้ำ" value="เปลี่ยนถ่ายน้ำ"></v-radio>
                    <v-radio label="มีการให้อากาศ" value="มีการให้อากาศ"></v-radio>
                    <v-radio label="อื่นๆ" value="อุปกรณ์ความสะอาด"></v-radio>
                  </v-radio-group>
                  <v-text-field
                    v-model="Abnormalsymptomsaremanageddetail"
                    label="ระบุ"
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>การส่งสัตว์น้ำตรวจก่อนใช้ยา/สารเคมี</p>
                  <v-radio-group v-model="Sendingaquaticanimalsforinspection" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg17list1">Upload image</v-btn>
                  <input name="img17list1" type="file" style="display: none"
                  ref="img17list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg17list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>

              
              <v-row>
                <v-col class='ex2' col="12" sm="12" md="10" lg="11">
                  <h3>เมื่อสัตว์น้ำแสดงอาการผิดปกติ ควรพิจารณาตรวจหาสาเหตุเบื้องต้น (ข้อควรปฏิบัติ)</h3>
                  <p>การแจ้งเหตุ</p>
                  <v-radio-group v-model="Notification" row>
                    <v-radio label="ไม่แจ้ง" value="ไม่แจ้ง"></v-radio>
                    <v-radio label="แจ้ง" value="แจ้ง"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="7">
                  <p>วิธีการจัดการซาก</p>
                  <v-textarea v-model="Carcassmanagement" label="ระบุ" outlined></v-textarea>
                  <v-btn raised class="green" @click="clickimg18list1">Upload image</v-btn>
                  <input name="img18list1" type="file" style="display: none"
                  ref="img18list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg18list1"/>
                </v-col>
              </v-row>
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="7">
                  <p>วิธีการจัดการน้ำทิ้งเมื่อเกิดการระบาดของโรค</p>
                  <v-textarea v-model="Wastewatermanagement" label="ระบุ" outlined></v-textarea>
                  <v-btn raised class="green" @click="clickimg19list1">Upload image</v-btn>
                  <input name="img19list1" type="file" style="display: none"
                  ref="img19list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg19list1"/>
                </v-col>
              </v-row>

              <v-row justify="center">
                <!-- <v-btn color="primary">ย้อนกลับ</v-btn> -->
                <v-btn color="primary" @click="create3();Submit();">บันทึกข้อมูล</v-btn>
              </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "list1",
  data() {
    return {
      chno: null,
      valid: true,
      CheckListNo:null,
      pondisproperlyprepared:null,
      Cleaning:null,
      Fishhealth:null,
      Abnormalsymptomsaremanaged:null,
      Abnormalsymptomsaremanageddetail:null,
      Sendingaquaticanimalsforinspection:null,
      Notification:null,
      Carcassmanagement:null,
      Wastewatermanagement:null,
      
      img14list1: null,
      img15list1: null,
      img16list1: null,
      img17list1: null,
      img18list1: null,
      img19list1: null,
    };
  },

  methods: {
    create3 () {
      let Fid ={
        Farmid:this.$store.state.Farmid
      }
      console.log(this.$store.state.Farmid);
      axios
      .post('http://127.0.0.1:8081/create3',Fid)

      .then((response) => {
          this.chno = response.data;
        })
        .catch((e) => {
          console.log(e);
        })
    },    
    async Submit() {
      await this.Upimg14list1();
      console.log("Uplodeimg1ok");
      await this.Upimg15list1();
      console.log("Uplodeimg2ok");
      await this.Upimg16list1();
      console.log("Uplodeimg3ok");
      await this.Upimg17list1();
      console.log("Uplodeimg4ok");
      await this.Upimg18list1();
      console.log("Uplodeimg5ok");
      await this.Upimg19list1();
      console.log("Uplodeimg6ok");

      let health = {
        CheckListNo: this.chno,
        pondisproperlyprepared: this.pondisproperlyprepared,
        Cleaning: this.Cleaning,
        Fishhealth: this.Fishhealth,
        Abnormalsymptomsaremanaged: this.Abnormalsymptomsaremanaged,
        Abnormalsymptomsaremanageddetail: this.Abnormalsymptomsaremanageddetail,
        Sendingaquaticanimalsforinspection: this.Sendingaquaticanimalsforinspection,
        Notification: this.Notification,
        Carcassmanagement: this.Carcassmanagement,
        Wastewatermanagement: this.Wastewatermanagement
      };
      console.log(health);
      await axios
        .post("http://127.0.0.1:8081/insertChhealth", health)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    selectimg14list1(event) {
      console.log(event);
      this.img14list1 = event.target.files[0];
      console.log(this.img14list1);
      console.log("selectimg14 success");
    },
    Upimg14list1() {
      if(this.img14list1 !== null){
      const img14l1 = new FormData();
      img14l1.append("image", this.img14list1, this.img14list1.name);
      console.log("im14");
      axios
        .post("http://127.0.0.1:8081/image-of-Preparation--of--Ponds", img14l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image10");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg14list1() {
      this.$refs.img14list1input.click();
    },
    selectimg15list1(event) {
      console.log(event);
      this.img15list1 = event.target.files[0];
      console.log(this.img15list1);
      console.log("selectimg15 success");
    },
    Upimg15list1() {
      if(this.img15list1 !== null){
      const img15l1 = new FormData();
      img15l1.append("image", this.img15list1, this.img15list1.name);
      console.log("im15");
      axios
        .post("http://127.0.0.1:8081/image-of-Cleaning-equipment", img15l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image11");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg15list1() {
      this.$refs.img15list1input.click();
    },
    selectimg16list1(event) {
      console.log(event);
      this.img16list1 = event.target.files[0];
      console.log(this.img16list1);
      console.log("selectimg16 success");
    },
    Upimg16list1() {
      if(this.img16list1 !== null){
      const img16l1 = new FormData();
      img16l1.append("image", this.img16list1, this.img16list1.name);
      console.log("im16");
      axios
        .post("http://127.0.0.1:8081/image-of-aquatic-health", img16l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image12");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg16list1() {
      this.$refs.img16list1input.click();
    },
    selectimg17list1(event) {
      console.log(event);
      this.img17list1 = event.target.files[0];
      console.log(this.img17list1);
      console.log("selectimg17 success");
    },
    Upimg17list1() {
      if(this.img17list1 !== null){
      const img17l1 = new FormData();
      img17l1.append("image", this.img17list1, this.img17list1.name);
      console.log("im17");
      axios
        .post("http://127.0.0.1:8081/image-of-Sending", img17l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image13");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg17list1() {
      this.$refs.img17list1input.click();
    },
    selectimg18list1(event) {
      console.log(event);
      this.img18list1 = event.target.files[0];
      console.log(this.img18list1);
      console.log("selectimg18 success");
    },
    Upimg18list1() {
      if(this.img18list1 !== null){
      const img18l1 = new FormData();
      img18l1.append("image", this.img18list1, this.img18list1.name);
      console.log("im18");
      axios
        .post("http://127.0.0.1:8081/image-of-Carcass", img18l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image14");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg18list1() {
      this.$refs.img18list1input.click();
    },
    selectimg19list1(event) {
      console.log(event);
      this.img19list1 = event.target.files[0];
      console.log(this.img19list1);
      console.log("selectimg19 success");
    },
    Upimg19list1() {
      if(this.img19list1 !== null){
      const img19l1 = new FormData();
      img19l1.append("image", this.img19list1, this.img19list1.name);
      console.log("im19");
      axios
        .post("http://127.0.0.1:8081/image-of-Wastewater", img19l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image15");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg19list1() {
      this.$refs.img19list1input.click();
    },    
  },
    scrollToTop() {
                window.scrollTo(0,0);
           }

};
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
.ex1 {
    margin-left: 75px;
  }
  .ex2 {
    margin-left: 75px;
  }
</style>