<template >
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col class="orange lighten-4" col="12" sm="5" md="7" lg="10"> 
    <v-card>
      <v-container>
      <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2><br>
      <h2 class="textC" style="border: 1px solid black;">สุขลักษณะฟาร์ม</h2><br>
      
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="10">
        <h3>มีการจัดการระบบน้ำทิ้งเหมาะสม น้ำทิ้งจากบ้านเรือนต้องแยกจากระบบการเลี้ยง(ข้อควรปฏิบัติ)</h3><br>
        <p>ระบบระบายน้ำทิ้งจากบ้านเรือนแยกจากระบบการเลี้ยง</p>
        </v-col>
      </v-row>
        <v-row>
      <v-col class ='ex2' col="12" sm="5" md="4" lg="3">
        <v-select
          v-model="Splitsystem"
          label="การแยก"
          :items="Splitsystem1"
          outlined
        ></v-select>
      </v-col>
      <v-col class='ex2' col="12" sm="5" md="4" lg="3">
        <v-select
          v-model="Cleanlinesssystem"
          label="ความสะอาด"
          :items="Cleanlinesssystem1"
          outlined
        ></v-select>
      </v-col>
      </v-row>
      
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="10" >
      <h3>ห้องน้ำสุขาแยกเป็นสัดส่วนห่างจากบ่อเลี้ยง และมีระบบจัดการของเสียอย่าง ถูกสุขลักษณะ (ข้อควรปฏิบัติ)</h3>
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="5" >
      <p>ห้องน้ำ/ห้องสุขา ในบริเวณฟาร์ม</p>
      <v-radio-group col v-model="Bathroom" row>
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
       <v-btn raised class="green" @click="clickimg1list2"
                    >Upload image</v-btn
                  >
                  <input name="img1list2" type="file" style="display: none"
                  ref="img1list2input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg1list2"/>
      </v-radio-group>
      </v-col>
      </v-row>

      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="10">
      <p>สุขอนามัยของห้องน้ำ/ห้องสุขา</p>
      <v-radio-group  v-model="Hygiene" row>    
       <v-radio label="ไม่ถูกหลักสุขอนามัย" value="ไม่ถูกหลักสุขอนามัย"></v-radio>
       <v-radio label="ถูกหลักสุขอนามัย" value="ถูกหลักสุขอนามัย"></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="5">
      <p>การปนเปื้อนลงสู่บ่อ/แหล่งน้ำใช้</p>
      <v-radio-group v-model="Contamination" row>
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
       <v-btn raised class="green" @click="clickimg2list2"
                    >Upload image</v-btn
                  >
                  <input name="img2list2" type="file" style="display: none"
                  ref="img2list2input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg2list2"/>
      </v-radio-group>
      </v-col>
      </v-row>

      
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="10">
      <h3>มีระบบการจัดเก็บขยะที่ดี (ข้อควรปฏิบัติ)</h3><br>
      <p>ระบบจัดเก็บ/กำจัดขยะ</p>
      <v-radio-group  v-model="Garbagecollectionsystem" row>
      <v-radio label="มีถังขยะ" value="มีถังขยะ"></v-radio>
      <v-radio label="กำจัดขยะด้วยการเผา" value="กำจัดขยะด้วยการเผา" ></v-radio>
      <v-radio label="ขุดหลุมฝัง" value="ขุดหลุมฝัง"></v-radio>
      <v-radio label="มีรถหน่วยงานท้องถิ่นมาเก็บขยะ" value="มีรถหน่วยงานท้องถิ่นมาเก็บขยะ"></v-radio>
      <v-radio label="อื่นๆ"></v-radio>
      </v-radio-group>
      <v-btn raised class="green" @click="clickimg3list2"
                    >Upload image</v-btn
                  >
                  <input name="img3list2" type="file" style="display: none"
                  ref="img3list2input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg3list2"/>
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="5">
      <p>การคุ้ยเขี้ยของสัตว์เลี้ยงในฟาร์ม</p>
      <v-radio-group v-model="Scrabble" row>
       <v-radio label="ไม่มี" value="ไม่มี" ></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
       <v-btn raised class="green" @click="clickimg4list2"
                    >Upload image</v-btn
                  >
                  <input name="img4list2" type="file" style="display: none"
                  ref="img4list2input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg4list2"/>
      </v-radio-group>
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="5" >
      <p>พาหะนำโรค</p>
      <v-radio-group v-model="carrier" row>
       <v-radio label="ไม่พบ" value="ไม่พบ"></v-radio>
       <v-radio label="พบ" value="พบ"></v-radio>
       <v-btn raised class="green" @click="clickimg5list2"
                    >Upload file</v-btn
                  >
                  <input name="img5list2" type="file" style="display: none"
                  ref="img5list2input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg5list2"/>
      </v-radio-group>
      
      </v-col>
      </v-row>
      <v-row>
      <v-col class='ex2' col="12" sm="5" md="4" lg="7">
      <p>วิธีการป้องกัน</p>
            <v-textarea
            v-model="Prevention"
            label="วิธีการป้องกัน"
            outlined
            ></v-textarea>
      </v-col>
      </v-row>

        <v-row justify="center">
    <v-btn color="primary" @click="Submit();">
              บันทึกข้อมูล
    </v-btn>
    </v-row>



      </v-container>
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data ()  { return{
      chno: null,
      valid: true,
      ChecklistNo:null,
      Splitsystem:null,
      Splitsystem1:['ไม่แยก', 'แยก'],
      Cleanlinesssystem:null,
      Cleanlinesssystem1:['ไม่สะอาด', 'สะอาด'],
      Bathroom:null,
      Hygiene:null,
      Contamination:null,
      Garbagecollectionsystem:null,
      Scrabble:null,
      carrier:null,
      Prevention:null,
      
      img1list2: null, 
      img2list2: null,
      img3list2: null,
      img4list2: null,
      img5list2: null,  
    }},

    methods: {
      create4 () {
      let Fid ={
        Farmid:this.$store.state.Farmid
      }
      console.log(this.$store.state.Farmid);
      axios
      .post('http://127.0.0.1:8081/create4',Fid)
      .then((response) => {
          this.chno = response.data;
        })
        .catch((e) => {
          console.log(e);
        })
    },    

      async Submit() {
        await this.Upimg1list2();
        console.log("Uplodeimg1ok");
        await this.Upimg2list2();
        console.log("Uplodeimg2ok");
        await this.Upimg3list2();
        console.log("Uplodeimg3ok");
        await this.Upimg4list2();
        console.log("Uplodeimg4ok");
        await this.Upimg5list2();
        console.log("Uplodeimg5ok");      
      let Hygiene = {
      Farmid:this.$store.state.Farmid, 
      Splitsystem: this.Splitsystem,
      Cleanlinesssystem: this.Cleanlinesssystem,
      Bathroom: this.Bathroom,
      Hygiene: this.Hygiene,
      Contamination: this.Contamination,
      Garbagecollectionsystem: this.Garbagecollectionsystem,
      Scrabble: this.Scrabble,
      carrier: this.carrier,
      Prevention:this.Prevention,
        
      };
      console.log(Hygiene);
      await axios
        .post("http://127.0.0.1:8081/insertChHygiene", Hygiene)
        .then((response) => {
        console.log(response.data);  
        })
        .catch((e) => {
          console.log(e);
        });
          console.log("test Ch4");
      },
      selectimg1list2(event) {
      console.log(event);
      this.img1list2 = event.target.files[0];
      console.log(this.img1list2);
      console.log("selectimg1 success");
      },
      Upimg1list2() {
        if(this.img1list2 !== null){
        const img1l2 = new FormData();
        img1l2.append("image", this.img1list2, this.img1list2.name);
        console.log("im1");
        axios
          .post("http://127.0.0.1:8081/image-of-Toilet", img1l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg1list2() {
        this.$refs.img1list2input.click();
      },
      selectimg2list2(event) {
      console.log(event);
      this.img2list2 = event.target.files[0];
      console.log(this.img2list2);
      console.log("selectimg2 success");
      },
      Upimg2list2() {
        if(this.img2list2 !== null){
        const img2l2 = new FormData();
        img2l2.append("image", this.img2list2, this.img2list2.name);
        console.log("im2");
        axios
          .post("http://127.0.0.1:8081/image-of-Contamination", img2l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg2list2() {
        this.$refs.img2list2input.click();
      },
      selectimg3list2(event) {
      console.log(event);
      this.img3list2 = event.target.files[0];
      console.log(this.img3list2);
      console.log("selectimg3 success");
      },
      Upimg3list2() {
        if(this.img3list2 !== null){
        const img3l2 = new FormData();
        img3l2.append("image", this.img3list2, this.img3list2.name);
        console.log("im3");
        axios
          .post("http://127.0.0.1:8081/image-of-Garbage", img3l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg3list2() {
        this.$refs.img3list2input.click();
      },
      selectimg4list2(event) {
      console.log(event);
      this.img4list2 = event.target.files[0];
      console.log(this.img4list2);
      console.log("selectimg4 success");
      },
      Upimg4list2() {
        if(this.img4list2 !== null){
        const img4l2 = new FormData();
        img4l2.append("image", this.img4list2, this.img4list2.name);
        console.log("im4");
        axios
          .post("http://127.0.0.1:8081/image-of-Scraping", img4l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg4list2() {
        this.$refs.img4list2input.click();
      },
      selectimg5list2(event) {
      console.log(event);
      this.img5list2 = event.target.files[0];
      console.log(this.img5list2);
      console.log("selectfile1 success");
      },
      Upimg5list2() {
        if(this.img5list2 !== null){
        const img5l2 = new FormData();
        img5l2.append("file", this.img5list2, this.img5list2.name);
        console.log("im5");
        axios
          .post("http://127.0.0.1:8081/Document-of-Contagion", img5l2, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }},
      clickimg5list2() {
        this.$refs.img5list2input.click();
      },
      
      
      
      
      
    },
        scrollToTop() {
                window.scrollTo(0,0);
           }

  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
 .ex1 {
    margin-left: 75px;
  }
  .ex2 {
    margin-left: 75px;
  }
</style>