<template>
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col class="orange lighten-4" col="12" sm="5" md="7" lg="10"> 
    <v-card>
    <v-container>
      <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2><br>
      <h2 class="textC" style="border: 1px solid black;">สถานที่</h2><br>
      

      <v-row>   
      <v-col class ='ex2' col="12" sm="10" md="4" lg="10"> 
      <h3>แหล่งน้ำที่ใช้มีคุณภาพเหมาะสมต่อการเลี้ยงสัตว์น้ำ และปริมาณน้ำเพียงพอ (ข้อแนะนำ)</h3>
      <p>แหล่งน้ำที่ใช้</p>
            <v-btn raised class="green" @click="clickimg1list3"
                    >Upload image</v-btn
                  >
                  <input name="img1list3" type="file" style="display: none"
                  ref="img1list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg1list3"/>
      </v-col>
      </v-row>

      <v-row>
      <v-col class ='ex2' col="12" sm="5" md="4" lg="5">
        <p>ปริมาณน้ำ</p>
        <v-radio-group v-model="Watercontent" row>
       <v-radio label="ไม่เพียงพอ" value="ไม่เพียงพอ" ></v-radio>
       <v-radio label="เพียงพอ" value="เพียงพอ" ></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>
      
      <v-row>   
      <v-col class ='ex2' col="12" sm="5" md="4" lg="5">
        <p>ผลตรวจคุณภาพน้ำ (ถ้ามี)</p> 
      <v-btn raised class="green" @click="clickimg2list3"
                    >Upload file</v-btn
                  >
                  <input name="img2list3" type="file" style="display: none"
                  ref="img2list3input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg2list3"/>
      </v-col>
      </v-row>
      <v-row>
      <v-col class ='ex2' col="12" sm="12" md="6" lg="5">
        <h3>อยู่ห่างจากแหล่งกำเนิดมลพิษ (ข้อแนะนำ)</h3>
        </v-col>
      </v-row>
        <v-row>
      <v-col class ='ex2' col="12" sm="12" md="6" lg="5">
        <p>แหล่งกำเนิดมลพิษ</p>
      <v-radio-group v-model="Sourceofpollution" row>
       <v-radio label="ไม่มี" value="ไม่มี" ></v-radio>
       <v-radio label="มี" value="มี"></v-radio>
       <v-btn raised class="green" @click="clickimg3list3"
                    >Upload image</v-btn
                  >
                  <input name="img3list3" type="file" style="display: none"
                  ref="img3list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg3list3"/>
      </v-radio-group>
      
                  </v-col>
              <v-col class ='ex3' col="12" sm="12" md="6" lg="2">
            <p>ระยะห่าง</p>
           <v-text-field
            v-model="Distance"
            label="กม."
            outlined
            ></v-text-field>
      </v-col>
      </v-row>

      
      <v-row>   
      <v-col class ='ex2' col="12" sm="5" md="4" lg="5">
      <h3>มีระบบถ่ายเทน้ำที่ดี (ข้อแนะนำ)</h3>
      <p>ฟาร์มสามารถถ่ายเทน้ำได้</p>
      <v-radio-group v-model="cantransferwater" row>  
       <v-radio label="ไม่ดี" value="ไม่ดี" ></v-radio>
       <v-radio label="ดี" value="ดี" ></v-radio>
       <v-btn raised class="green" @click="clickimg4list3"
                    >Upload image</v-btn
                  >
                  <input name="img4list3" type="file" style="display: none"
                  ref="img4list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg4list3"/>
      </v-radio-group> 
      
      </v-col>
      </v-row>
      
      
      <v-row>
      <v-col class ='ex2' col="12" sm="10" md="4" lg="10">
        <h3>การคมนาคมสะดวกต่อการปฏิบัติงานและการขนส่ง (ข้อควรปฏิบัติ)</h3>
        <p>การคมนาคม</p>
      <v-radio-group v-model="Convenienttransportation" row> 
       <v-radio label="ไม่ถึงฟาร์ม" value="ไม่ถึงฟาร์ม"></v-radio>
       <v-radio label="ถึงฟาร์ม" value="ถึงฟาร์ม"></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>

      <v-row>
      <v-col class ='ex2' col="12" sm="5" md="4" lg="8"> 
        <p>ถนนภายในฟาร์ม</p>
      <v-radio-group v-model="roadinsidethefarm" row> 
       <v-radio label="ไม่สะดวก" value="ไม่สะดวก"></v-radio>
       <v-radio label="สะดวกในการขนย้ายวัสดุ/วัตถุดิบ/ผลผลิต" value="สะดวกในการขนย้ายวัสดุ/วัตถุดิบ/ผลผลิต" ></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>

      
      <v-row>
      <v-col class ='ex2' col="12" sm="10" md="4" lg="8">
        <h3>มีสาธารณูปโภคขั้นพื้นฐานที่จำเป็น (ข้อแนะนำ)</h3>
        <p>มีสาธารณูปโภคที่จำเป็น</p>
      <v-radio-group v-model="necessaryutilities" row>
       <v-radio label="ไม่เพียงพอ" value="ไม่เพียงพอ" ></v-radio>
       <v-radio label="เพียงพอ" value="เพียงพอ" ></v-radio>
      </v-radio-group>
      </v-col>
      </v-row>

      <v-row>   
      <v-col class ='ex2' col="12" sm="5" md="4" lg="3"> 
      <v-checkbox v-model="electricity" label="ไฟฟ้า(เฟส)" value="ไฟฟ้า(เฟส)"></v-checkbox>
      <v-text-field
            :disabled="!electricity"
            v-model="electricityvolume"
            label="เฟส"
            outlined
            ></v-text-field>
            </v-col>
            <v-col class ='ex2' col="12" sm="5" md="4" lg="3">
      <v-checkbox v-model="waterused" label="น้ำใช้ (ระบุ)"  value="น้ำที่ใช้"></v-checkbox>
      <v-text-field
            :disabled="!waterused"
            v-model="waterusedvolume"
            label="ถ้ามี"
            outlined
            ></v-text-field>
        </v-col>
      </v-row>

      <v-row>   
      <v-col class ='ex2' col="12" sm="5" md="4" lg="6">
      <v-checkbox
        v-model="Othernecessaryutilities" 
        label="อื่นๆ (ระบุ)" 
        value="อื่นๆ">
      </v-checkbox>
      <v-text-field
            :disabled="!Othernecessaryutilities"
            v-model="Othernecessaryutilitiesdetail"
            label="ถ้ามี"
            outlined
            ></v-text-field>
            </v-col>
      </v-row>
      <v-row>
      <v-col class ='ex2' col="12" sm="5" md="4" lg="6">
      <p>ระบบสำรอง</p>
      <v-radio-group v-model="Backupsystem" row>    
       <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
       <v-radio label="มี" value="มี" ></v-radio>
       <v-btn raised class="green" @click="clickimg5list3"
                    >Upload image</v-btn
                  >
                  <input name="img5list3" type="file" style="display: none"
                  ref="img5list3input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg5list3"/>
      </v-radio-group>            
      </v-col>
      </v-row>

      <v-row justify="center">
      <v-btn color="primary" @click="Submit();">
              บันทึกข้อมูล
    </v-btn>
    </v-row>
    </v-container>
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data : () => ({
      valid: true,
      chno: null,
      Watercontent:null,
      Sourceofpollution:null,   
      Distance:null,
      cantransferwater:null,
      Convenienttransportation:null,
      roadinsidethefarm:null,
      necessaryutilities:null,
      electricity:null,
      electricityvolume:null,
      waterused:null,
      waterusedvolume:null,
      Othernecessaryutilities:null,
      Othernecessaryutilitiesdetail:null,
      Backupsystem:null,
      img1list3: 'No',
      img2list3: 'No',
      img3list3: 'No',
      img4list3: 'No',
      img5list3: 'No',
    
      
    }),

    methods: {
        async Submit() {
        await this.Upimg1list3();
        console.log("Uplodeimg1ok");
        await this.Upimg2list3();
        console.log("Uplodeimg2ok");
        await this.Upimg3list3();
        console.log("Uplodeimg3ok");
        await this.Upimg4list3();
        console.log("Uplodeimg4ok");
        await this.Upimg5list3();
        console.log("Uplodeimg5ok");      
        
        let Datachlocation = {
          Farmid:this.$store.state.Farmid, 
          Watercontent: this.Watercontent,
          Sourceofpollution: this.Sourceofpollution,
          Distance: this.Distance,
          cantransferwater: this.cantransferwater,
          Convenienttransportation: this.Convenienttransportation,
          roadinsidethefarm:this.roadinsidethefarm,
          necessaryutilities: this.necessaryutilities,
          electricity:this.electricity,
          electricityvolume: this.electricityvolume,
          waterused:this.waterused,
          waterusedvolume: this.waterusedvolume,
          Othernecessaryutilities:this.Othernecessaryutilities,
          Othernecessaryutilitiesdetail: this.Othernecessaryutilitiesdetail,
          Backupsystem: this.Backupsystem,
        }
      axios
        .post("http://127.0.0.1:8081/insertChLocation", Datachlocation)
        .then((response) => {
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
         console.log("xxxx");
      },

      create1() {
      let Fid ={
        Farmid:this.$store.state.Farmid
      }
      console.log(this.$store.state.Farmid);
      axios
      .post('http://127.0.0.1:8081/create1',Fid)

      .then((response) => {
          this.chno = response.data;
          console.log('Checklist1 =',this.chno);
        })
        .catch((e) => {
          console.log(e);
        })
    },    

      selectimg1list3(event) {
      console.log(event);
      this.img1list3 = event.target.files[0];
      console.log(this.img1list3);
      console.log("selectimg1 success");
      },
      Upimg1list3() {
        const img1l3 = new FormData();
        img1l3.append("image", this.img1list3, this.img1list3.name);
        console.log("im1");
        axios
          .post("http://127.0.0.1:8081/image-of-WaterSource", img1l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg1list3() {
        this.$refs.img1list3input.click();
      },
      selectimg2list3(event) {
      console.log(event);
      this.img2list3 = event.target.files[0];
      console.log(this.img2list3);
      console.log("selectfile1 success");
      },
      Upimg2list3() {
        const img2l3 = new FormData();
        img2l3.append("file", this.img2list3, this.img2list3.name);
        console.log("file1");
        axios
          .post("http://127.0.0.1:8081/document-of-Water-Quality-test", img2l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg2list3() {
        this.$refs.img2list3input.click();
      },
      selectimg3list3(event) {
      console.log(event);
      this.img3list3 = event.target.files[0];
      console.log(this.img3list3);
      console.log("selectimg3 success");
      },
      Upimg3list3() {
        const img3l3 = new FormData();
        img3l3.append("image", this.img3list3, this.img3list3.name);
        console.log("im3");
        axios
          .post("http://127.0.0.1:8081/image-of-Sourceofpollution", img3l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg3list3() {
        this.$refs.img3list3input.click();
      },
      selectimg4list3(event) {
      console.log(event);
      this.img4list3 = event.target.files[0];
      console.log(this.img4list3);
      console.log("selectimg4 success");
      },
      Upimg4list3() {
        const img4l3 = new FormData();
        img4l3.append("image", this.img4list3, this.img4list3.name);
        console.log("im4");
        axios
          .post("http://127.0.0.1:8081/image-of-Water-transfer", img4l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg4list3() {
        this.$refs.img4list3input.click();
      },
      selectimg5list3(event) {
      console.log(event);
      this.img5list3 = event.target.files[0];
      console.log(this.img5list3);
      console.log("selectimg5 success");
      },
      Upimg5list3() {
        const img5l3 = new FormData();
        img5l3.append("image", this.img5list3, this.img5list3.name);
        console.log("im5");
        axios
          .post("http://127.0.0.1:8081/image-of-Backup", img5l3, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image");
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      clickimg5list3() {
        this.$refs.img5list3input.click();
      },
      scrollToTop() {
                window.scrollTo(0,0);
           },        
     
    },
  }
</script>
<style>
.textC {
  text-align: center;
}
.ex3 {
  margin-left: 75px;
}
.ex2 {
  margin-left: 75px;
}

</style>