<template >
  <div style="font-family: 'Sarabun', sans-serif;">
    <v-form v-model="valid">
      <v-container>
        <v-row justify="center">
          <v-col class="orange lighten-4" col="12" sm="5" md="7" lg="10">
            <v-card>
              <v-container>
              <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2>
              <br />
              <h2 class="textC" style="border: 1px solid black;">การจัดการฟาร์ม</h2>
              <br />
              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <h3>การเตรียมบ่อ (ข้อควรปฏิบัติ)</h3>
                  </v-col>
              </v-row>

              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>การปรับสภาพดินก้นบ่อ</p>
                  <v-radio-group v-model="Soilbottomingconditions" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg1list1">Upload image</v-btn>
                    <input name="img1list1" type="file" style="display: none"
                    ref="img1list1input" enctype=multipart/form-data accept="image/*"
                    @change="selectimg1list1"/>
                    </v-radio-group>
                  </v-col>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>การกำจัดศัตรูสัตว์น้ำ</p>
                  <v-radio-group v-model="Exterminationofaquaticpests" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg2list1">Upload image</v-btn>
                  <input name="img2list1" type="file" style="display: none"
                  ref="img2list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg2list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>
              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>การฆ่าเชื้อโรค</p>
                  <v-radio-group v-model="Disinfectionofponds" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  <v-btn raised class="green" @click="clickimg3list1">Upload image</v-btn>
                  <input name="img3list1" type="file" style="display: none"
                  ref="img3list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg3list1"/>
                  </v-radio-group>
                  </v-col>
                  <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>การปฏิบัติอื่นๆ</p>
                  <v-radio-group v-model="Otheraction" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg4list1">Upload image</v-btn>
                  <input name="img4list1" type="file" style="display: none"
                  ref="img4list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg4list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>

              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <h3>การเตรียมน้ำ (ข้อควรปฏิบัติ)</h3>
                  </v-col>
              </v-row>
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                    <p>การกรองน้ำก่อนเข้าบ่อ </p>
                  <v-radio-group v-model="Waterfiltering" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg5list1">Upload image</v-btn>
                  <input name="img5list1" type="file" style="display: none"
                  ref="img5list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg5list1"/>
                  </v-radio-group>
                </v-col>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                <p>การฆ่าเชื้อโรค</p>
                  <v-radio-group v-model="Disinfectionofwater" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg6list1">Upload image</v-btn>
                  <input name="img6list1" type="file" style="display: none"
                  ref="img6list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg6list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>
                <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                <p>การปรับคุณภาพน้ำ</p>
                  <v-radio-group v-model="Waterqualityadjustment" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg7list1">Upload image</v-btn>
                  <input name="img7list1" type="file" style="display: none"
                  ref="img7list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg7list1"/>
                  </v-radio-group>
                </v-col>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                    <p>การจัดการอื่นๆ</p>
                  <v-radio-group v-model="OtherManagement" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg8list1">Upload image</v-btn>
                  <input name="img8list1" type="file" style="display: none"
                  ref="img8list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg8list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>


              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <h3>อัตราปล่อยลูกพันธุ์ (ข้อแนะนำ)</h3>
                  </v-col>
              </v-row>
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="3">
                  <p>จำนวนลูกพันธุ์</p>
                  <v-text-field v-model="Numberofoffspring" label="ระบุ" outlined ></v-text-field>
                </v-col>
              </v-row>

              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="10">
                  <h3>น้ำทิ้งจากบ่อเลี้ยงต้องมีค่าไม่เกินค่ามาตรฐานน้ำทิ้งจากการเพาะเลี้ยงสัตว์น้ำของกรมประมง (ข้อแนะนำ)</h3>
                  </v-col>
              </v-row>
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>การทิ้งน้ำออกจากฟาร์ม</p>
                  <v-radio-group row v-model="Dischargingwaterfromthefarm">
                    <v-radio label="ไม่ทิ้ง" value="ไม่ทิ้ง"></v-radio>
                    <v-radio label="ทิ้ง" value="ทิ้ง"></v-radio>
                  </v-radio-group>
                  </v-col>
                  <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>มีรายงานน้ำทิ้ง</p>
                  <v-radio-group row v-model="reportofsewage">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg9list1">Upload file</v-btn>
                  <input name="img9list1" type="file" style="display: none"
                  ref="img9list1input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg9list1"/>
                  </v-radio-group>
                </v-col>
              </v-row>
              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>มีผลวิเคราะห์คุณภาพน้ำทิ้ง</p>
                  <v-radio-group row v-model="thewastewaterquality">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                    <v-btn raised class="green" @click="clickimg10list1">Upload file</v-btn>
                  <input name="img10list1" type="file" style="display: none"
                  ref="img10list1input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg10list1"/>
                  </v-radio-group>
                </v-col>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>ข้อร้องเรียนจากฟาร์ม/ชุมชนข้างเคียง</p>
                  <v-radio-group row v-model="Complaintsfromfarms">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
            

              
                <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="10">
                  <h3>มีการทำความสะอาดเครื่องมือและอุปกรณ์อย่างสม่ำเสมอ (ข้อควรปฏิบัติ)</h3>
                  <p>ความสะอาดหญ้ารอบบ่อ</p>
                  <v-radio-group row v-model="Cleanlinessofgrass">
                    <v-radio label="ไม่สะอาด" value="ไม่สะอาด"></v-radio>
                    <v-radio label="สะอาด" value="สะอาด"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="8">
                  <p>อุปกรณ์ ความสะอาด/การดูแล</p>
                  <v-radio-group v-model="equipment">
                    <v-radio label="มีการแยกอุปกรณ์ประจำบ่อ" value="มีการแยกอุปกรณ์ประจำบ่อ"></v-radio>
                    <v-radio
                      label="จัดวาง/แขวนเป็นสัดส่วนเป็นระเบียบเรียบร้อย"
                      value="จัดวางแขวนเป็นสัดส่วนเป็นระเบียบเรียบร้อย"
                    ></v-radio>
                    <v-radio label="มีการทำความสะอาดประจำ" value="มีการทำความสะอาดประจำ"></v-radio>
                    <v-radio label="อื่นๆ" value="ข้อมูลอื่นๆ"></v-radio>
                  </v-radio-group>
                  <v-btn raised class="green" @click="clickimg12list1">Upload image</v-btn>
                  <input name="img12list1" type="file" style="display: none"
                  ref="img12list1input" enctype=multipart/form-data accept="image/*"
                  @change="selectimg12list1"/>
                </v-col>
              </v-row>

              
              <v-row>
                <v-col class='ex2' col="12" sm="12" md="10" lg="10">
                  <h3>ป้องกันไม่ให้มีการปนเปื้อนของมูลสัตว์ลงในบ่อเลี้ยง (ข้อควรปฏิบัติ)</h3>
                  <v-radio-group v-model="Preventcontamination" row>
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>

              
              <v-row>
                <v-col class='ex2' col="12" sm="12" md="10" lg="10">
                  <h3>ไม่ใช้มูลสัตว์สดในขั้นตอนการเลี้ยงสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
                  <v-radio-group v-model="notusefreshmanure" row>
                    <v-radio label="ไม่ใช้" value="ไม่ใช้"></v-radio>
                    <v-radio label="ใช้" value="ใช้"></v-radio>
                  </v-radio-group>

                  <p>ขั้นตอนปฏิบัติในการนำมาใช้</p>
                  <v-btn raised class="green" @click="clickimg13list1">Upload file</v-btn>
                  <input name="img13list1" type="file" style="display: none"
                  ref="img13list1input" enctype=multipart/form-data accept="file/*"
                  @change="selectimg13list1"/>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
              </v-row>

              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="8">
                  <h3>มีการจัดเก็บปัจจัยการผลิตอย่างถูกสุขลักษณะ (ข้อควรปฏิบัติ)</h3>
                  </v-col>
                  </v-row>
                  <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>สถานที่จัดเก็บ</p>
                  <v-text-field v-model="Storagelocation" label="ระบุ" outlined ></v-text-field>
                </v-col>
                <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                  </v-row>
                  <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>ภาชนะที่ใช้</p>
                  <v-text-field v-model="Containerused" label="ระบุ" outlined ></v-text-field>
                </v-col>
                <v-col class='ex2' col="12" sm="5" md="4" lg="3">
                  <p>สภาพสถานที่จัดเก็บ</p>
                  <v-select v-model="Storagecondition" label="เลือกรายการ" :items="Storagecondition1" outlined></v-select>
                </v-col>
              </v-row>
              
              <v-row>
                <v-col class='ex2'  col="12" sm="5" md="4" lg="5">
                  <p>แท่นรองปัจจัยการผลิตกันความชื้น</p>
                  <v-radio-group row v-model="Cradleofinputs">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col  class='ex2' col="12" sm="5" md="4" lg="5">
                  <p>การจัดเก็บ</p>
                  <v-radio-group row v-model="Storage">
                    <v-radio label="เป็นระเบียบ" value="เป็นระเบียบ"></v-radio>
                    <v-radio label="ไม่เป็นระเบียบ" value="ไม่เป็นระเบียบ"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
              
              <v-row>
                <v-col class='ex2' col="12" sm="5" md="4" lg="4">
                  <p>การจัดวาง</p>
                  <v-select v-model="Management" label="เลือกรายการ" :items="Management1" outlined></v-select>
                </v-col>
              </v-row>

              <v-row class="ex2">
                <v-col col="12" sm="5" md="4" lg="10">
                  <p>ระบบกำจัดสัตว์ที่เป็นพาหะนำโรค/สัตว์อื่นๆ</p>
                  <v-radio-group row v-model="Animaldisposalsystem">
                    <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                    <v-radio label="มี" value="มี"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>

              <v-row justify="center">
                <!-- <v-btn color="primary">ย้อนกลับ</v-btn> -->
                <v-btn color="primary" @click="create2();Submit();">บันทึกข้อมูล</v-btn>
              </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>


<script>
import axios from "axios";
export default {
  name: "list1",
  data() {
    return {
      chno: null,
      valid: true,
      CheckListNo:null,
      Soilbottomingconditions:null,
      Exterminationofaquaticpests:null,
      Disinfectionofponds:null,
      Otheraction:null,
      Waterfiltering:null,
      Disinfectionofwater:null,
      Waterqualityadjustment:null,
      OtherManagement:null,
      Numberofoffspring:null,
      Dischargingwaterfromthefarm:null,
      reportofsewage:null,
      thewastewaterquality:null,
      Complaintsfromfarms:null,
      Cleanlinessofgrass:null,
      equipment:null,
      Preventcontamination:null,
      notusefreshmanure:null,
      Storagelocation:null,
      Containerused:null,
      Storagecondition:null,
      Storagecondition1:['กันแดด','กันฝน','อากาศถ่ายเทสะดวก'],
      Cradleofinputs:null,
      Storage:null,
      Management:null,
      Management1: ['แยกเป็นสัดส่วน','ไม่เป็นสัดส่วน','วางติดผนัง','ไม่ติดผนัง'],
      Animaldisposalsystem:null,
      
      img1list1: null,
      img2list1: null,
      img3list1: null,
      img4list1: null,
      img5list1: null,
      img6list1: null,
      img7list1: null,
      img8list1: null,
      img9list1: null,
      img10list1: null,

      img12list1: null,
      img13list1: null,
      
    };
  },

  methods: {
    create2 () {
      let Fid ={
        Farmid:this.$store.state.Farmid
      }
      console.log(this.$store.state.Farmid);
      axios
      .post('http://127.0.0.1:8081/create2',Fid)

      .then((response) => {
          this.chno = response.data;
        })
        .catch((e) => {
          console.log(e);
        })
    },    
    async Submit() {
      await this.Upimg1list1();
      console.log("Uplodeimg1ok");
      await this.Upimg2list1();
      console.log("Uplodeimg2ok");
      await this.Upimg3list1();
      console.log("Uplodeimg3ok");
      await this.Upimg4list1();
      console.log("Uplodeimg4ok");
      await this.Upimg5list1();
      console.log("Uplodeimg5ok");
      await this.Upimg6list1();
      console.log("Uplodeimg6ok");
      await this.Upimg7list1();
      console.log("Uplodeimg7ok");
      await this.Upimg8list1();
      console.log("Uplodeimg8ok");
      await this.Upimg9list1();
      console.log("Uplodeimg9ok");
      await this.Upimg10list1();
      console.log("Uplodeimg10ok");
      await this.Upimg12list1();
      console.log("Uplodeimg11ok");
      await this.Upimg13list1();
      console.log("Uplodeimg12ok");

      let Managementfarm = {
        CheckListNo: this.chno,
        Soilbottomingconditions: this.Soilbottomingconditions,
        Exterminationofaquaticpests: this.Exterminationofaquaticpests,
        Disinfectionofponds: this.Disinfectionofponds,
        Otheraction: this.Otheraction,
        Waterfiltering: this.Waterfiltering,
        Disinfectionofwater: this.Disinfectionofwater,
        Waterqualityadjustment: this.Waterqualityadjustment,
        OtherManagement: this.OtherManagement,
        Numberofoffspring: this.Numberofoffspring,
        Dischargingwaterfromthefarm: this.Dischargingwaterfromthefarm,
        reportofsewage: this.reportofsewage,
        thewastewaterquality: this.thewastewaterquality,
        Complaintsfromfarms: this.Complaintsfromfarms,
        Cleanlinessofgrass: this.Cleanlinessofgrass,
        equipment: this.equipment,
        Preventcontamination: this.Preventcontamination,
        notusefreshmanure: this.notusefreshmanure,
        Storagelocation: this.Storagelocation,
        Containerused: this.Containerused,
        Storagecondition: this.Storagecondition,
        Cradleofinputs: this.Cradleofinputs,
        Storage: this.Storage,
        Management: this.Management,
        Animaldisposalsystem: this.Animaldisposalsystem,
        
      };
      console.log(Managementfarm);
      await axios
        .post("http://127.0.0.1:8081/insertChManagefarm", Managementfarm)
        .then(response => {
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    selectimg1list1(event) {
      console.log(event);
      this.img1list1 = event.target.files[0];
      console.log(this.img1list1);
      console.log("selectimg1 success");
    },
    async Upimg1list1() {
      if(this.img1list1 !== null){
      const img1l1 = new FormData();
      img1l1.append("image", this.img1list1, this.img1list1.name);
      console.log("im1");
      await axios
        .post("http://127.0.0.1:8081/img--soil", img1l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image1");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg1list1() {
      this.$refs.img1list1input.click();
    },
    selectimg2list1(event) {
      console.log(event);
      this.img2list1 = event.target.files[0];
      console.log(this.img2list1);
      console.log("selectimg2 success");
    },
    async Upimg2list1() {
      if(this.img2list1 !== null){
      const img2l1 = new FormData();
      img2l1.append("image", this.img2list1, this.img2list1.name);
      console.log("im2");
      await axios
        .post("http://127.0.0.1:8081/img--ExtermAquatic", img2l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image2");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg2list1() {
      this.$refs.img2list1input.click();
    },
    selectimg3list1(event) {
      console.log(event);
      this.img3list1 = event.target.files[0];
      console.log(this.img3list1);
      console.log("selectimg3 success");
    },
    async Upimg3list1() {
      if(this.img3list1 !== null){
      const img3l1 = new FormData();
      img3l1.append("image", this.img3list1, this.img3list1.name);
      console.log("im3");
      await axios
        .post("http://127.0.0.1:8081/img--Disinfection", img3l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image3");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg3list1() {
      this.$refs.img3list1input.click();
    },
    selectimg4list1(event) {
      console.log(event);
      this.img4list1 = event.target.files[0];
      console.log(this.img4list1);
      console.log("selectimg4 success");
    },
    async Upimg4list1() {
      if(this.img4list1 !== null){
      const img4l1 = new FormData();
      img4l1.append("image", this.img4list1, this.img4list1.name);
      console.log("im4");
      await axios
        .post("http://127.0.0.1:8081/documentofotheraction", img4l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image4");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg4list1() {
      this.$refs.img4list1input.click();
    },
    selectimg5list1(event) {
      console.log(event);
      this.img5list1 = event.target.files[0];
      console.log(this.img5list1);
      console.log("selectimg5 success");
    },
    async Upimg5list1() {
      if(this.img5list1 !== null){
      const img5l1 = new FormData();
      img5l1.append("image", this.img5list1, this.img5list1.name);
      console.log("im5");
      await axios
        .post("http://127.0.0.1:8081/img--Waterfiltering", img5l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image5");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg5list1() {
      this.$refs.img5list1input.click();
    },
    selectimg6list1(event) {
      console.log(event);
      this.img6list1 = event.target.files[0];
      console.log(this.img6list1);
      console.log("selectimg6 success");
    },
    Upimg6list1() {
      if(this.img6list1 !== null){
      const img6l1 = new FormData();
      img6l1.append("image", this.img6list1, this.img6list1.name);
      console.log("im6");
      axios
        .post("http://127.0.0.1:8081/img--DisinfectionWater", img6l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image6");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg6list1() {
      this.$refs.img6list1input.click();
    },
    selectimg7list1(event) {
      console.log(event);
      this.img7list1 = event.target.files[0];
      console.log(this.img7list1);
      console.log("selectimg7 success");
    },
    Upimg7list1() {
      if(this.img7list1 !== null){
      const img7l1 = new FormData();
      img7l1.append("image", this.img7list1, this.img7list1.name);
      console.log("im7");
      axios
        .post("http://127.0.0.1:8081/img--Wateradjustment", img7l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image7");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg7list1() {
      this.$refs.img7list1input.click();
    },
    selectimg8list1(event) {
      console.log(event);
      this.img8list1 = event.target.files[0];
      console.log(this.img8list1);
      console.log("selectimg8 success");
    },
    Upimg8list1() {
      if(this.img8list1 !== null){
      const img8l1 = new FormData();
      img8l1.append("image", this.img8list1, this.img8list1.name);
      console.log("im8");
      axios
        .post("http://127.0.0.1:8081/other--Management", img8l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image8");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg8list1() {
      this.$refs.img8list1input.click();
    },
    selectimg9list1(event) {
      console.log(event);
      this.img9list1 = event.target.files[0];
      console.log(this.img9list1);
      console.log("selectfile1 success");
    },
    Upimg9list1() {
      if(this.img9list1 !== null){
      const img9l1 = new FormData();
      img9l1.append("file", this.img9list1, this.img9list1.name);
      console.log("file1");
      axios
        .post("http://127.0.0.1:8081/docReport-waste-water", img9l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not file");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg9list1() {
      this.$refs.img9list1input.click();
    },
    selectimg10list1(event) {
      console.log(event);
      this.img10list1 = event.target.files[0];
      console.log(this.img10list1);
      console.log("selectfile2 success");
    },
    Upimg10list1() {
      if(this.img10list1 !== null){
      const img10l1 = new FormData();
      img10l1.append("file", this.img10list1, this.img10list1.name);
      console.log("file2");
      axios
        .post("http://127.0.0.1:8081/document-of-water-quality", img10l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not file");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg10list1() {
      this.$refs.img10list1input.click();
    },
    // selectimg11list1(event) {
    //   console.log(event);
    //   this.img11list1 = event.target.files[0];
    //   console.log(this.img11list1);
    //   console.log("selectimg11 success");
    // },
    // Upimg11list1() {
    //   if(this.img11list1 !== null){
    //   const img11l1 = new FormData();
    //   img11l1.append("image", this.img11list1, this.img11list1.name);
    //   console.log("im11");
    //   axios
    //     .post("http://127.0.0.1:8081/pic-of-Clean-Grass", img11l1, {
    //       headers: { "Content-Type": "multipart/form-data" },
    //     })
    //     .then((response) => {
    //       // JSON responses are automatically parsed.
    //       console.log(response.data);
    //       if (response.data) {
    //         // this.$router.push("/Home");
    //       } else {
    //         window.alert("Not image8");
    //       }
    //     })
    //     .catch((e) => {
    //       console.log(e);
    //     });
    // }},
    // clickimg11list1() {
    //   this.$refs.img11list1input.click();
    // },
    selectimg12list1(event) {
      console.log(event);
      this.img12list1 = event.target.files[0];
      console.log(this.img12list1);
      console.log("selectimg12 success");
    },
    Upimg12list1() {
      if(this.img12list1 !== null){
      const img12l1 = new FormData();
      img12l1.append("image", this.img12list1, this.img12list1.name);
      console.log("im12");
      axios
        .post("http://127.0.0.1:8081/pic-of-Equipmaintenance", img12l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image9");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg12list1() {
      this.$refs.img12list1input.click();
    },
    selectimg13list1(event) {
      console.log(event);
      this.img13list1 = event.target.files[0];
      console.log(this.img13list1);
      console.log("selectfile3 success");
    },
    Upimg13list1() {
      if(this.img13list1 !== null){
      const img13l1 = new FormData();
      img13l1.append("file", this.img13list1, this.img13list1.name);
      console.log("file3");
      axios
        .post("http://127.0.0.1:8081/document-of-Implementation", img13l1, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not file");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    }},
    clickimg13list1() {
      this.$refs.img13list1input.click();
    },
        
  },
    scrollToTop() {
                window.scrollTo(0,0);
           }

};
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
.ex1 {
    margin-left: 75px;
  }
  .ex2 {
    margin-left: 75px;
  }
</style>