<template >
<div style="font-family: 'Sarabun', sans-serif;" >
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col  col="12" sm="5" md="4" lg="10">
      <v-toolbar class="title" style="background-color:#FF7700" dark dense ><v-col class="textC">ปัญหาและการบำรุงรักษาในสถานที่เพาะเลี้ยง</v-col></v-toolbar>
      <v-card>
        <v-container>
          <v-row>
              <v-col class="ex4" cols="10" sm="5" md="4" lg="3">
                <v-menu
                  v-model="menu1"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="DayMonthYear"
                      label="วันที่เกิดปัญหา"
                      prepend-icon="event"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="DayMonthYear" @input="menu1 = false"></v-date-picker>
                </v-menu>
              </v-col>
          </v-row>
          
          <v-row class="ex4">
            <v-col col="12" sm="5" md="4" lg="4">
            <p>บ่อที่เกิดปัญหา</p>
              <v-text-field
                v-model="pondsaffectedbyexternalfactors"
                :counter="50"
                label="บ่อที่"
                outlined
              ></v-text-field>
            </v-col>
             <!-- <v-col col="12" sm="5" md="4" lg="4">
            <p>รอบที่เกิดปัญหา</p>
              <v-text-field
                v-model="round"
                :counter="50"
                label="บ่อที่"
                outlined
              ></v-text-field>
            </v-col> -->
          </v-row>
          
          <v-row class="ex4">
            <v-col  col="10" sm="5" md="4" lg="5">
              <p>ปัจจัยที่ทำให้เกิดปัญหา</p>
              <v-text-field
                v-model="Factorsproblems"
                :counter="50"
                label="ปัจจัยที่ทำให้เกิดปัญหา"
                outlined
              ></v-text-field>
              </v-col>
              <v-col class="ex4" col="10" sm="5" md="4" lg="5">
              <p>ผลกระทบที่ได้รับ</p>
              <v-text-field
                v-model="ImpactofExternal"
                :counter="50"
                label="ผลกระทบ"
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          
          <v-row class="ex4">
            <v-col col="12" sm="5" md="4" lg="8">
              <p>วิธีการแก้ปัญหา</p>
              <v-textarea
                v-model="Howtosolvetheproblem"
                :counter="200"
                label="วิธีการแก้ปัญหา"
                outlined
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row class="ex4">
            <v-col col="10" sm="5" md="4" lg="4">
              <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="DayMonthYearstart"
                label="วันที่เริ่มแก้ไขปัญหา"
                prepend-icon="event"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="DayMonthYearstart" @input="menu2 = false"></v-date-picker>
          </v-menu>
          </v-col>
          <v-col class ='ex1' col="10" sm="5" md="4" lg="4">
          <v-menu
            v-model="menu3"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="DayMonthYearstop"
                label="วันที่หยุดแก้ปัญหา"
                prepend-icon="event"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="DayMonthYearstop" @input="menu3 = false"></v-date-picker>
          </v-menu>
            </v-col>
          </v-row>
          <v-row class="ex4">
            <v-col col="12" sm="5" md="4" lg="5">
              <p>ชื่อผู้รับผิดชอบ</p>
              <v-text-field
                v-model="NameofResponsibleperson"
                :counter="50"
                label="ชื่อผู้รับผิดชอบ"
                outlined
              ></v-text-field>
            </v-col>
            <v-col col="12" sm="5" md="4" lg="5">
              <p>นามสกุลผู้รับผิดชอบ</p>
              <v-text-field
                v-model="SurnameofResponsibleperson"
                :counter="50"
                label="นามสกุลผู้รับผิดชอบ"
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row justify="center">
          <v-btn color="primary" @click="Submit">
                  submit
                </v-btn>
                </v-row>
        </v-container>

      </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>



<script>
import axios from "axios";
  export default {
    data (){ return{
      valid: true,
      pondsaffectedbyexternalfactors:'',
      // round:'',
      DayMonthYear:'',
      Factorsproblems:'',
      ImpactofExternal:'',
      NameofResponsibleperson:'',
      SurnameofResponsibleperson:'',
      Howtosolvetheproblem:'',
      DayMonthYearstart:'',
      DayMonthYearstop:'',


      menu1:'',
      menu2:'',
      menu3:'',      
      

    }},
    mounted () {
        console.log('farmid',this.$store.state.Farmid );
    },

    methods: {
      Submit(){
      let Dataproblem ={
      Farmid:this.$store.state.Farmid,  
      pondsaffectedbyexternalfactors: this.pondsaffectedbyexternalfactors,
      // round:this.round,
      DayMonthYear: this.DayMonthYear,
      Factorsproblems: this.Factorsproblems,
      ImpactofExternal: this.ImpactofExternal,
      NameofResponsibleperson: this.NameofResponsibleperson,
      SurnameofResponsibleperson: this.SurnameofResponsibleperson,
      Howtosolvetheproblem: this.Howtosolvetheproblem,
      DayMonthYearstart: this.DayMonthYearstart, 
      DayMonthYearstop: this.DayMonthYearstop,
      }
      axios
        .post("http://127.0.0.1:8081/insertEven", Dataproblem)
        .then((response) => {
          console.log(response.data);
         if (response.data) {
            // this.$router.push("/Home");
            window.alert("Success");
          } else {
            window.alert("Fail");
          }

        })
        .catch((e) => {
          console.log(e);
        });
      },
      
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
.ex1 {
  margin-left: 75px;
}
.ex4 {
  margin-left: 45px;
}
.ex3 {
  margin-left: 50px;
}
.bottomright {
  position: absolute;
  bottom: 18px;
  right: 23px;
  font-size: 40px;
}
.bottom {
  position: absolute;
  bottom: 18px;
  font-size: 40px;
}

</style>