<template>
  <div>
    <v-form v-model="valid">
      <v-container>
        <v-row justify="center">
          <v-col col="12" sm="5" md="4" lg="8">
            <v-card class="orange lighten-4 shbox" width="100%">
              <v-container>
                <div style="margin:auto">
                  <h2 class="textC">ลงทะเบียนฟาร์มเพาะเลี้ยงสัตว์น้ำ</h2>
                  <v-row justify="center">
                    <v-col col="12" sm="5" md="4" lg="5">
                      <p>ชื่อฟาร์ม</p>
                      <v-text-field
                        v-model="FarmName"
                        label="ระบุ"
                        outlined
                        shaped
                      ></v-text-field>
                    </v-col>
                    <v-col col="12" sm="5" md="4" lg="5">
                      <p>ชื่อเจ้าของ</p>
                      <v-text-field
                        v-model="FarmOwner"
                        label="ระบุ"
                        outlined
                        shaped
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <hr noshade="noshade" width="100%" size="2" />
                </div>
                <br />
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>เลขที่</p>
                    <v-text-field
                      v-model="FarmNumber"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>หมู่ที่</p>
                    <v-text-field
                      v-model="FarmGroup"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>ตำบล</p>
                    <v-text-field
                      v-model="FarmCanton"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>อำเภอ</p>
                    <v-text-field
                      v-model="FarmDistrict"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>จังหวัด</p>
                    <v-text-field
                      v-model="FarmProvince"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>พิกัดภูมิศาสตร์ GPS ********</p>
                    <v-text-field
                      v-model="GPS"
                      label="พิกัด"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="8" md="6" lg="5">
                    <p>แผนผังฟาร์ม</p>
                    <v-btn raised class="green" @click="onPickimg1"
                      >Upload image
                    </v-btn>
                    <input name="imgplan" type="file" style="display: none "
                    ref="imgfarmInput1" enctype=multipart/form-data
                    accept="image/*" @change="onImgselected1" >
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="8" md="6" lg="5">
                    <p>มีการขึ้นทะเบียนฟาร์มอย่างถูกต้อง</p>
                    <v-radio-group v-model="Farmregistration">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio
                        label="มี ยังไม่หมดอายุ"
                        value="มี ยังไม่หมดอายุ"
                      ></v-radio>
                      <v-radio
                        label="มีและหมดอายุ"
                        value="มีและหมดอายุ"
                      ></v-radio>
                      <v-radio
                        label="อยู่ระหว่างยื่นคำขอ"
                        value="อยู่ระหว่างยื่นคำขอ"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="8" md="6" lg="5">
                    <p>เอกสารหลักฐาน</p>
                    <v-radio-group row v-mod="Documentfarm">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio label="มี" value="มี"></v-radio>
                    </v-radio-group>
                    <v-btn raised class="green" @click="onPickFile"
                      >Upload File</v-btn
                    >
                    <input name="filefarm" type="file" style="display: none"
                    ref="filefarmInput" enctype=multipart/form-data
                    accept="file/*" @change="onFileselected"/>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>เริ่มดำเนินกิจการ</p>
                    <v-text-field
                      v-model="Year"
                      label="พุทธศักราช"
                      outlined
                    ></v-text-field>
                    <v-radio-group v-model="Startoperation">
                      <v-radio
                        label="พื้นที่ส่วนตัว"
                        value="พื้นที่ส่วนตัว"
                      ></v-radio>
                      <v-radio
                        label="เช่าดำเนินการ"
                        value="เช่าดำเนินการ"
                      ></v-radio>
                    </v-radio-group>
                    <v-text-field
                      v-model="NumberOfYears"
                      label="จำนวนปี"
                      outlined
                    ></v-text-field>
                    <v-radio-group v-model="OtherInformationForStarting">
                      <v-radio label="อื่นๆ ระบุ" value="อื่นๆ"></v-radio>
                    </v-radio-group>
                    <v-text-field
                      v-model="Other"
                      label="รายละเอียด"
                      outlined
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="4" md="3" lg="5">
                    <p>พื้นที่ฟาร์มทั้งหมด</p>
                    <v-text-field
                      v-model="TotalFarmArea"
                      label="ไร่"
                      outlined
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="6" md="4" lg="5">
                    <p>บ่อพักน้ำ</p>
                    <v-radio-group v-model="Pond">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio label="มี" value="มี"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>จำนวนบ่อ</p>
                    <v-text-field
                      v-model="NumberOfReservoirs"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>ไร่/ตร.ม.</p>
                    <v-text-field
                      v-model="NumberOfAcresAndPondareas"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="6" md="4" lg="5">
                    <p>บ่อเก็บเลน</p>
                    <v-radio-group v-model="Lenstorage">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio label="มี" value="มี"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>จำนวนบ่อ</p>
                    <v-text-field
                      v-model="NumberOfLensStorage"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>ไร่/ตร.ม.</p>
                    <v-text-field
                      v-model="NumberOfAcresAndLensStorage"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>ระบบบำบัดน้ำทิ้ง</p>
                    <v-radio-group v-model="SewagetreatmentSystem">
                      <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                      <v-radio label="มี   ระบุ" value="มี"></v-radio>
                    </v-radio-group>
                    <v-btn raised class="green" @click="onPickimg2"
                      >Upload image</v-btn
                    >
                    <input name="imgfarm2" type="file" style="display: none"
                    ref="imgfarmInput2" enctype=multipart/form-data
                    accept="image/*" @change="onImgselected2"/>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>บ่อเลี้ยง</p>
                    <v-radio-group v-model="Pondperiod">
                      <v-radio label="บ่อขุดใหม่" value="บ่อขุดใหม่"></v-radio>
                      <v-radio label="บ่อเก่า" value="บ่อเก่า"></v-radio>
                    </v-radio-group>
                    <v-text-field
                      v-model="NumberofYearsOfOldDiggingwell"
                      label="จำนวนปี"
                      outlined
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="6" md="4" lg="5">
                    <p>รูปแบบการเพาะเลี้ยง</p>
                    <v-select
                      v-model="Culture"
                      label="เลือกรายการ"
                      outlined
                    ></v-select>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>พื้นที่เพาะ/เลี้ยงทั้งหมด</p>
                    <v-text-field
                      v-model="Allculturedareas"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <p>จำนวนบ่อ/กระชัง</p>
                    <v-text-field
                      v-model="NumberofFloatingcages"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="4" md="3" lg="5">
                    <p>ผลผลิตปีที่แล้วของฟาร์ม</p>
                    <v-text-field
                      v-model="Lastyearfarmoutput"
                      label="จำนวน"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="3" md="2" lg="5">
                    <br />
                    <br />
                    <p>ตัน</p>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="3" md="2" lg="5">
                    <p>สภาวการณ์ลงทุนที่ผ่านมา</p>
                    <v-select
                      v-model="PastInvestmentSituation"
                      label="เลือกรายการ"
                      outlined
                    ></v-select>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="8" md="6" lg="5">
                    <p>สถานภาพของฟาร์ม</p>
                    <v-radio-group v-model="Farmstatus">
                      <v-radio
                        label="กำลังเลี้ยง"
                        value="กำลังเลี้ยง"
                      ></v-radio>
                      <v-radio label="พักบ่อ" value="พักบ่อ"></v-radio>
                      <v-radio
                        label="หยุดการเลี้ยงแต่คาดว่าจะดำเนินการ"
                        value="หยุดการเลี้ยงแต่คาดว่าจะดำเนินการ"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="3" md="2" lg="5">
                    <p>การบันทึกข้อมูล</p>
                    <v-select
                      v-model="Datarecording"
                      label="เลือกรายการ"
                      outlined
                    ></v-select>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-col col="12" sm="4" md="3" lg="5">
                    <p>รายละเอียดอื่นๆ (ถ้ามี)</p>
                    <v-text-field
                      v-model="Otherdetails"
                      label="ระบุ"
                      outlined
                      shaped
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>
                <v-btn color="primary" @click="SubmitSignup()">
                  submit
                </v-btn>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    valid: true,
    FarmName: "",
    FarmOwner: "",
    FarmNumber: "",
    FarmGroup: "",
    FarmCanton: "",
    FarmDistrict: "",
    FarmProvince: "",
    GPS: "",
    Farmregistration: "",
    Documentfarm: "",
    Year: "",
    Startoperation: "",
    NumberOfYears: "",
    OtherInformationForStarting: "",
    Other:"",
    TotalFarmArea: "",
    Pond: "",
    NumberOfReservoirs: "",
    NumberOfAcresAndPondareas: "",
    Lenstorage: "",
    NumberOfLensStorage: "",
    NumberOfAcresAndLensStorage: "",
    SewagetreatmentSystem: "",
    Pondperiod: "",
    NumberofYearsOfOldDiggingwell: "",
    Culture: "",
    Allculturedareas: "",
    NumberofFloatingcages: "",
    Lastyearfarmoutput: "",
    Quantityproduced: "",
    PastInvestmentSituation: "",
    Farmstatus: "",
    Datarecording: "",
    Otherdetails: "",
    selectFile:null,
    selectimg1:null,
    selectimg2:null,
  }),

  methods: {
    SubmitSignup() {
      let obj = {
        FarmName: this.FarmName,
        FarmOwner: this.FarmOwner,
        FarmNumber: this.FarmNumber,
        FarmGroup: this.FarmGroup,
        FarmCanton: this.FarmCanton,
        FarmDistrict: this.FarmDistrict,
        FarmProvince: this.FarmProvince,
        GPS: this.GPS,
        Farmregistration: this.Farmregistration,
        Documentfarm: this.Documentfarm,
        Year: this.Year,
        Startoperation: this.Startoperation,
        NumberOfYears: this.NumberOfYears,
        OtherInformationForStarting: this.OtherInformationForStarting,
        Other:this.Other,
        TotalFarmArea: this.TotalFarmArea,
        Pond: this.Pond,
        NumberOfReservoirs: this.NumberOfReservoirs,
        NumberOfAcresAndPondareas: this.NumberOfAcresAndPondareas,
        Lenstorage: this.Lenstorage,
        NumberOfLensStorage: this.NumberOfLensStorage,
        NumberOfAcresAndLensStorage: this.NumberOfAcresAndLensStorage,
        SewagetreatmentSystem: this.SewagetreatmentSystem,
        Pondperiod: this.Pondperiod,
        NumberofYearsOfOldDiggingwell: this.NumberofYearsOfOldDiggingwell,
        Culture: this.Culture,
        Allculturedareas: this.Allculturedareas,
        NumberofFloatingcages: this.NumberofFloatingcages,
        Lastyearfarmoutput: this.Lastyearfarmoutput,
        Quantityproduced: this.Quantityproduced,
        PastInvestmentSituation: this.PastInvestmentSituation,
        Farmstatus: this.Farmstatus,
        Datarecording: this.Datarecording,
        Otherdetails: this.Otherdetails,
      };
      console.log(obj);
      axios
        .post("http://127.0.0.1:8081/insert", obj)
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          //     if (response.data) {
          //       window.alert(' insert correct')
          //       this.$router.push('/Home')
          //     }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    onImgselected1(event) {
      console.log(event);
      this.selectimg1 = event.target.files[0];
      console.log(this.selectimg1);
      console.log("selectimg1 success");
    },
    onUplodeimg1() {
      const img = new FormData();
      img.append("image", this.selectimg1, this.selectimg1.name);
      console.log("im1");
      axios
        .post("http://127.0.0.1:8081/img", img, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    onPickimg1() {
      this.$refs.imgfarmInput1.click();
    },
    onImgselected2(event) {
      console.log(event);
      this.selectimg2 = event.target.files[0];
      console.log(this.selectimg2);
      console.log("selectimg2 success");
    },
    onUplodeimg2() {
      const img = new FormData();
      img.append("image", this.selectimg2, this.selectimg2.name);
      console.log("im2");
      axios
        .post("http://127.0.0.1:8081/img", img, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not image");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    onPickimg2() {
      this.$refs.imgfarmInput2.click();
    },
    onFileselected(event) {
      console.log(event);
      this.selectFile = event.target.files[0];
      console.log(this.selectFile);
      console.log("selectFile success");
    },
    onUplodefile() {
      const file = new FormData();
      file.append("file", this.selectFile, this.selectFile.name);
      console.log("file");
      axios
        .post("http://127.0.0.1:8081/img", file, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            // this.$router.push("/Home");
          } else {
            window.alert("Not file");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    onPickFile() {
      this.$refs.filefarmInput.click();
    },
  },
};
</script>
<style>
.bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>
