<template  >
<div style="font-family: 'Sarabun', sans-serif;" >
<v-form v-model="valid">
  <v-container >   
    <v-row justify='center'>
      <v-col>          
            <v-container>
                
                <!-- รายงานการตรวจสอบ -->
                <v-row>
                  <v-col>
                    <v-card>
                      <v-app-bar style="background-color:#FF7700" clipped-left dark dense>
                        <h3>รายงานการให้อาหาร</h3>
                      </v-app-bar>
                      <v-alert>
                        <v-data-table
                            :headers="headers"
                            :items="foods"
                            :items-per-page="10"
                            class="elevation-1"
                        ></v-data-table>                    
                        </v-alert>
                    </v-card>
                  </v-col>
                </v-row>
            </v-container>
      </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data: () => ({
      valid: true,

        headers: [
          {
            text: 'No',
            align: 'start',
            value: '0',
          },
          { text: 'วัน/เวลา', value: '1' },
          { text: 'ช่วงเวลาที่ให้', value: '2' },
          { text: 'บ่อ', value: '3' },
          { text: 'รอบ', value: '4' },
          { text: 'ประเภทผลิตภัณฑ์', value: '5' },
          { text: 'ชื่ออาหาร', value: '6' },
          { text: 'ปริมาณที่ให้',value: '7' },

        ],
        foods: [],

    }),
    mounted () {
     let x ={Farmid:this.$store.state.Farmid}
    axios
      .post("http://127.0.0.1:8081/showFood",x)

      .then((response) => {
        const datafood = response.data;
        this.foods = datafood
        console.log("xxxxx",this.foods);
      })
      .catch((e) => {
        console.log(e);
      });
    },
  

   
  }
</script>
<style>
.textC {
  text-align: center;
}
  .ex1 {
    margin-left: 45px;
  }
  .ex2 {
    margin-left: 180px;
  }
  .ex3 {
    margin-left: 110px;
  }

</style>