<template  >
<div style="font-family: 'Sarabun', sans-serif;" >
<v-form v-model="valid">
  <v-container >   
    <v-row justify='center'>
      <v-col>          
            <v-container>
                <v-row>
                  <v-col>
                    <v-card>
                      <v-app-bar style="background-color:#FF7700" clipped-left dark dense>
                        <h3>รายงานการเกิดปัญหาภายในฟาร์ม</h3>
                      </v-app-bar>
                      <v-alert>
                        <v-data-table
                            :headers="headers"
                            :items="problem"
                            :items-per-page="10"
                            class="elevation-1"
                        ></v-data-table>                    
                        </v-alert>
                    </v-card>
                  </v-col>
                </v-row>
            </v-container>
      </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data: () => ({
      valid: true,

        headers: [
          {
            text: 'No',
            align: 'start',
            value: '0',
          },
          { text: 'วันที่เกิดปัญหา', value: '1' },
          { text: 'บ่อที่เกิดปัญหา', value: '2' },
          { text: 'ปัจจัยที่ทำให้เกิด', value: '3' },
          { text: 'ผลกระทบ', value: '4' },
          { text: 'วิธีการแก้ปัญหา', value: '5' },
          { text: 'วันที่เริ่มแก้ไข', value: '6' },
          { text: 'วันที่หยุดแก้ไข', value: '7' },
          { text: 'ชื่อผู้รับผิดชอบ', value: '8' },
          { text: 'นามสกุลผู้รับผิดชอบ', value: '9' },

        ],
        problem: [],

    }),
    mounted () {
     let x ={Farmid:this.$store.state.Farmid}
    axios
      .post("http://127.0.0.1:8081/showEven",x)

      .then((response) => {
        const dataproblem = response.data;
        this.problem = dataproblem
        console.log("xxxxx",this.problem);
      })
      .catch((e) => {
        console.log(e);
      });
    },
  

   
  }
</script>
<style>

</style>