<template  >
<div style="font-family: 'Sarabun', sans-serif;" >
<v-form v-model="valid">
  <v-container >   
    <v-row justify='center'>
      <v-col col="12" sm="5" md="4" lg="10">          
            <v-container>
                <v-row>
                  <v-col>
                    <v-card>
                      <v-app-bar style="background-color:#FF7700" clipped-left dark dense>
                        <h3>บันทึกข้อมูลเวลาการตรวจสอบ</h3>
                      </v-app-bar>
                      <v-alert>
                        <v-data-table
                            :headers="headers"
                            :items="checklist"
                            :items-per-page="10"
                            class="elevation-1"
                        ><template v-slot:top> 
                            <v-dialog v-model="dialog" max-width="500px">
                              <v-card>
                                <v-card-title>
                                  <span class="headline">img</span>
                                </v-card-title>
                                <v-card-text>
                                  <v-container>
                                    <v-img src="https://picsum.photos/510/300?random" aspect-ratio="1.7"></v-img>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close"
                                    >OK</v-btn
                                  >
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                        </template>
                        <template v-slot:item.actions="{ item }">
                          <v-icon small class="mr-2" @click="editItem(item)">
                            mdi-pencil
                          </v-icon>
                        </template>
                        </v-data-table>                    
                        </v-alert>
                    </v-card>
                  </v-col>
                </v-row>
            </v-container>
      </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data: () => ({
      valid: true,
      dialog: null,
        headers: [
          {
            text: 'No',
            align: 'start',
            value: 'name',
          },
          { text: 'วันที่/เวลา', value: 'time' },
          { text: 'การตรวจสอบ', value: 'val' },
          { text: "Actions", value: "actions", sortable: false },

        ],
        checklist: [],

    }),
    mounted () {
      axios
      .get("http://127.0.0.1:8081/showFeed")

      .then((response) => {
        const datalist = response.data;
        this.checklist = datalist
        console.log("xxxxx",this.checklist);
      })
      .catch((e) => {
        console.log(e);
      });
    },
     watch: {
      dialog (val) {
        val || this.close()
      },
    },

    methods: {
      editItem () {
        this.dialog = true
      },

      close () {
        this.dialog = false
      },
    },
  

   
  

   
  }
</script>
<style>
.textC {
  text-align: center;
}
  .ex1 {
    margin-left: 45px;
  }
  .ex2 {
    margin-left: 180px;
  }
  .ex3 {
    margin-left: 110px;
  }

</style>