<template  >
<div style="font-family: 'Sarabun', sans-serif;" >
<v-form v-model="valid">
  <v-container >   
    <v-row justify='center'>
      <v-col col="12" sm="5" md="4" lg="10">          
            <v-container>
                <v-row>
                  <v-col>
                    <v-card>
                      <v-toolbar style="background-color:#FF7700" clipped-left dark dense>
                        <h3>รายงานการตรวจสอบ</h3>
                      </v-toolbar>
                      <v-alert>
                        <v-data-table
                            :headers="headers"
                            :items="checklist"
                            :items-per-page="10"
                            class="elevation-1"
                        ><template v-slot:top>
                          <v-toolbar flat color="white">    
                            <v-dialog v-model="dialog" max-width="500px">
                              <v-card>
                                <v-card-title>
                                  <span class="headline">img</span>
                                </v-card-title>
                                <v-card-text>
                                  <v-container>
                                   <v-carousel>
                        <v-carousel-item
                          v-for="(item,i) in items"
                          :key="i"
                          :src="item.src"
                          reverse-transition="fade-transition"
                          transition="fade-transition"
                        ></v-carousel-item>
                      </v-carousel>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close"
                                    >OK</v-btn
                                  >
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-toolbar>
                        </template>
                        <template v-slot:item.actions="{ item }">
                          <v-icon small class="mr-2" @click="editItem(item)">
                            mdi-pencil
                          </v-icon>
                        </template>

                        </v-data-table>                    
                        </v-alert>
                    </v-card>
                  </v-col>
                </v-row>
            </v-container>
      </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data: () => ({
      valid: true,
      

        headers: [
          {
            text: 'ชื่อการตรวจสอบ',
            align: 'start',
            value: 'name',
          },
          { text: 'ผลการตรวจ', value: 'val' },
          { text: 'Pictures', sortable: false, value: 'Pictures' },
          { text: 'Videos', sortable: false, value: 'Videos' },

        ],
        checklist: [],
        items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          },
        ],
  

    }),
    mounted () {
      axios
      .get("")

      .then((response) => {
        const data = response.data;
        this.checklist = data
        console.log("xxxxx",this.checklist);
      })
      .catch((e) => {
        console.log(e);
      });
    },
   
  }
</script>
<style>
.textC {
  text-align: center;
}
  .ex1 {
    margin-left: 45px;
  }
  .ex2 {
    margin-left: 180px;
  }
  .ex3 {
    margin-left: 110px;
  }

</style>