<template >
<div  >
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col  col="12" sm="5" md="4" lg="8"> 
    <v-card class="orange lighten-4 shbox" width="90%">
      <v-container>
        <div style="text-align:center;">
      <h1>แนวทางแก้ไขปัญหาและการบำรุงรักษา</h1>
      </div>
    <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
        <p>บ่อปลาที่ได้รับผลกระทบ</p>
          <v-text-field
            v-model="pondsaffectedbyexternalfactors"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5" >
          <p>วันที่ได้รับผลกระทบ</p>
          <v-text-field
            v-model="DayMonthYear"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5" >
          <p>ปัจจัยที่ทำให้เกิดปัญหา</p>
          <v-text-field
            v-model="Factorsproblems"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5" >
          <p>ผลกระทบที่เกิดขึ้น</p>
          <v-text-field
            v-model="ImpactofExternal"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5" >
          <p>วิธีการแก้ปัญหา/บำรุงรกษา</p>
          <v-text-field
            v-model="Howtosolvetheproblem"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
       <!-- <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5" >
          <p>การฟื้นฟูหลังจากแก้ไขปัญหาที่เกิดขึ้น</p>
          <v-text-field
            v-model="Reconstruction"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row> -->

      <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5" >
          <p>วันที่เริ่มแก้ไขปัญหา/บำรุงรักษา</p>
          <v-text-field
            v-model="DayMonthYearstart"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5" >
          <p>วันที่หยุดแก้ปัญหา/บำรุงรักษา</p>
          <v-text-field
            v-model="DayMonthYearstop"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5" >
          <p>ชื่อผู้รับผิดชอบ</p>
          <v-text-field
            v-model="NameofResponsibleperson"
            label="ชื่อผู้รับผิดชอบ"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
         </v-row>
         <v-row justify="center">
        <v-col  col="12" sm="5" md="4" lg="5">
          <v-text-field
            v-model="SurnameofResponsibleperson"
            label="นามสกุลผู้รับผิดชอบ"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

    
        
      </v-container>
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>



<script>
  import axios from "axios";
  export default {
    data: () => ({
      valid: true,
      pondsaffectedbyexternalfactors:'',
      DayMonthYear:'',
      Factorsproblems:'',
      ImpactofExternal:'',
      Howtosolvetheproblem:'',
      // Reconstruction:'',
      DayMonthYearstart:'',
      DayMonthYearstop:'',
      NameofResponsibleperson:'',
      SurnameofResponsibleperson:'',

    }),
    mounted () {
      // let id ={
      //   userid:this.$store.state.usernum
      // }
      axios
      .get('http://127.0.0.1:8081/showEvent')
      .then(response => {
        const dataprob = response.data;
        this.pondsaffectedbyexternalfact = dataprob[0][0];
        this.DayMonthYear = dataprob[0][1];
        this.Factorsproblems = dataprob[0][2];
        this.ImpactofExternal = dataprob[0][3];
        this.Howtosolvetheproblem = dataprob[0][0];
        this.DayMonthYearstart = dataprob[0][0];
        this.DayMonthYearstop = dataprob[0][0];
        this.NameofResponsibleperson = dataprob[0][0];
        this.SurnameofResponsibleperson = dataprob[0][0];
        console.log(dataprob);
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      },

    methods: {
      validate () {
        this.$refs.form.validate()
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>