<template >
<div style="font-family: 'Sarabun', sans-serif;">
<v-form v-model="valid">
  <v-container>   
    <v-row justify='center'>
      <v-col col="12" sm="5" md="4" lg="10">          
            <v-container>
                <!-- Profile -->
                <v-card>
                  <v-app-bar style="background-color:#FF7700" clipped-left dark dense>
                    <h3>ข้อมูลส่วนตัว</h3>
                  </v-app-bar>
                  <v-row >
                  <v-col class="ex1" col="12" sm="5" md="4" lg="4">
                    <v-col>
                    <p>หมายเลขบัตรประจำตัวประชาชน</p>
                    <v-text-field
                      v-model="IDcard"
                      solo
                      readonly
                    ></v-text-field>
                  </v-col>  
                  </v-col>
                  </v-row>

                  <v-row class="ex1">
                  <v-col  col="12" sm="5" md="4" lg="4" >
                      <p>ชื่อ-นามสกุล(ภาษาไทย)</p>
                      <v-text-field
                    v-model ="FarmOwner"
                    solo
                    readonly
                    ></v-text-field>
                  </v-col>
                  <v-col class="ex3" col="12" sm="5" md="4" lg="4">
                      <p>ชื่อ-นามสกุล(ภาษาอังกฤษ)</p>
                      <v-text-field 
                      v-model ="FarmOwnereng"
                      solo
                      readonly
                      ></v-text-field>
                  </v-col>
                  </v-row>


                  <v-row class="ex1">
                  <v-col  col="12" sm="5" md="4" lg="3">
                      <p>วันเกิด</p> <v-text-field 
                      class="d-inline-block text-truncate"
                      style="max-width: 150px;"
                      v-model="date"
                      solo
                      readonly
                      ></v-text-field>   
                  </v-col>
                  <v-col class="ex2" col="12" sm="5" md="4" lg="3">
                      <p>เบอร์โทรศัพท์</p> <v-text-field 
                      v-model="tel"
                      solo
                      readonly
                      ></v-text-field> 
                  </v-col>
                  </v-row>
                  <v-row class="ex1">
                  <v-col  col="12" sm="5" md="4" lg="4">
                      <p>Email Address</p><v-text-field 
                      v-model="email"
                      solo
                      readonly            
                      ></v-text-field>    
                  </v-col>
                  </v-row>
                </v-card>
                
                <!-- ที่อยู่ -->
                <v-row>
                  <v-col>
                    <v-card>
                      <v-app-bar style="background-color:#FF7700" clipped-left dark dense>
                        <h3>ที่อยู่</h3>
                      </v-app-bar>
                      <v-alert>
                        <v-row class="ex1">
                          <v-col  col="12" sm="5" md="4" lg="2">
                              <p>บ้านเลขที่</p><v-text-field 
                              v-model="HouseNumber"
                              solo
                              readonly
                              ></v-text-field>    
                          </v-col>
                          <v-col class="ex3" col="12" sm="5" md="4" lg="1">
                              <p>หมู่ที่</p><v-text-field 
                              v-model="HouseGroup"
                              solo
                              readonly
                              ></v-text-field>    
                          </v-col>
                          </v-row>
                          <v-row class="ex1">
                          <v-col  col="12" sm="5" md="4" lg="3">
                              <p>ซอย</p><v-text-field 
                              v-model="HouseAlley"
                              solo
                              readonly
                              ></v-text-field>    
                          </v-col>
                          <v-col class="ex4" col="12" sm="5" md="4" lg="3">
                              <p>ถนน</p><v-text-field 
                              v-model="HouseRoad"
                              solo
                              readonly
                              ></v-text-field>    
                          </v-col>
                          <v-col class="ex4" col="12" sm="5" md="4" lg="3">
                              <p>ตำบล</p><v-text-field 
                              v-model="HouseCanton"
                              solo
                              readonly
                              ></v-text-field>    
                          </v-col>
                          </v-row>
                          <v-row class="ex1">
                          <v-col  col="12" sm="5" md="4" lg="3">
                              <p>อำเภอ :</p><v-text-field 
                              v-model="HouseDistrict"
                              solo
                              readonly
                              ></v-text-field>    
                          </v-col>
                          <v-col  col="12" sm="5" md="4" lg="4">
                              <p>จังหวัด :</p><v-text-field 
                              v-model="HouseProvince"
                              solo
                              readonly
                              ></v-text-field>    
                          </v-col>
                        </v-row>
                      </v-alert>
                    </v-card>
                  </v-col>
                </v-row>
            </v-container>
      </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
import axios from "axios";
  export default {
    data: () => ({
      valid: true,
      FarmOwner:'',
      FarmOwnereng:'',
      IDcard:'',
      date:'',
      email:'',
      tel:'',
      HouseNumber:'',
      HouseGroup:'',
      HouseAlley:'',
      HouseRoad:'',
      HouseCanton:'',
      HouseDistrict:'',
      HouseProvince:'',

    }),
    mounted () {
      let id ={
        userid:this.$store.state.userid
      }
      axios
      .post('http://127.0.0.1:8081/showEmp',id)
      
      .then((response) => {
          const datas1 = response.data;
          this.IDcard = datas1[0][1];
          this.FarmOwner = datas1[0][2]+'    '+datas1[0][3];
          this.FarmOwnereng = datas1[0][4]+'    '+datas1[0][5];
          this.tel = datas1[0][7];
          this.date = datas1[0][6];
          this.email = datas1[0][9];
          this.HouseNumber = datas1[0][10];
          this.HouseGroup = datas1[0][11];
          this.HouseAlley = datas1[0][12];
          this.HouseRoad = datas1[0][13];
          this.HouseCanton = datas1[0][14];
          this.HouseDistrict = datas1[0][15];
          this.HouseProvince = datas1[0][16];
          console.log(datas1);
          
        })
        .catch((e) => {
          console.log(e);
        });
    },
  

   
  }
</script>
<style>
.textC {
  text-align: center;
}
  .ex1 {
    margin-left: 45px;
  }
  .ex2 {
    margin-left: 180px;
  }
  .ex3 {
    margin-left: 110px;
  }

</style>