<template >
<div  >
<v-form v-model="valid">
  <v-container>
    <v-row>
    <v-col col="12" sm="5" md="4" lg="8"> 
    <v-card class="orange lighten-4 shbox" width="90%">
      <v-container>
      <h2 class="textC">รายละเอียดของผลิตภัณฑ์</h2>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ประเภทของผลิตภัณฑ์</p>
          <v-select
          v-model="type"
          :items="type1"
          label="ประเภทของผลิตภัณฑ์"
        ></v-select>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
    <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ชื่อของผลิตภัณฑ์ที่ใช้เพาะเลี้ยง :
          <v-text-field
            v-model="FoodforCulture"
            label="ชื่อของอาหารที่ใช้เพาะเลี้ยง"
          ></v-text-field></p>
         </v-col>
      </v-row>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>เลขทะเบียนของผลิตภัณฑ์ :
          <v-text-field
            v-model="FoodNumber"
            label="เลขทะเบียนของอาหาร"
          ></v-text-field></p>
         </v-col>
      </v-row>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>วันผลิตและวันหมดอายุ :</p>
          <p>วันที่ผลิต</p>
          <v-text-field
            v-model="Productiondate"
            label="วันผลิต"
          ></v-text-field>
          <p>วันหมดอายุ</p>
          <v-text-field
            v-model="expdate"
            label="วันผลิต"
          ></v-text-field>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>ผลการตรวจสภาพทางกายภาพ :</p>
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="เหมาะสม ไม่เหมาะสม"
          v-model="Physicalconditionoffood"
        ></v-text-field>
         </v-col>
      </v-row>
      <!-- <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>ระบุรายละเอียดทางโภชนาการ :</p>
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="ระบุ ไม่ระบุ"
          v-model="nutritionaldetails"
        ></v-text-field>
         </v-col>
      </v-row> -->
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ความถี่ในการสั่งซื้อในแต่ละรอบ :
          <v-text-field
            v-model="FrequencyofOrderingfood"
            label="ความถี่ในการสั่งซื้ออาหารแต่ละรอบ(จำนวนรอบต่อเดือน)****"
            outlined
            shaped
          ></v-text-field></p>
         </v-col>
      </v-row>
      <!-- <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <v-text-field
            v-model="NamesofCulturedvitamin"
            label="ชื่อของอาหารเสริม/วิตามินใช้เพาะเลี้ยง"
            outlined
            shaped
          ></v-text-field>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ชื่อของอาหารเสริม/วิตามินใช้เพาะเลี้ยง :
          <v-text-field
            v-model="Typesofvitaminsupplements"
            label="ประเภทของอาหารเสริม/วิตามิน"
          ></v-text-field></p>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>เลขทะเบียนของอาหารเสริม/วิตามิน :
          <v-text-field
            v-model="Vitaminnumberregistration"
            label="เลขทะเบียนของอาหารเสริม/วิตามิน"
          ></v-text-field></p>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>วันผลิตและวันหมดอายุของอาหารเสิรม/วิตามินที่ใช้เพาะเลี้ยง :</p>
          <v-img multiple label="picture file" v-model="Dateofmanufactureandexpirationdateofculturevitamins"></v-img>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>ฉลากระบุวิธีการใช้อาหารเสริม/วิตามิน (ถ้ามี) :</p>
          <v-img multiple label="picture file" v-model="Howtousevitaminsupplements"></v-img>
         </v-col>
      </v-row>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>ในกรณีที่ผลิตอาหารเลี้ยงสัตว์น้ำด้วยตนเองให้ระบุ ดังนี</h3>
        <p>ชื่อของวัตถุดิบที่ใช้ :
          <v-text-field
            v-model="Nameofmaterial"
            label="ชื่อของวัตถุดิบที่ใช้"
          ></v-text-field></p>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>ผลการตรวจการปนเปื้อนของวัตถดิบที่ใช้ผลิตอาหาร :</p>
          <v-textarea
          name="input-7-1"
          label="Default style"
          value="พบสิ่งปนเปื้อน ไม่พบสิ่งปนเปื้อน"
          v-model="Contaminationofrawmaterials"
        ></v-textarea>
         </v-col>
      </v-row>
      <h2 class="textC">รายละเอียดของยาและสารเคมี</h2>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ชื่อของยาที่ใช้ทั้งหมด :
          <v-text-field
            v-model="Namesofalldrugsused"
            label="ชื่อของยาที่ใช้ทั้งหมด"
          ></v-text-field></p>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ปริมาณยาที่ใช้ในแต่ละครั้ง :
          <v-text-field
            v-model="Amountofmedicationused"
            label="ปริมาณยาที่ใช้ในแต่ละครั้ง"
          ></v-text-field></p>
         </v-col>
      </v-row>
      <v-row justify="center"> 
      <v-col col="12" sm="5" md="4" lg="5">
        <p>วันหมดอายุของยา (ชื่อยา-วันเดือนปีของวันผลิต-วันเดือนปีที่หมดอายุ) :
          <v-text-field
            v-model="Nameofmedicine"
            label="ชื่อของยา"
          ></v-text-field></p>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>วันผลิตของยา :
          <v-text-field
            v-model="Productiondatemedication"
            label="วันผลิต"
          ></v-text-field></p>
       </v-col>
       </v-row>
       <v-row justify="center">
       <v-col col="12" sm="5" md="4" lg="5">
         <p>วันหมดอายุของยา :
          <v-text-field
            v-model="Expirationdatemedication"
            label="วันหมดอายุ"
          ></v-text-field></p>
       </v-col>
       </v-row>
       
       <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
        <p>เลขทะเบียนของยา (ชื่อยา เลขทะเบียนของยา) :</p>
          <v-text-field
            v-model="Drugname"
            label="ชื่อยา"
          ></v-text-field>
       </v-col>
       <v-col  col="12" sm="5" md="4" lg="5" class="ml-12" >
          <v-text-field
            v-model="Drugregistrationnumber"
            label="เลขทะเบียนของยา"
          ></v-text-field>
       </v-col>
       </v-row>
       <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5" >
          <p>ฉลากระบุวิธีการใช้ยา (ถ้ามี) :</p>
          <v-img multiple label="picture file" v-model="Howtotakemedication"></v-img>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col  col="12" sm="7" md="5" lg="7" >
          <p>ใช้ยาตามที่ระบุในฉลากหรือไม่ :</p>
          <v-textarea
          name="input-7-1"
          label="Default style"
          value="ไม่ใช้ ใช้"
          v-model="specifiedonthelabel"
        ></v-textarea>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col  col="12" sm="7" md="5" lg="7" >
        <p>ระบุวันที่ใช้ยาล่าสุดจนถึงวันที่หยุดใช้ยา และระบุจันวนวันที่หยุดใช้ยา :
          <v-text-field
            v-model="Lastusedandstopped"
            label="ระบุวันที่ใช้ยาล่าสุดจนถึงวันที่หยุดใช้ยา และระบุจันวนวันที่หยุดใช้ยา"
          ></v-text-field></p>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>หลักฐานบันทึกการใช้ยา (ถ้ามี) :</p>
          <v-img multiple label="picture file" v-model="Medicationrecord"></v-img>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>สารเคมีที่ใช้ในการเพาะเลี้ยง :
          <v-text-field
            v-model="Chemicals"
            label="สารเคมีที่ใช้ในการเพาะเลี้ยง"
          ></v-text-field></p>
         </v-col>
      </v-row>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>เลขทะเบียนของสารเคมี (ชื่อสารเคมี เลขทะเบียน) :
          <v-text-field
            v-model="ChemicalsName"
            label="ชื่อสารเคมี"
          ></v-text-field>
          <v-text-field
            v-model="ChemicalRegistrationnumber"
            label="เลขทะเบียนของสารเคมี"
          ></v-text-field></p>
       </v-col>
       </v-row>
       
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
      <p>ปริมาณของแต่ละสารเคมีที่ใช้แต่ละครั้ง(ชื่อ-ปริมาณ(กรัม)) :
          <v-text-field
            v-model="ChemicalsNametoused"
            label="ชื่อ"
          ></v-text-field>
          <v-text-field
            v-model="Chemicalcontent"
            label="ปริมาณสารเคมี(กรัม)"
          ></v-text-field></p>
       </v-col>
       </v-row>
       
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
      <p>วันหมดอายุของสารเคมี (ชื่อสารเคมี-วันเดือนปีหมดอายุ) :</p>
          <v-text-field
            v-model="ChemicalnameExpirationdate"
            label="ชื่อ"
          ></v-text-field>
       </v-col>
       </v-row>
       <v-row justify="center">
       <v-col  col="12" sm="5" md="4" lg="5">
          <v-text-field
            v-model="ChemicalExpirationdate"
            label="วันหมดอายุ"
          ></v-text-field>
       </v-col>
       </v-row>
       <v-row justify="center">
      <v-col   col="12" sm="5" md="4" lg="5">
          <p>ผลการตรวจการปนเปื้อนของยาและสารเคมี :</p>
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="พบสิ่งปนเปื้อน ไม่พบสิ่งปนเปื้อน"
          v-model="Drugchemicalcontamination"
        ></v-text-field>
         </v-col>
      </v-row>
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
          <p>พบยาและสารเคมีต้องห้ามหรือไม่ :</p>
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="พบ ไม่พบ "
          v-model="drugchemicalban"
        ></v-text-field>
         </v-col>
      </v-row> -->
      <br>

      <!-- <v-btn color="primary" @click="hidden = !hidden">
              submit
    </v-btn> -->
      
     </v-container> 
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>



<script>
  import axios from "axios";
  export default {
    data : () => ({
      valid: true,
      type :'',
      type1: ['อาหาร', 'อาหารเสริม','สารเคมี','ยา'],
      FoodforCulture:'',
      FoodNumber:'',
      Productiondate:'',
      expdate:'',
      Physicalconditionoffood:'',
      FrequencyofOrderingfood:'',
      // NamesofCulturedvitamin:'',
      // Typesofvitaminsupplements:'',
      // Vitaminnumberregistration:'',
      // Nameofmaterial:'',
      // Contaminationofrawmaterials:'',
      // Namesofalldrugsused:'',
      // Amountofmedicationused:'',
      // Nameofmedicine:'',
      // Productiondatemedication:'',
      // Expirationdatemedication:'',
      // Drugname:'',
      // Drugregistrationnumber:'',
      // specifiedonthelabel:'',
      // Lastusedandstopped:'',
      // Chemicals:'',
      // ChemicalsName:'',
      // ChemicalRegistrationnumber:'',
      // ChemicalsNametoused:'',
      // Chemicalcontent:'',
      // ChemicalnameExpirationdate:'',
      // ChemicalExpirationdate:'',
      // Drugchemicalcontamination:'',
      // drugchemicalban:'',
      // img1feed: null,
      // img2feed: null,
      // img3feed: null,
      // img4feed: null,

    }),
    mounted () {
      // let id ={
      //   userid:this.$store.state.usernum
      // }
      axios
      .get('http://127.0.0.1:8081/showFeed')
      .then(response => {
        const dataf = response.data;
        type  = dataf[0][2];
        FoodforCulture = dataf[0][1];
        FoodNumber = dataf[0][3];
        Productiondate = dataf[0][6];
        expdate = dataf[0][7];
        Physicalconditionoffood = dataf[0][4];
        FrequencyofOrderingfood = dataf[0][5];
        console.log(dataf);
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      },

    methods: {
      
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>