<template >
<div  >
<v-form v-model="valid">
  <v-container>
    <v-row justify="left">
    <v-col  col="12" sm="5" md="4" lg="5"> 
        <v-card
            class="mx-auto"
            max-width="344"
            outlined
        >

        <h2>Profile</h2><hr>

        <row>
        <v-col
            class="hidden-xs-only"
            sm="5"
            md="3"
        >
            <p>ชื่อ-นามสกุล(ภาษาไทย) :</p>
            <strong v-html="message.nameThai"></strong>
        </v-col>
        </row>

        <row>
        <v-col
            class="hidden-xs-only"
            sm="5"
            md="3"
        >
            <p>ชื่อ-นามสกุล(ภาษาอังกฤษ) :</p>
            <strong v-html="message.nameEng"></strong>
        </v-col>
        </row>

        <row>
        <v-col
            class="text-no-wrap"
            cols="5"
            sm="3"
        >
            <p>หมายเลจบัตรประจำตัวประชาชน :</p>    
            <strong v-html="message.Id"></strong>
        </v-col>
        </row>

        <row>
        <v-col
            class="text-no-wrap"
            cols="5"
            sm="3"
        >
            <p>วัน/เดือน/ปี :</p>    
            <strong v-html="message.date"></strong>
        </v-col>
        </row>

        <row>
        <v-col
            class="text-no-wrap"
            cols="5"
            sm="3"
        >
            <p>เพศ :</p>    
            <strong v-html="message.sex"></strong>
        </v-col>
        </row>

        <row>
        <v-col
            class="text-no-wrap"
            cols="5"
            sm="3"
        >
            <p>เบอร์โทรศัพท์ :</p>    
            <strong v-html="message.cel"></strong>
        </v-col>
        </row>

        <row>
        <v-col
            class="text-no-wrap"
            cols="5"
            sm="3"
        >
            <p>E-mail :</p>    
            <strong v-html="message.mail"></strong>
        </v-col>
        </row>



    </v-card>
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
  export default {
    data: () => ({
      valid: true,
    }),
  }
</script>