<template >
<div  >
<v-form v-model="valid">
  <v-container>
    <v-row>
    <v-col  col="12" sm="5" md="4" lg="8"> 
    <v-card class="orange lighten-4 shbox" width="90%">
      <v-container>
      <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2><br>
      <h2 class="textC">สุขลักษณะฟาร์ม</h2><br>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีการจัดการระบบน้ำทิ้งเหมาะสม น้ำทิ้งจากบ้านเรือนต้องแยกจากระบบการเลี้ยง <br>(ข้อควรปฏิบัติ)</h3>
          <p>ระบบระบายน้ำทิ้งจากบ้านเรือนแยกจากระบบการเลี้ยง :</p>
        <v-text-field
          name="input-7-1"
          label="Default style"
          value="การแยก"
          v-model="Splitsystem"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="การทำความสะอาด"
          v-model="Cleanlinesssystem"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
        <h3>ห้องน้ำสุขาแยกเป็นสัดส่วนห่างจากบ่อเลี้ยง และมีระบบจัดการของเสียอย่างถูกสุขลักษณะ <br>(ข้อควรปฏิบัติ)</h3>
          <p>ห้องน้ำ/ห้องสุขา ในบริเวณฟาร์ม :</p>
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="มีระบุประเภท"
          v-model="Bathroom"
        ></v-text-field>
        <v-img multiple label="แนบไฟล์" v-model="PictureWastewatermanagement"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center" >
      <v-col col="12" sm="5" md="4" lg="5">
      <p>สุขอนามัยของห้องน้ำ/ห้องสุขา :
      <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่ถูกหลักสุขอนามัย ถูกหลักสุขอนามัย"
          v-model="Hygiene"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การปนเปื้อนลงสู่บ่อ/แหล่งน้ำใช้ :
       <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่มี มี(ระบุ)"
          v-model="Contamination"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์" v-model="PictureWastewatermanagement"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีระบบการจัดเก็บขยะที่ดี (ข้อควรปฏิบัติ)</h3>
      <p>ระบบจัดเก็บ/กำจัดขยะ :
      <v-text-field
          name="input-7-1"
          label="Default style"
          value="มีถังขยะ กำจัดขยะด้วยการเผา ขุดหลุมฝัง มีรถหน่วยงานท้องถิ่นมาเก็บขยะ อื่นๆ(ระบุ)"
          v-model="Garbagecollectionsystem"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์" v-model="PictureWastewatermanagement"></v-img>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การคุ้ยเขี้ยของสัตว์เลี้ยงในฟาร์ม :
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่มี มี(ระบุ)"
          v-model="Scrabble"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์" v-model="PictureWastewatermanagement"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>พาหะนำโรค :
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่พบ พบ(ระบุ)"
          v-model="carrier"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์" v-model="PictureWastewatermanagement"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>วิธีการป้องกัน :
            <v-text-field
            v-model="Prevention"
            label="ระบุ"
            ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <h2 class="textC">การเก็บเกี่ยวและการขนส่ง</h2><br>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>วางแผนเก็บเกี่ยวผลผลิตถูกต้องตามความต้องารของตลาด (ข้อแนะนำ)</h3>
      <p>การจับ :
      <v-text-field
          name="input-7-1"
          label="Default style"
          value="จับหมดครั้งเดียว แบ่งจับ"
          v-model="Catching"
        ></v-text-field></p>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การจับสัตว์น้ำ :
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="จับเอง จ้างจับ"
          v-model="Catchingfish"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
          <p>แผนการจับสัตว์น้ำ :
      <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่มี มี"
          v-model="Aquacultureplans"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>ระบุแผนการจับ :
            <v-text-field
            v-model="captureplan"
            label="ระบุ"
            ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การทำความสะอาดสัตว์น้ำหลังการจับ :
      <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่มี มี"
          v-model="Cleaningaquatic"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>พื้นที่จับและคัดแยก :
      <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่มี มี(ระบุ)"
          v-model="Captureandsortingarea"
        ></v-text-field></p>
       <p>รายละเอียด :
            <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่มี มี(ระบุ)"
          v-model="Details"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีหนังสือกำกับการจำหน่ายสัตว์น้ำ และลูกพันธุ์สัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
          <p>MD :
        <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่มี มี"
          v-model="MD"
        ></v-text-field></p>
          <v-img multiple label="แนบไฟล์" v-model="MD"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
          <p>FMD :
      <v-text-field
          name="input-7-1"
          label="Default style"
          value="ไม่มี มี"
          v-model="FMD"
        ></v-text-field></p>
          <v-img multiple label="แนบไฟล์" v-model="FMD"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
           <p>หลักฐานประกอบอื่นๆ :</p>
          <v-img multiple label="แนบไฟล์" v-model="OtherMDFMD"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีการจัดการและดูแลรักษาสัตว์น้ำอย่างถูกสุขลักษณะระหว่างเก็บเกี่ยวและการขนส่ง <br>(ข้อควรปฏิบัติ)</h3>
      <p>รูปแบบการจำหน่าย :
            <v-text-field
            v-model="Formofsale"
            label="ระบุ"
            ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <p>การขนส่ง :
        <v-text-field
            v-model="Transportation"
            label="ระบุ"
            ></v-text-field></p>
      <p>ระบุวิธีการและรักษาอุณหภูมิ :
            <v-text-field
          name="input-7-1"
          label="Default style"
          value="การขนส่ง (ถ้ามี)ระบุ"
          v-model="Methodandmaintaintemperature"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>ผลิตผลสัตว์น้ำที่เก็บเกี่ยว ต้องไม่มียาหรือสารเคมีตกค้างเกินมาตรฐาน (ข้อต้องปฏิบัติ)</h3>
          <p>ผลตรวจเนื้อสัตว์น้ำ :
          <v-text-field
          name="input-7-1"
          label="Default style"
          value="ผ่านเกณฑ์ ไม่ผ่านเกณฑ์"
          v-model="examinationresults"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
           <p>เอกสารหลักฐาน :</p>
          <v-img multiple label="แนบไฟล์" v-model="Document"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <br>


      <v-row justify="center">
      <v-btn color="primary">
              ย้อนกลับ
    </v-btn>
    <v-btn color="primary">
              หน้าถัดไป
    </v-btn>
    </v-row>
      </v-container>
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
  export default {
    data: () => ({
      valid: true,
      Splitsystem:'',
      Cleanlinesssystem:'',
      Bathroom:'',
      NotBathroom:'',
      Hygiene:'',
      Contamination:'',
      Garbagecollectionsystem:'',
      Scrabble:'',
      carrier:'',
      Prevention:'',
      Catching:'',
      Catchingfish:'',
      Aquacultureplans:'',
      captureplan:'',
      Cleaningaquatic:'',
      Captureandsortingarea:'',
      Details:'',
      MD:'',
      FMD:'',
      Formofsale:'',
      Transportation:'',
      Methodandmaintaintemperature:'',
      examinationresults:'',   
    }),
    mounted () {
      axios
      .get('')
      .then(response => {
        const datal2 = response.data;
        this.info = response.data
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      },

    methods: {
      validate () {
        this.$refs.form.validate()
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>