<template >
<div>
<v-form v-model="valid">
  <v-container>
    <v-row>
    <v-col col="12" sm="5" md="4" lg="8"> 
    <v-card class="orange lighten-4 shbox" width="90%">
      <v-container>
      <h2 class="textC">แบบตรวจสอบประเมินผลฟาร์มเลี้ยงปลาตามมาตรฐาน (GAP)</h2><br>
      <h2 class="textC">การจัดการฟาร์ม</h2><br>
      
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
        <h3>การเตรียมบ่อ (ข้อควรปฏิบัติ)</h3>
        <p>การปรับสภาพดินก้นบ่อ :
       <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model ="Soilbottomingconditions"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์" src="" v-model="img1"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การกำจัดศัตรูสัตว์น้ำ :
       <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model ="Exterminationofaquaticpests"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การฆ่าเชื้อโรค :
       <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model ="Disinfectionofponds"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การปฏิบัติอื่นๆ :
       <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model ="Otheraction"
        ></v-text-field></p>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>การเตรียมน้ำ (ข้อควรปฏิบัติ)</h3>
      <p>การกรองน้ำก่อนเข้าบ่อ :
      <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model ="Waterfiltering"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การฆ่าเชื้อโรค :
       <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model ="Disinfectionofwater"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>การปรับคุณภาพน้ำ :
      <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model ="Waterqualityadjustment"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5"> 
      <p>การจัดการอื่นๆ :
      <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model ="OtherManagement"
        ></v-text-field></p>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>อัตราปล่อยลูกพันธุ์ (ข้อแนะนำ)</h3>
          <p>จำนวนลูกพันธุ์ :</p>
            <v-text-field
            v-model="Numberofoffspring"
            value="ระบุ"
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col  col="12" sm="10" md="4" lg="10" >
        <h3>น้ำทิ้งจากบ่อเลี้ยงต้องมีค่าไม่เกินค่ามาตรฐานน้ำทิ้งจากการเพาะเลี้ยงสัตว์น้ำของกรมประมง (ข้อแนะนำ)</h3>
      <p>การทิ้งน้ำออกจากฟาร์ม :</p>
      <v-text-field
          value="ไม่ทิ้ง ทิ้ง"
          v-model ="Dischargingwaterfromthefarm"
        ></v-text-field> 
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>มีรายงานน้ำทิ้งๆ :</p>
      <v-text-field
          value="ไม่มี มี"
          v-model ="reportofsewage"
        ></v-text-field>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>มีผลวิเคราะห์คุณภาพน้ำทิ้ง :</p>
      <v-text-field
          value="ไม่มี มี"
          v-model ="thewastewaterquality"
        ></v-text-field> 
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>ข้อร้องเรียนจากฟาร์ม/ชุมชนข้างเคียง :</p>
      <v-text-field
          value="ไม่มี มี"
          v-model ="Complaintsfromfarms"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีการทำความสะอาดเครื่องมือและอุปกรณ์อย่างสม่ำเสมอ (ข้อควรปฏิบัติ)</h3>
      <p>ความสะอาดหญ้ารอบบ่อ :</p>
      <v-text-field
          value="ไม่สะอาด สะอาด"
          v-model ="Cleanlinessofgrass"
        ></v-text-field> 
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>อุปกรณ์ ความสะอาด/การดูแล :</p>
      <v-text-field
          value="มีการแยกอุปกรณ์ประจำบ่อ จัดวางแขวนเป็นสัดส่วนเป็นระเบียบเรียบร้อย มีการทำความสะอาดประจำ ข้อมูลอื่นๆ(ระบุ)"
          v-model="equipment"
        ></v-text-field> 
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>ป้องกันไม่ให้มีการปนเปื้อนของมูลสัตว์ลงในบ่อเลี้ยง (ข้อควรปฏิบัติ)</h3>
          <v-text-field
          value="ไม่มี มี"
          v-model="Preventcontamination"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>ไม่ใช้มูลสัตว์สดในขั้นตอนการเลี้ยงสัตว์น้ำ (ข้อต้องปฏิบัติ)</h3>
          <v-text-field
          value="ไม่ใช้ ใช้(ระบุ)"
          v-model="notusefreshmanure"
        ></v-text-field>
      <p>ขั้นตอนปฏิบัติในการนำมาใช้ :</p>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีการจัดเก็บปัจจัยการผลิตอย่างถูกสุขลักษณะ (ข้อควรปฏิบัติ)</h3>
          <p>สถานที่จัดเก็บ :</p>
            <v-text-field
            v-model="Storagelocation"
            label="ระบุ"
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
            <p>ภาชนะที่ใช้ :</p>
            <v-text-field
            v-model="Containerused"
            label="ระบุ"
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>สภาพสถานที่จัดเก็บ :</p>
        <v-text-field
          value="เลือกรายการ"
          v-model="Storagecondition"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
      <p>แท่นรองปัจจัยการผลิตกันความชื้น :</p> 
      <v-text-field
          value="ไม่มี มี"
          v-model="Cradleofinputs"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>การจัดเก็บ :</p> 
      <v-text-field
          value="เป็นระเบียบ เป็นระเบียบ"
          v-model="Storage"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>การจัดวาง :</p>
        <v-text-field
          value="เลือกรายการ"
          v-model="Management"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>ระบบกำจัดสัตว์ที่เป็นพาหะนำโรค/สัตว์อื่นๆ :</p> 
      <v-text-field
          value="ไม่มี มี"
          v-model="Animaldisposalsystem"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <h2 class="textC">การจัดการดูแลสุขภาพสัตว์น้ำ</h2>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>มีการเตรียมบ่อที่ถูกวิธีเพื่อป้องกันโรคที่จะเกิดกับสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
      <v-text-field
          value="ไม่มี มี"
          v-model="pondisproperlyprepared"
        ></v-text-field>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5" >
      <h3>มีการเตรียมอุปกรณ์อย่างถูกวิธีเพื่อป้องกันโรคที่จะเกิดกับสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
      <p>การทำความสะอาดอุปกรณ์/เครื่องมือ :</p>
      <v-text-field
          value="ไม่ทำ ทำ"
          v-model="Cleaning"
        ></v-text-field>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      <v-row justify="center"> 
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีการเฝ้าระวังสุขภาพสัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
        <v-text-field
          value="ไม่มี มี"
          v-model="Fishhealth"
        ></v-text-field>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>เมื่อสัตว์น้ำแสดงอาการผิดปกติ ควรพิจารณาตรวจหาสาเหตุเบื้องต้น (ข้อควรปฏิบัติ)</h3>
      <p>เมื่อสัตว์น้ำมีอาการผิดปกติมีการจัดการ :</p>
      <v-text-field
          value="เปลี่ยนถ่ายน้ำ มีการให้อากาศ อุปกรณ์ความสะอาด(ระบุ)"
          v-model="Abnormalsymptomsaremanaged"
        ></v-text-field>
        <v-text-field
          value="ระบุ"
          v-model="Abnormalsymptomsaremanageddetail"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การส่งสัตว์น้ำตรวจก่อนใช้ยา/สารเคมี :</p>
          <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model="Sendingaquaticanimalsforinspection"
        ></v-text-field>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>เมื่อสัตว์น้ำแสดงอาการผิดปกติ ควรพิจารณาตรวจหาสาเหตุเบื้องต้น (ข้อควรปฏิบัติ)</h3>
      <p>การแจ้งเหตุ :</p>
      <v-text-field
          value="ไม่แจ้ง แจ้ง(ระบุ)"
          v-model="Notification"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>วิธีการจัดการซาก :</p>
            <v-text-field
            v-model="Carcassmanagement"
            label="ระบุ"
            ></v-text-field>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>วิธีการจัดการน้ำทิ้งเมื่อเกิดการระบาดของโรค :</p>
            <v-text-field
            v-model="Wastewatermanagement"
            label="ระบุ"
            ></v-text-field>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>วันที่ลงทะเบียนข้อมูล :</p>
            <v-text-field
            v-model="date1"
            label="ระบุ"
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>


      <!-- checklist2 -->

      
      <h2 class="textC">สุขลักษณะฟาร์ม</h2><br>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีการจัดการระบบน้ำทิ้งเหมาะสม น้ำทิ้งจากบ้านเรือนต้องแยกจากระบบการเลี้ยง <br>(ข้อควรปฏิบัติ)</h3>
          <p>ระบบระบายน้ำทิ้งจากบ้านเรือนแยกจากระบบการเลี้ยง :</p>
        <v-text-field
          value="การแยก"
          v-model="Splitsystem"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <v-text-field
          value="การทำความสะอาด"
          v-model="Cleanlinesssystem"
        ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
        <h3>ห้องน้ำสุขาแยกเป็นสัดส่วนห่างจากบ่อเลี้ยง และมีระบบจัดการของเสียอย่างถูกสุขลักษณะ <br>(ข้อควรปฏิบัติ)</h3>
          <p>ห้องน้ำ/ห้องสุขา ในบริเวณฟาร์ม :</p>
          <v-text-field
          value="มีระบุประเภท"
          v-model="Bathroom"
        ></v-text-field>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center" >
      <v-col col="12" sm="5" md="4" lg="5">
      <p>สุขอนามัยของห้องน้ำ/ห้องสุขา :
      <v-text-field
          value="ไม่ถูกหลักสุขอนามัย ถูกหลักสุขอนามัย"
          v-model="Hygiene"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การปนเปื้อนลงสู่บ่อ/แหล่งน้ำใช้ :
       <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model="Contamination"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีระบบการจัดเก็บขยะที่ดี (ข้อควรปฏิบัติ)</h3>
      <p>ระบบจัดเก็บ/กำจัดขยะ :
      <v-text-field
          value="มีถังขยะ กำจัดขยะด้วยการเผา ขุดหลุมฝัง มีรถหน่วยงานท้องถิ่นมาเก็บขยะ อื่นๆ(ระบุ)"
          v-model="Garbagecollectionsystem"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การคุ้ยเขี้ยของสัตว์เลี้ยงในฟาร์ม :
          <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model="Scrabble"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>พาหะนำโรค :
          <v-text-field
          value="ไม่พบ พบ(ระบุ)"
          v-model="carrier"
        ></v-text-field></p>
        <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>วิธีการป้องกัน :
            <v-text-field
            v-model="Prevention"
            value="ระบุ"
            ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <h2 class="textC">การเก็บเกี่ยวและการขนส่ง</h2><br>
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>วางแผนเก็บเกี่ยวผลผลิตถูกต้องตามความต้องารของตลาด (ข้อแนะนำ)</h3>
      <p>การจับ :
      <v-text-field
          value="จับหมดครั้งเดียว แบ่งจับ"
          v-model="Catching"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การจับสัตว์น้ำ :
          <v-text-field
          value="จับเอง จ้างจับ"
          v-model="Catchingfish"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col  col="12" sm="5" md="4" lg="5">
          <p>แผนการจับสัตว์น้ำ :
      <v-text-field
          value="ไม่มี มี"
          v-model="Aquacultureplans"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>ระบุแผนการจับ :
            <v-text-field
            v-model="captureplan"
            value="ระบุ"
            ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>การทำความสะอาดสัตว์น้ำหลังการจับ :
      <v-text-field
          value="ไม่มี มี"
          v-model="Cleaningaquatic"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>พื้นที่จับและคัดแยก :
      <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model="Captureandsortingarea"
        ></v-text-field></p>
       <p>รายละเอียด :
            <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model="Details"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีหนังสือกำกับการจำหน่ายสัตว์น้ำ และลูกพันธุ์สัตว์น้ำ (ข้อควรปฏิบัติ)</h3>
          <p>MD :
        <v-text-field
          value="ไม่มี มี"
          v-model="MD"
        ></v-text-field></p>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
          <p>FMD :
      <v-text-field
          value="ไม่มี มี"
          v-model="FMD"
        ></v-text-field></p>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
           <p>หลักฐานประกอบอื่นๆ :</p>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีการจัดการและดูแลรักษาสัตว์น้ำอย่างถูกสุขลักษณะระหว่างเก็บเกี่ยวและการขนส่ง <br>(ข้อควรปฏิบัติ)</h3>
      <p>รูปแบบการจำหน่าย :
            <v-text-field
            v-model="Formofsale"
            value="ระบุ"
            ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <p>การขนส่ง :
        <v-text-field
            v-model="Transportation"
            value="ระบุ"
            ></v-text-field></p>
      <p>ระบุวิธีการและรักษาอุณหภูมิ :
            <v-text-field
          value="การขนส่ง (ถ้ามี)ระบุ"
          v-model="Methodandmaintaintemperature"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>ผลิตผลสัตว์น้ำที่เก็บเกี่ยว ต้องไม่มียาหรือสารเคมีตกค้างเกินมาตรฐาน (ข้อต้องปฏิบัติ)</h3>
          <p>ผลตรวจเนื้อสัตว์น้ำ :
          <v-text-field
          value="ผ่านเกณฑ์ ไม่ผ่านเกณฑ์"
          v-model="examinationresults"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
           <p>เอกสารหลักฐาน :</p>
          <v-img multiple label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>วันที่ลงทะเบียนข้อมูล :</p>
            <v-text-field
            v-model="date2"
            label="ระบุ"
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <br>

      <!-- checklist3 -->
      
      <h2 class="textC">สถานที่</h2><br>
      

      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
      <h3>แหล่งน้ำที่ใช้มีคุณภาพเหมาะสมต่อการเลี้ยงสัตว์น้ำ และปริมาณน้ำเพียงพอ (ข้อแนะนำ)</h3>
      <p>แหล่งน้ำที่ใช้ :</p>
      <v-img multiple label="แนบไฟล์"></v-img>
      </v-col> 
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ปริมาณน้ำ
        <v-text-field
            v-model="Watercontent"
            value="ไม่เพียงพอ เพียงพอ"
            ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ผลตรวจคุณภาพน้ำ (ถ้ามี) :</p> 
          <v-img  label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>อยู่ห่างจากแหล่งกำเนิดมลพิษ (ข้อแนะนำ)</h3>
          <p>แหล่งกำเนิดมลพิษ :
      <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model="Sourceofpollution"
        ></v-text-field></p>
           <p>ระยะห่าง
           <v-text-field
            v-model="Distance"
            value="กม."
            ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีระบบถ่ายเทน้ำที่ดี (ข้อแนะนำ)</h3>
          <p>ฟาร์มสามารถถ่ายเทน้ำได้ :
      <v-text-field
          value="ไม่ดี ดี"
          v-model="cantransferwater"
        ></v-text-field></p>
          <v-img label="แนบไฟล์"></v-img>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      
      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>การคมนาคมสะดวกต่อการปฏิบัติงานและการขนส่ง (ข้อควรปฏิบัติ)</h3>
        <p>การคมนาคม :
        <v-text-field
          value="ไม่ถึงฟาร์ม ถึงฟาร์ม"
          v-model="Convenienttransportation"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5"> 
        <p>ถนนภายในฟาร์ม :
        <v-text-field
          value="ไม่สะดวก สะดวกในการขนย้ายวัสดุ/วัตถุดิบ/ผลผลิต"
          v-model="roadinsidethefarm"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <h3>มีสาธารณูปโภคขั้นพื้นฐานที่จำเป็น (ข้อแนะนำ)</h3>
        <p>มีสาธารณูปโภคที่จำเป็น :
        <v-text-field
          value="ไม่เพียงพอ เพียงพอ"
          v-model="necessaryutilities"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5"> 
        <p>ไฟฟ้าที่ใช้ :
          <v-text-field
          value="ไฟฟ้า(เฟส)ระบุ"
          v-model="electricity"
        ></v-text-field>
        <v-text-field
            v-model="electricityvolume"
            value="ระบุเฟส"
            ></v-text-field>
        </p>
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

        <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <p>น้ำที่ใช้ :
        <v-text-field
          value="น้ำใช้ (ระบุ)"
          v-model="waterused"
        ></v-text-field>
        <v-text-field
            v-model="waterusedvolume"
            value="ปริมาณน้ำ"
            ></v-text-field>
        </p>
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

        <v-row justify="center">   
      <v-col col="12" sm="5" md="4" lg="5">
        <p>อื่นๆ :
        <v-text-field
          value="อื่นๆ (ระบุ)"
          v-model="Othernecessaryutilities"
        ></v-text-field>
        <v-text-field
            v-model="Othernecessaryutilitiesdetail"
            value="รายละเอียดอุปกรณ์อื่นๆที่จำเป็น"
            ></v-text-field>
        </p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
          <p>ระบบสำรอง :
      <v-text-field
          value="ไม่มี มี(ระบุ)"
          v-model="Backupsystem"
        ></v-text-field></p>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
      <p>วันที่ลงทะเบียนข้อมูล :</p>
            <v-text-field
            v-model="date3"
            label="ระบุ"
            ></v-text-field>
      </v-col>
      <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>

      



    </v-container>  
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
  import axios from "axios";
  export default {
   data: () => ({
      valid: true,
      Soilbottomingconditions:'',
      Exterminationofaquaticpests:'',
      Disinfectionofponds:'',
      Otheraction:'',
      Waterfiltering:'',
      Disinfectionofwater:'',
      Waterqualityadjustment:'',
      OtherManagement:'',
      Numberofoffspring:'',
      Dischargingwaterfromthefarm:'',
      reportofsewage:'',
      thewastewaterquality:'',
      Complaintsfromfarms:'',
      Cleanlinessofgrass:'',
      equipment:'',
      Preventcontamination:'',
      notusefreshmanure:'',
      Storagelocation:'',
      Containerused:'',
      Storagecondition:'',
      Cradleofinputs:'',
      Storage:'',
      Management:'',
      Animaldisposalsystem:'',
      pondisproperlyprepared:'',
      Cleaning:'',
      Fishhealth:'',
      Abnormalsymptomsaremanaged:'',
      Abnormalsymptomsaremanageddetail:'',
      Sendingaquaticanimalsforinspection:'',
      Notification:'',
      Carcassmanagement:'',
      Wastewatermanagement:'',
      date1:'',

      Splitsystem:'',
      Cleanlinesssystem:'',
      Bathroom:'',
      Hygiene:'',
      Contamination:'',
      Garbagecollectionsystem:'',
      Scrabble:'',
      carrier:'',
      Prevention:'',
      Catching:'',
      Catchingfish:'',
      Aquacultureplans:'',
      captureplan:'',
      Cleaningaquatic:'',
      Captureandsortingarea:'',
      Details:'',
      MD:'',
      FMD:'',
      Formofsale:'',
      Transportation:'',
      Methodandmaintaintemperature:'',
      examinationresults:'',
      date2:'',

      Watercontent:'',
      Sourceofpollution:'',   
      Distance:'',
      cantransferwater:'',
      Convenienttransportation:'',
      roadinsidethefarm:'',
      necessaryutilities:'',
      electricity:'',
      electricityvolume:'',
      waterused:'',
      waterusedvolume:'',
      Othernecessaryutilities:'',
      Othernecessaryutilitiesdetail:'',
      Backupsystem:'',
      date3:'',
    }),
      
    
      mounted () {
      axios
      // let id ={
      //   userid:this.$store.state.usernum
      // }
      .get('http://127.0.0.1:8081/showChDetail')
      .then(response => {
        const datalist = response.data;
          this.Soilbottomingconditions = datalist[0][0];
          this.Exterminationofaquaticpests = datalist[0][0];
          this.Disinfectionofponds = datalist[0][0];
          this.Otheraction = datalist[0][0];
          this.Waterfiltering = datalist[0][0];
          this.Disinfectionofwater = datalist[0][0];
          this.Waterqualityadjustment = datalist[0][0];
          this.OtherManagement = datalist[0][0];
          this.Numberofoffspring = datalist[0][0];
          this.Dischargingwaterfromthefarm = datalist[0][0];
          this.reportofsewage = datalist[0][0];
          this.thewastewaterquality = datalist[0][0];
          this.Complaintsfromfarms = datalist[0][0];
          this.Cleanlinessofgrass = datalist[3][3];
          this.equipment = datalist[0][0];
          this.Preventcontamination = datalist[0][0];
          this.notusefreshmanure = datalist[0][0];
          this.Storagelocation = datalist[0][0];
          this.Containerused = datalist[0][0];
          this.Storagecondition = datalist[0][0];
          this.Cradleofinputs = datalist[0][0];
          this.Storage = datalist[0][0];
          this.Management = datalist[0][0];
          this.Animaldisposalsystem = datalist[0][0];
          this.pondisproperlyprepared = datalist[0][0];
          this.Cleaning = datalist[0][0];
          this.Fishhealth = datalist[0][0];
          this.Abnormalsymptomsaremanaged = datalist[0][0];
          this.Abnormalsymptomsaremanageddetail = datalist[0][0];
          this.Sendingaquaticanimalsforinspection = datalist[0][0];
          this.Notification = datalist[0][0];
          this.Carcassmanagement = datalist[0][0];
          this.Wastewatermanagement = datalist[0][0];
          // this.date1 = datalist[0][0];

          this.Splitsystem = datalist[2][2];
          this.Cleanlinesssystem = datalist[0][0];
          this.Bathroom = datalist[4][2];
          this.Hygiene = datalist[0][0];
          this.Contamination = datalist[0][0];
          this.Garbagecollectionsystem = datalist[0][0];
          this.Scrabble = datalist[0][0];
          this.carrier = datalist[0][0];
          this.Prevention = datalist[0][0];
          this.Catching = datalist[0][0];
          this.Catchingfish = datalist[0][0];
          this.Aquacultureplans = datalist[0][0];
          this.captureplan = datalist[0][0];
          this.Cleaningaquatic = datalist[0][0];
          this.Captureandsortingarea = datalist[0][0];
          this.Details = datalist[0][0];
          this.MD = datalist[0][0];
          this.FMD = datalist[0][0];
          this.Formofsale = datalist[0][0];
          this.Transportation = datalist[0][0];
          this.Methodandmaintaintemperature = datalist[0][0];
          this.examinationresults = datalist[0][0];
          // this.date2 = datalist[0][0];

          this.Watercontent = datalist[0][2];
          this.Sourceofpollution = datalist[0][0];
          this.Distance = datalist[0][0];
          this.cantransferwater = datalist[0][0];
          this.Convenienttransportation = datalist[0][0];
          this.roadinsidethefarm = datalist[0][0];
          this.necessaryutilities = datalist[0][0];
          this.electricity = datalist[0][0];
          this.electricityvolume = datalist[0][0];
          this.waterused = datalist[0][0];
          this.waterusedvolume = datalist[0][0];
          this.Othernecessaryutilities = datalist[0][0];
          this.Othernecessaryutilitiesdetail = datalist[0][0];
          this.Backupsystem = datalist[0][0];
          // this.date3 = datalist[0][0];
          console.log(datalist);
      })
      .catch((e) => {
          console.log(e);
      })
      },

    methods: {
      validate () {
        this.$refs.form.validate()
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>