<template style="font-family: 'Sarabun', sans-serif;">
<div>
<v-form v-model="valid">
  <v-container>
    <v-row justify="center">
    <v-col col="12" sm="5" md="7" lg="9"> 
    <v-card class="orange lighten-4 shbox" width="90%">
    <v-container>
    <h2 class="textC" style="border: 1px solid black;">การให้ผลิตภัณฑ์กับสัตว์น้ำ</h2>
    
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>บ่อที่ :</p>
          <v-text-field
            v-model="Pond"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>ขนาดบ่อ :</p>
          <v-text-field
            v-model="size"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
    <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>รอบที่ :</p>
          <v-text-field
            v-model="Round"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>จำนวนวันที่เลี้ยง :</p>
          <v-text-field
            v-model="Numberofdays"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>วันที่เริ่มเลี้ยง :</p>
          <v-text-field
            v-model="startdate"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      <v-row justify="center">
      <v-col col="12" sm="5" md="4" lg="5">
        <p>วันที่สิ้นสุดการเลี้ยง :</p>
          <v-text-field
            v-model="Enddate"
          ></v-text-field>
         </v-col>
         <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
      </v-row>
      

      <br>

 
    </v-container>
    </v-card>
   
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>



<script>
import axios from "axios";
  export default {
    data (){return{
      valid: true,
      Pond:'',
      size:'',
      Round:'',
      Numberofdays:'',
      startdate:'',
      Enddate:'', 
    
    

      
    }},

    mounted () {
        // let id ={
      //   userid:this.$store.state.usernum
      // }
      axios
      .get('')
      .then(response => {
        const datapond = response.data;
        Pond  = datapond[0][0];
        size = datapond[0][0];
        Round = datapond[0][0];
        Numberofdays = datapond[0][0];
        startdate = datapond[0][0];
        Enddate = datapond[0][0];
        console.log(datapond);
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      },
    methods: {
      
        
      
      
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>