<template >
<div  >
<v-form v-model="valid">
  <v-container>
    <v-row>
    <v-col  col="12" sm="5" md="4" lg="8"> 
        <v-card class="orange lighten-4 shbox" width="90%">
          <v-container>
        <h2>Farm</h2><hr>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6" >
            <p>ชื่อฟาร์ม :<v-text-field v-model="FarmName"></v-text-field></p> 
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>ชื่อเจ้าของ :<v-text-field v-model="FarmOwner"></v-text-field></p> 
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>พิกัดภูมิศาสตร์ GPS :<v-text-field v-model="GPS"></v-text-field></p>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>
        
        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>แผนผังฟาร์ม :</p>
             <v-img multiple label="แนบไฟล์"></v-img>
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6" >
            <p>เอกสารหลักฐาน :</p> <v-text-field v-model="Documentfarm"></v-text-field> 
            <v-img multiple label="แนบไฟล์"></v-img>
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>เริ่มกิจการ :</p><v-text-field v-model="Year"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>
        

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>ความเป็นเจ้าของฟาร์ม :</p><v-text-field v-model="Startoperation"></v-text-field> 
            <v-text-field v-model="NumberOfYears"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>พื้นที่ฟาร์มทั้งหมด :</p><v-text-field v-model="TotalFarmArea"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>บ่อพักน้ำ :</p> <v-text-field v-model="Pond"></v-text-field>   
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>จำนวนบ่อ :</p><v-text-field v-model="NumberOfReservoirs"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>ไร่/ตร.ม. :</p>  <v-text-field v-model="NumberOfAcresAndPondareas"></v-text-field>  
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>บ่อเก็บเลน :</p><v-text-field v-model="Lenstorage"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>จำนวนบ่อ :</p><v-text-field v-model="NumberOfLensStorage"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>ไร่/ตร.ม. :</p><v-text-field v-model="NumberOfAcresAndLensStorage"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>


        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>ระบบบำบัดน้ำทิ้ง :</p><v-text-field v-model="SewagetreatmentSystem"></v-text-field> 
            <v-img multiple label="แนบไฟล์"></v-img> 
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>
        

        <v-row justify="center">
                  <v-col col="12" sm="5" md="4" lg="6">
                    <p>บ่อเลี้ยง</p>
                    <v-text-field v-model="Pondperiod"></v-text-field>
                    <v-text-field
                      v-model="NumberofYearsOfOldDiggingwell"
                      label="จำนวนปี"
                    ></v-text-field>
                  </v-col>
                  <v-col col="12" sm="5" md="4" lg="5">
                    <div></div>
                  </v-col>
                </v-row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>พื้นที่เพาะ/เลี้ยงทั้งหมด :</p><v-text-field v-model="Allculturedareas"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>จำนวนบ่อ/กระชัง :</p><v-text-field v-model="NumberofFloatingcages"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center"> 
        <v-col col="12" sm="5" md="4" lg="6">
            <p>สภาวการณ์ลงทุนที่ผ่านมา :</p><v-text-field v-model="PastInvestmentSituation"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>

        <row justify="center">
        <v-col col="12" sm="5" md="4" lg="6">
            <p>สถานภาพของฟาร์ม :</p><v-text-field v-model="Farmstatus"></v-text-field>    
        </v-col>
        <v-col col="12" sm="5" md="4" lg="5">
          <div></div>
      </v-col>
        </row>



    </v-container>
    </v-card>
     
    </v-col>
    </v-row>
  </v-container>
</v-form>
</div>
</template>

<script>
  export default {
    data: () => ({
      valid: true,
      FarmName:'',
      FarmOwner:'',
      GPS:'',
      Documentfarm:'',
      Year:'',
      Startoperation:'',
      NumberOfYears:'',
      TotalFarmArea:'',
      Pond:'',
      NumberOfReservoirs:'',
      NumberOfAcresAndPondareas:'',
      Lenstorage:'',
      NumberOfLensStorage:'',
      NumberOfAcresAndLensStorage:'',
      SewagetreatmentSystem:'',
      Pondperiod:'',
      NumberofYearsOfOldDiggingwell:'',
      Allculturedareas:'',
      NumberofFloatingcages:'',
      PastInvestmentSituation:'',
      Farmstatus:'',

    }),

    mounted () {
      // let id ={
      //   userid:this.$store.state.usernum
      // }
      axios
      .get('')
      
      .then((response) => {
          const datafarm = response.data;
          this.FarmName = datafarm[0][0];
          this.FarmOwner = datafarm[0][0];
          this.GPS = datafarm[0][0];
          this.Documentfarm = datafarm[0][0];
          this.Year = datafarm[0][0];
          this.Startoperation = datafarm[0][0];
          this.NumberOfYears = datafarm[0][0];
          this.TotalFarmArea = datafarm[0][0];
          this.Pond = datafarm[0][0];
          this.NumberOfReservoirs = datafarm[0][0];
          this.NumberOfAcresAndPondareas = datafarm[0][0];
          this.Lenstorage = datafarm[0][0];
          this.NumberOfLensStorage = datafarm[0][0];
          this.NumberOfAcresAndLensStorage = datafarm[0][0];
          this.SewagetreatmentSystem = datafarm[0][0];
          this.Pondperiod = datafarm[0][0];
          this.NumberofYearsOfOldDiggingwell = datafarm[0][0];
          this.Allculturedareas = datafarm[0][0];
          this.NumberofFloatingcages = datafarm[0][0];
          this.PastInvestmentSituation = datafarm[0][0];
          this.Farmstatus = datafarm[0][0];
          console.log(datafarm);
          
        })
        .catch((e) => {
          console.log(e);
        });
    },
    
    methods: {
      validate () {
        this.$refs.form.validate()
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>
<style>
/* .bg {
  background-image: url("../assets/240_F_332823420_Ndjz8LJhlmxxNsVvBJ2m3llNVv2VeIEs.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
</style>