<template>
  <div style="font-family: 'Sarabun', sans-serif;">
    <v-app-bar app class="orange darken-4" clipped-left dark dense>
      <v-toolbar-title>สมัครสมาชิก ประเภทลูกจ้าง</v-toolbar-title>
    </v-app-bar>
    <v-form v-model="valid">
      <v-container>
        <v-stepper v-model="e1" style="background-color:#FFCE6B">
          <v-stepper-header style="background-color:#FF7700">
            <v-stepper-step :complete="e1 > 1" step="1">Create Account</v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step step="2">Create Profile</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <v-row justify = 'center'>
              <v-col col="10" sm="5" md="4" lg="6">
              <v-card>
                <v-container>
                  <h2>Create your Account</h2>
                  <br>
                  <v-row class="ex2">
                    <v-col
                      cols="10"
                      md="4"
                      lg="8"
                    >
                      <v-text-field
                        v-model="Email"
                        :rules="emailRules"
                        label="E-mail"
                        required
                        outlined
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="ex2">
                    <v-col
                      cols="10"
                      md="4"
                      lg="8"
                    >
                      <v-text-field
                        v-model="Password"
                        :rules="PassRules"
                        :counter="20"
                        label="Password"
                        required
                        outlined
                      ></v-text-field>
                    </v-col>

                  </v-row>
                </v-container>
              </v-card>
              </v-col>
              </v-row>
              <br>
              <v-btn
                class="bottomright2"
                color="primary"
                @click="e1 = 2"
              >
                Continue
              </v-btn>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-row justify="center" >
              <v-col col="10" sm="5" md="4" lg="10">
                <v-card>
                  <h2 class="ex3">Create Profile</h2>
                  <v-row justify='center'>
                  <v-col col="11" sm="5" md="4" lg="11">
                  <v-card>
                  <v-alert outlined>
                  <h2 align='center'>ข้อมูลส่วนตัว</h2>
                  <v-row>
                    <v-col class="ex1" col="12" sm="5" md="4" lg="4">
                      <p>หมายเลขบัตรประชาชน</p>
                      <v-text-field
                        v-model="Idcard"
                        :counter="13"
                        :maxlength="13"
                        label="ระบุ"
                        outlined
                      ></v-text-field>
                    </v-col>
                    <v-col class="ex1" col="12" sm="5" md="4" lg="4">
                      <p>ชื่อฟาร์มที่ทำ</p>
                      <v-text-field
                        v-model="Farmname"
                        label="ระบุ"
                        outlined
                      ></v-text-field>
                    </v-col>

                  </v-row>             
                  <v-row>
                    <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                      <p>ชื่อภาษาไทย</p>
                      <v-text-field
                        v-model="NameTh"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                    <v-col class="ex1" col="8" sm="5" md="4" lg="4">
                      <p>นามสกุลภาษาไทย</p>
                      <v-text-field
                        v-model="LastnameTh"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="ex1" col="12" sm="5" md="4" lg="4">
                      <p>ชื่อภาษาอังกฤษ</p>
                      <v-text-field
                        v-model="NameEn"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                    <v-col class="ex1" col="12" sm="5" md="4" lg="4">
                      <p>นามสกุลภาษาอังกฤษ</p>
                      <v-text-field
                        v-model="LastnameEn"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="ex1" cols="12" sm="5" md="4" lg="2">
                      <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="Birth"
                            label="วันเกิด"
                            prepend-icon="event"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="Birth" @input="menu = false"></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                      <p>เบอร์โทรศัพท์</p>
                      <v-text-field
                        v-model="Phone"
                        :counter="10"
                        :maxlength="10"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                    <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                      <p>lineID</p>
                      <v-text-field
                        v-model="Line"
                        label="ถ้ามี"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  </v-alert>
                  </v-card>
                  </v-col>
                  </v-row>
                  <v-row justify='center'>
                  <v-col col="11" sm="5" md="4" lg="11">
                  <v-card>
                  <v-alert outlined>
                  <h2 align = 'center'>ที่อยู่</h2><br>
                  <v-row >
                    <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                      <p>บ้านเลขที่</p>
                      <v-text-field
                        v-model="HouseNo"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                    <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                      <p>หมู่ที่</p>
                      <v-text-field
                        v-model="VillageNo"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row >
                    <v-col class="ex1" col="10" sm="5" md="4" lg="3">
                      <p>ซอย</p>
                      <v-text-field
                        v-model="Lane"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                    <v-col col="10" sm="5" md="4" lg="3">
                      <p>ถนน</p>
                      <v-text-field
                        v-model="Road"
                        label="ระบุ"
                        outlined
                        
                      ></v-text-field>
                    </v-col>
                    
                    <v-col col="10" sm="5" md="4" lg="3">
                      <p>ตำบล/แขวง</p>
                      <v-text-field
                        v-model="Subarea"
                        label="ระบุ"
                        outlined
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  
                  <v-row>
                    <v-col class="ex1" col="10" sm="5" md="4" lg="3">
                      <p>อำเภอ/เขต</p>
                      <v-text-field
                        v-model="Area"
                        label="ระบุ"
                        outlined
                      ></v-text-field>
                    </v-col>

                    <v-col col="10" sm="5" md="4" lg="4">
                      <p>จังหวัด</p>
                      <v-text-field
                        v-model="Province"
                        label="ระบุ"
                        outlined
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-alert>
                </v-card>
                </v-col>
                </v-row>
                </v-card>
              </v-col>
              </v-row>

              <v-btn class="ex4" @click="e1 = 1">
                <v-icon dark left>mdi-arrow-left</v-icon>
                Back</v-btn>
              <v-btn large
                  class="bottomright"
                  color="primary"
                  @click="SubmitSignup();">ยืนยัน</v-btn>
            </v-stepper-content>

          </v-stepper-items>
        </v-stepper>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    e1: 1,
    valid: false,
    Email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid',
    ],        
    Password: '',
    PassRules: [
      v => !!v || 'Password is required',
      v => v.length <= 20 || 'Password must be less than 20 characters',
    ],
    NameTh: null,
    LastnameTh: null,
    NameEn: null,
    LastnameEn: null,
    Idcard: null,
    Birth: null,
    Phone: null,
    Line: null,
    HouseNo: null,
    VillageNo: null,
    Lane: null,
    Road: null,
    Subarea: null,
    Area: null,
    Province: null,
    Farmname: null,
    menu:'',

  }),

  methods: {
  async  SubmitSignup() {
      let obj = {
        Email: this.Email,
        Password: this.Password,
        NameTh: this.NameTh,
        LastnameTh: this.LastnameTh,
        NameEn: this.NameEn,
        LastnameEn: this.LastnameEn,
        Idcard: this.Idcard,
        Birth: this.Birth,
        Phone: this.Phone,
        Line: this.Line,
        HouseNo: this.HouseNo,
        VillageNo: this.VillageNo,
        Lane: this.Lane,
        Road: this.Road,
        Subarea: this.Subarea,
        Area: this.Area,
        Province: this.Province,
        Farmname: this.Farmname,
      };
      console.log(obj);
    await axios
        .post("http://127.0.0.1:8081/insertEmp", obj)
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            window.alert("Register Success");
            this.$router.push("/");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>
<style>
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
  .ex1 {
    margin-left: 80px;
  }
  .ex2 {
    margin-left: 100px;
  }  
  .ex3 {
    margin-left: 10px;
  }
  .ex4 {
    margin-left: 95px;
  }

.bottomright {
  position: absolute;
  bottom: 10px;
  right: 119px;
  font-size: 40px;
}
.bottomright2 {
  position: absolute;
  bottom: 10px;
  right: 308px;
  font-size: 40px;
}
</style>
