<template>
  <div style="font-family: 'Sarabun', sans-serif;">
    <v-app-bar app class="orange darken-4" clipped-left dark dense>
      <v-toolbar-title>สมัครสมาชิก ประเภทเจ้าของฟาร์ม</v-toolbar-title>
    </v-app-bar>
    <v-form v-model="valid">
      <v-container>
        <v-stepper v-model="e1" style="background-color:#FFCE6B">
          <v-stepper-header style="background-color:#FF7700">
            <v-stepper-step :complete="e1 > 1" step="1"
              >Create Account</v-stepper-step
            >

            <v-divider></v-divider>

            <v-stepper-step :complete="e1 > 2" step="2"
              >Create Profile</v-stepper-step
            >

            <v-divider></v-divider>

            <v-stepper-step step="3">Farm</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <v-row justify="center">
                <v-col col="10" sm="5" md="4" lg="6">
                  <v-card>
                    <v-container>
                      <h2>Create your Account</h2>
                      <br />
                      <v-row class="ex2">
                        <v-col cols="10" md="4" lg="8">
                          <v-text-field
                            v-model="Email"
                            :rules="emailRules"
                            label="E-mail"
                            required
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row class="ex2">
                        <v-col cols="10" md="4" lg="8">
                          <v-text-field
                            v-model="Password"
                            :rules="PassRules"
                            :counter="20"
                            label="Password"
                            required
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>
              <br />
              <v-btn class="bottomright2" color="primary" @click="e1 = 2">
                Continue
              </v-btn>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-row justify="center">
                <v-col col="10" sm="5" md="4" lg="10">
                  <v-card>
                    <h2 class="ex3">Create Profile</h2>
                    <v-row justify="center">
                      <v-col col="11" sm="5" md="4" lg="11">
                        <v-card>
                          <v-alert outlined>
                            <h2 align="center">ข้อมูลส่วนตัว</h2>
                            <v-row>
                              <v-col class="ex1" col="12" sm="5" md="4" lg="4">
                                <p>หมายเลขบัตรประชาชน</p>
                                <v-text-field
                                  v-model="Idcard"
                                  :counter="13"
                                  :maxlength="13"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                                <p>ชื่อภาษาไทย</p>
                                <v-text-field
                                  v-model="NameTh"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                              <v-col class="ex1" col="8" sm="5" md="4" lg="4">
                                <p>นามสกุลภาษาไทย</p>
                                <v-text-field
                                  v-model="LastnameTh"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col class="ex1" col="12" sm="5" md="4" lg="4">
                                <p>ชื่อภาษาอังกฤษ</p>
                                <v-text-field
                                  v-model="NameEn"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                              <v-col class="ex1" col="12" sm="5" md="4" lg="4">
                                <p>นามสกุลภาษาอังกฤษ</p>
                                <v-text-field
                                  v-model="LastnameEn"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col class="ex1" cols="12" sm="5" md="4" lg="2">
                                <v-menu
                                  v-model="menu"
                                  :close-on-content-click="false"
                                  :nudge-right="40"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      v-model="Birth"
                                      label="วันเกิด"
                                      prepend-icon="event"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    v-model="Birth"
                                    @input="menu = false"
                                  ></v-date-picker>
                                </v-menu>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                                <p>เบอร์โทรศัพท์</p>
                                <v-text-field
                                  v-model="Phone"
                                  :counter="10"
                                  :maxlength="10"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                              <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                                <p>lineID</p>
                                <v-text-field
                                  v-model="Line"
                                  label="ถ้ามี"
                                  outlined
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-alert>
                        </v-card>
                      </v-col>
                    </v-row>
                    <v-row justify="center">
                      <v-col col="11" sm="5" md="4" lg="11">
                        <v-card>
                          <v-alert outlined>
                            <h2 align="center">ที่อยู่</h2>
                            <br />
                            <v-row>
                              <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                                <p>บ้านเลขที่</p>
                                <v-text-field
                                  v-model="HouseNo"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                              <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                                <p>หมู่ที่</p>
                                <v-text-field
                                  v-model="VillageNo"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                            </v-row>

                            <v-row>
                              <v-col class="ex1" col="10" sm="5" md="4" lg="3">
                                <p>ซอย</p>
                                <v-text-field
                                  v-model="Lane"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                              <v-col col="10" sm="5" md="4" lg="3">
                                <p>ถนน</p>
                                <v-text-field
                                  v-model="Road"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>

                              <v-col col="10" sm="5" md="4" lg="3">
                                <p>ตำบล/แขวง</p>
                                <v-text-field
                                  v-model="Subarea"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                            </v-row>

                            <v-row>
                              <v-col class="ex1" col="10" sm="5" md="4" lg="3">
                                <p>อำเภอ/เขต</p>
                                <v-text-field
                                  v-model="Area"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>

                              <v-col col="10" sm="5" md="4" lg="4">
                                <p>จังหวัด</p>
                                <v-text-field
                                  v-model="Province"
                                  label="ระบุ"
                                  outlined
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-alert>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
              <br />
              <v-btn class="bottomright" color="primary" @click="e1 = 3">
                Continue
              </v-btn>

              <v-btn @click="e1 = 1"
                ><v-icon dark left>mdi-arrow-left</v-icon>Back</v-btn
              >
            </v-stepper-content>

            <v-stepper-content step="3">
              <v-row justify="center">
                <v-col col="12" sm="5" md="4" lg="10">
                  <v-card>
                    <v-container>
                      <h2>ลงทะเบียนฟาร์มเพาะเลี้ยงสัตว์น้ำ</h2>
                      <v-row justify="center">
                        <v-col col="12" sm="5" md="4" lg="5">
                          <p>ชื่อฟาร์ม</p>
                          <v-text-field
                            v-model="FarmName"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col col="12" sm="5" md="4" lg="5">
                          <p>ชื่อเจ้าของ</p>
                          <v-text-field
                            v-model="FarmOwner"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col class="ex1" col="10" sm="5" md="4" lg="2">
                          <p>เลขที่</p>
                          <v-text-field
                            v-model="FarmNumber"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col col="10" sm="5" md="4" lg="2">
                          <p>หมู่ที่</p>
                          <v-text-field
                            v-model="FarmGroup"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col col="10" sm="5" md="4" lg="3">
                          <p>ตำบล</p>
                          <v-text-field
                            v-model="FarmCanton"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col class="ex1" col="10" sm="5" md="4" lg="3">
                          <p>อำเภอ</p>
                          <v-text-field
                            v-model="FarmDistrict"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col col="10" sm="5" md="4" lg="4">
                          <p>จังหวัด</p>
                          <v-text-field
                            v-model="FarmProvince"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col class="ex1" col="12" sm="5" md="4" lg="5">
                          <p>พิกัดภูมิศาสตร์ GPS</p>
                          <v-dialog
                            v-model="dialog"
                            fullscreen
                            hide-overlay
                            transition="dialog-bottom-transition"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn x-large
                                color="amber"
                                dark
                                v-bind="attrs"
                                v-on="on"
                              ><v-icon color="red" left>place</v-icon>
                                สถานที่ตั้ง
                              </v-btn>
                            </template>
                            <template>
                              <v-toolbar dark color="light-green accent-4">
                                <v-btn icon dark @click="dialog = false">
                                  <v-icon>mdi-close</v-icon>
                                </v-btn>
                                <v-toolbar-title>close</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                  <v-btn dark text @click=" pi(); dialog = false;">Save</v-btn>
                                </v-toolbar-items>
                              </v-toolbar>

                              <longdo-map
                                @load="test"
                                :zoom="7"
                                :lastView="false"
                              >
                              </longdo-map>
                            </template>
                          </v-dialog>
                        </v-col>
                        <v-col class="ex1" col="10" sm="8" md="6" lg="4">
                          <p>แผนผังฟาร์ม</p>
                          <v-btn
                            x-large
                            raised
                            class="green"
                            @click="onPickimg1"
                          >
                            <v-icon dark left>insert_photo</v-icon>
                            Upload image
                          </v-btn>
                          <input name="imgplan" type="file" style="display:none" 
                          ref="imgfarmInput1" enctype=multipart/form-data
                          accept="image/*" @change="onImgselected1" >
                        </v-col>
                        <v-col col="12" sm="5" md="4" lg="5">
                          <div></div>
                        </v-col>
                      </v-row>
                      <v-row justify="center">
                        <v-col col="12" sm="8" md="6" lg="10">
                          <p>มีการขึ้นทะเบียนฟาร์มอย่างถูกต้อง</p>
                          <v-radio-group v-model="Farmregistration" row>
                            <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                            <v-radio
                              label="มี ยังไม่หมดอายุ"
                              value="มี ยังไม่หมดอายุ"
                            ></v-radio>
                            <v-radio
                              label="มีและหมดอายุ"
                              value="มีและหมดอายุ"
                            ></v-radio>
                            <v-radio
                              label="อยู่ระหว่างยื่นคำขอ"
                              value="อยู่ระหว่างยื่นคำขอ"
                            ></v-radio>
                          </v-radio-group>
                        </v-col>
                      </v-row>
                      <v-row class="ex4">
                        <v-col col="8" sm="8" md="6" lg="6">
                          <p>เอกสารหลักฐาน</p>
                          <v-radio-group v-model="Documentfarm" row>
                            <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                            <v-radio label="มี" value="มี"></v-radio>
                            <v-btn raised class="green" @click="onPickFile"
                              >Upload File</v-btn
                            >
                            <input name="filefarm" type="file"
                            style="display:none" ref="filefarmInput"
                            enctype=multipart/form-data accept="file/*"
                            @change="onFileselected"/>
                          </v-radio-group>
                        </v-col>
                        <v-col col="10" sm="5" md="4" lg="2">
                          <p>เริ่มดำเนินกิจการ</p>
                          <v-text-field
                            v-model="Year"
                            label="พุทธศักราช"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row class="ex4">
                        <v-col col="12" sm="5" md="4" lg="3">
                          <p>ความเป็นเจ้าของฟาร์ม</p>
                          <v-radio-group v-model="Startoperation">
                            <v-radio
                              label="พื้นที่ส่วนตัว"
                              value="พื้นที่ส่วนตัว"
                            ></v-radio>
                            <v-radio
                              label="เช่าดำเนินการ"
                              value="เช่าดำเนินการ"
                            ></v-radio>
                          </v-radio-group>
                          <v-text-field
                            v-model="NumberOfYears"
                            label="จำนวนปี"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col class="ex5" col="10" sm="4" md="3" lg="2">
                          <p>พื้นที่ฟาร์มทั้งหมด</p>
                          <v-text-field
                            v-model="TotalFarmArea"
                            label="ไร่"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>

                      <v-row class="ex4">
                        <v-col col="10" sm="6" md="4" lg="3">
                          <p>บ่อพักน้ำ</p>
                          <v-radio-group v-model="Pond" row>
                            <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                            <v-radio label="มี" value="มี"></v-radio>
                          </v-radio-group>
                        </v-col>
                        <v-col col="12" sm="5" md="4" lg="2">
                          <p>จำนวนบ่อ</p>
                          <v-text-field
                            v-model="NumberOfReservoirs"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col col="12" sm="5" md="4" lg="2">
                          <p>ไร่/ตร.ม.</p>
                          <v-text-field
                            v-model="NumberOfAcresAndPondareas"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>

                      <v-row class="ex4">
                        <v-col col="10" sm="6" md="4" lg="3">
                          <p>บ่อเก็บเลน</p>
                          <v-radio-group v-model="Lenstorage" row>
                            <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                            <v-radio label="มี" value="มี"></v-radio>
                          </v-radio-group>
                        </v-col>
                        <v-col col="12" sm="5" md="4" lg="2">
                          <p>จำนวนบ่อ</p>
                          <v-text-field
                            v-model="NumberOfLensStorage"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col col="12" sm="5" md="4" lg="2">
                          <p>ไร่/ตร.ม.</p>
                          <v-text-field
                            v-model="NumberOfAcresAndLensStorage"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>

                      <v-row class="ex4">
                        <v-col col="8" sm="8" md="6" lg="6">
                          <p>ระบบบำบัดน้ำทิ้ง</p>
                          <v-radio-group v-model="SewagetreatmentSystem" row>
                            <v-radio label="ไม่มี" value="ไม่มี"></v-radio>
                            <v-radio label="มี" value="มี"></v-radio>
                            <v-btn raised class="green" @click="onPickimg2"
                              >Upload image</v-btn
                            >
                            <input name="imgfarm2" type="file"
                            style="display:none" ref="imgfarmInput2"
                            enctype=multipart/form-data accept="image/*"
                            @change="onImgselected2" @click="onPickimg2"/>
                          </v-radio-group>
                        </v-col>
                      </v-row>
                      <v-row class="ex4">
                        <v-col col="12" sm="5" md="4" lg="3">
                          <p>ความเป็นเจ้าของฟาร์ม</p>
                          <v-radio-group v-model="Pondperiod">
                            <v-radio
                              label="บ่อขุดใหม่"
                              value="บ่อขุดใหม่"
                            ></v-radio>
                            <v-radio label="บ่อเก่า" value="บ่อเก่า"></v-radio>
                          </v-radio-group>
                          <v-text-field
                            v-model="NumberofYearsOfOldDiggingwell"
                            label="จำนวนปี"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row class="ex4">
                        <v-col col="12" sm="6" md="4" lg="5">
                          <p>รูปแบบการเพาะเลี้ยง</p>
                          <v-radio-group v-model="Culture" row>
                            <v-radio label="กระชัง" value="กระชัง"></v-radio>
                            <v-radio label="บ่อ" value="บ่อ"></v-radio>
                          </v-radio-group>
                        </v-col>
                      </v-row>
                      <v-row class="ex4">
                        <v-col col="10" sm="5" md="4" lg="4">
                          <p>พื้นที่เพาะ/เลี้ยงทั้งหมด</p>
                          <v-text-field
                            v-model="Allculturedareas"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col class="ex1" col="10" sm="5" md="4" lg="4">
                          <p>จำนวนบ่อ/กระชัง</p>
                          <v-text-field
                            v-model="NumberofFloatingcages"
                            label="ระบุ"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row class="ex4">
                        <v-col col="12" sm="4" md="3" lg="4">
                          <p>ผลผลิตปีที่แล้วของฟาร์ม</p>
                          <v-text-field
                            v-model="Lastyearfarmoutput"
                            label="จำนวน/ตัน"
                            outlined
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row class="ex4">
                        <v-col col="12" sm="3" md="2" lg="5">
                          <p>สภาวการณ์ลงทุนที่ผ่านมา</p>
                          <v-radio-group v-model="PastInvestmentSituation" row>
                            <v-radio label="กำไร" value="กำไร"></v-radio>
                            <v-radio label="ขาดทุน" value="ขาดทุน"></v-radio>
                            <v-radio label="เสมอตัว" value="เสมอตัว"></v-radio>
                          </v-radio-group>
                        </v-col>
                      </v-row>
                      <v-row class="ex4">
                        <v-col col="12" sm="8" md="6" lg="10">
                          <p>สถานภาพของฟาร์ม</p>
                          <v-radio-group v-model="Farmstatus" row>
                            <v-radio
                              label="กำลังเลี้ยง"
                              value="กำลังเลี้ยง"
                            ></v-radio>
                            <v-radio label="พักบ่อ" value="พักบ่อ"></v-radio>
                            <v-radio
                              label="หยุดการเลี้ยงแต่คาดว่าจะดำเนินการ"
                              value="หยุดการเลี้ยงแต่คาดว่าจะดำเนินการ"
                            ></v-radio>
                          </v-radio-group>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>
              <br />
              <v-btn
                class="bottomright"
                color="primary"
                @click="SubmitSignup()"
              >
                Submit
                <v-icon dark right>mdi-checkbox-marked-circle</v-icon>
              </v-btn>

              <v-btn @click="e1 = 2"
                ><v-icon dark left>mdi-arrow-left</v-icon>Back</v-btn
              >
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    valid: true,
    dialog: false,
    notifications: false,
    lat: 0,
    lon: null,
    // result: "",
    menu: null,
    e1: 1,
    Email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+/.test(v) || "E-mail must be valid",
    ],
    Password: "",
    PassRules: [
      (v) => !!v || "Password is required",
      (v) => v.length <= 20 || "Password must be less than 20 characters",
    ],
    NameTh: null,
    LastnameTh: null,
    NameEn: null,
    LastnameEn: null,
    Idcard: null,
    Birth: null,
    Phone: null,
    Line: null,
    HouseNo: null,
    VillageNo: null,
    Lane: null,
    Road: null,
    Subarea: null,
    Area: null,
    Province: null,
    FarmName: null,
    FarmOwner: null,
    FarmNumber: null,
    FarmGroup: null,
    FarmCanton: null,
    FarmDistrict: null,
    FarmProvince: null,
    GPS: null,
    Farmregistration: null,
    Documentfarm: null,
    Year: null,
    Startoperation: null,
    NumberOfYears: null,
    Other: null,
    TotalFarmArea: null,
    Pond: null,
    NumberOfReservoirs: null,
    NumberOfAcresAndPondareas: null,
    Lenstorage: null,
    NumberOfLensStorage: null,
    NumberOfAcresAndLensStorage: null,
    SewagetreatmentSystem: null,
    Pondperiod: null,
    NumberofYearsOfOldDiggingwell: null,
    Culture: null,
    Allculturedareas: null,
    NumberofFloatingcages: null,
    Lastyearfarmoutput: null,
    Quantityproduced: null,
    PastInvestmentSituation: null,
    Farmstatus: null,
    Datarecording: null,
    Otherdetails: null,
    selectFile: "No",
    selectimg1: "No",
    selectimg2: "No",
  }),

  methods: {
    async SubmitSignupFarm() {
      let Datafarm = {
        FarmName: this.FarmName,
        FarmOwner: this.FarmOwner,
        FarmNumber: this.FarmNumber,
        FarmGroup: this.FarmGroup,
        FarmCanton: this.FarmCanton,
        FarmDistrict: this.FarmDistrict,
        FarmProvince: this.FarmProvince,
        lattitube: this.lat,
        longtitube: this.lon,
        Farmregistration: this.Farmregistration,
        Documentfarm: this.Documentfarm,
        Year: this.Year,
        Startoperation: this.Startoperation,
        NumberOfYears: this.NumberOfYears,
        TotalFarmArea: this.TotalFarmArea,
        Pond: this.Pond,
        NumberOfReservoirs: this.NumberOfReservoirs,
        NumberOfAcresAndPondareas: this.NumberOfAcresAndPondareas,
        Lenstorage: this.Lenstorage,
        NumberOfLensStorage: this.NumberOfLensStorage,
        NumberOfAcresAndLensStorage: this.NumberOfAcresAndLensStorage,
        SewagetreatmentSystem: this.SewagetreatmentSystem,
        Pondperiod: this.Pondperiod,
        NumberofYearsOfOldDiggingwell: this.NumberofYearsOfOldDiggingwell,
        Culture: this.Culture,
        Allculturedareas: this.Allculturedareas,
        NumberofFloatingcages: this.NumberofFloatingcages,
        Lastyearfarmoutput: this.Lastyearfarmoutput,
        PastInvestmentSituation: this.PastInvestmentSituation,
        Farmstatus: this.Farmstatus,
      };
     await  axios.post("http://127.0.0.1:8081/insert", Datafarm)
        .then((response) => {
          // JSON responses are automatically parsed.
          if (response.data) {
            const da = response.data;
            // เรียก response เอาค่าจากเบสมาใช้
            this.$store.commit("setFarmid", da[0][0]);
            // เอาค่าที่ได้ไปเปลี่ยนค่าใน store
            
          }
        })
        .catch((e) => {
          console.log(e);
        }); 
     console.log("SubmitSignupFarm =", this.$store.state.Farmid);
    },
    onImgselected1(event) {
      console.log(event);
      this.selectimg1 = event.target.files[0];
      console.log(this.selectimg1);
      console.log("selectimg1 success");
    },
   async onUplodeimg1() {
      if (this.selectimg1 !== "No") {
        const img = new FormData();
        img.append("image", this.selectimg1, this.selectimg1.name);
        console.log("im1");
       await axios
          .post("http://127.0.0.1:8081/img", img, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image1");
            }
          })
          .catch((e) => {
            console.log(e);
          });
          console.log("img 1 await ok");
      }
    },
    onPickimg1() {
      this.$refs.imgfarmInput1.click();
    },
    onImgselected2(event) {
      console.log(event);
      this.selectimg2 = event.target.files[0];
      console.log(this.selectimg2);
      console.log("selectimg2 success");
    },
   async onUplodeimg2() {
      if (this.selectimg2 !== "No") {
        const img = new FormData();
        img.append("image", this.selectimg2, this.selectimg2.name);
        console.log("im2");
       await axios
          .post("http://127.0.0.1:8081/SewageSystem", img, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not image2");
            }
          })
          .catch((e) => {
            console.log(e);
          });
          console.log("img 2 await ok");
      }
    },
    onPickimg2() {
      this.$refs.imgfarmInput2.click();
    },
    onFileselected(event) {
      console.log(event);
      this.selectFile = event.target.files[0];
      console.log(this.selectFile);
      console.log("selectFile success");
    },
  async  onUplodefile() {
      if (this.selectFile !== "No") {
        const file = new FormData();
        file.append("file", this.selectFile, this.selectFile.name);
        console.log("file");
    await    axios
          .post("http://127.0.0.1:8081/documentRegFarm", file, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            // JSON responses are automatically parsed.
            console.log(response.data);
            if (response.data) {
              // this.$router.push("/Home");
            } else {
              window.alert("Not file");
            }
          })
          .catch((e) => {
            console.log(e);
          });
          console.log("file await ok");
      }
    },
    onPickFile() {
      this.$refs.filefarmInput.click();
    },
    async SubmitSignup() {
      await this.onUplodeimg1();
      console.log("Uplodeimg1ok");
      await this.onUplodefile();
      console.log("onUplodefileok");
      await this.onUplodeimg2();
      console.log("Uplodeimg2ok");
      await this.SubmitSignupFarm();
      console.log("SubmitSignupFarm-ok");
      let obj = {
        Farmid: this.$store.state.Farmid,
        // นำค่าของตัวใน store มาใช้
        Email: this.Email,
        Password: this.Password,
        NameTh: this.NameTh,
        LastnameTh: this.LastnameTh,
        NameEn: this.NameEn,
        LastnameEn: this.LastnameEn,
        Idcard: this.Idcard,
        Birth: this.Birth,
        Phone: this.Phone,
        Line: this.Line,
        HouseNo: this.HouseNo,
        VillageNo: this.VillageNo,
        Lane: this.Lane,
        Road: this.Road,
        Subarea: this.Subarea,
        Area: this.Area,
        Province: this.Province,
      };
      console.log(obj);
      axios
        .post("http://127.0.0.1:8081/insertOwn", obj)
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            window.alert("Register Success");
            this.$router.push("/");
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
    test(map) {
      map.Event.bind("ready", ()=> {
        var location1 = map.location({ lon:100, lat:10 }, true);
        console.log("location1 = ",location1);
        map.Event.bind("location", () => {
        var location = map.location();
        this.lon = location.lon;
        this.lat = location.lat;
      })});
    },
    pi() {
      console.log("lat = ", this.lat);
      console.log("lon = ", this.lon);
    },
  },
};
</script>
<style>
.shbox {
  box-shadow: 0 0 3px #ff0000, 0 0 10px #0000ff;
}
.textC {
  text-align: center;
}
.ex1 {
  margin-left: 80px;
}
.ex2 {
  margin-left: 100px;
}
.ex3 {
  margin-left: 10px;
}
.ex4 {
  margin-left: 65px;
}
.ex5 {
  margin-left: 212px;
}

.bottomright {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 40px;
}
.bottomright2 {
  position: absolute;
  bottom: 10px;
  right: 308px;
  font-size: 40px;
}
</style>
