<template>
  <div class="orange accent-1">
    <v-navigation-drawer v-model="drawer" app class="orange lighten-2" clipped>
      <v-list dense>
        <router-link to="/Home3/ReportFeed">
          <v-list-item>
            <v-list-item-action>
              <v-icon>description</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>รายงานผลิตภัณฑ์ที่ใช้</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>

        <router-link to="/Home3/ReportFood">
          <v-list-item>
            <v-list-item-action>
              <v-icon>description</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>รายงานการให้อาหาร</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>


        <router-link to="/Home3/ReportFishPond">
          <v-list-item>
            <v-list-item-action>
              <v-icon>description</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>บ่อปลา</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>


        <router-link to="/Home3/ReportProblem">
          <v-list-item>
            <v-list-item-action>
              <v-icon>description</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>รายงานปัญหา</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>

        <v-list-item @click="$router.push('/Home/profile')">
          <v-list-item-action>
            <v-icon>arrow_back</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Back to Profile</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-navigation-drawer>

    <v-app-bar app class="orange darken-4" clipped-left dark dense> </v-app-bar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "Home",

  components: {},

  data: () => ({
    drawer: true,
  }),
};
</script>
<style></style>
