<template>
  <div class="orange accent-1" style="font-family: 'Sarabun', sans-serif; width:100%; height:100%; ">
    <v-navigation-drawer v-model="drawer" width='300px' app class="orange lighten-2" clipped  >

        <v-list>            
              <v-list-item route :to="profile.route">
                <v-list-item-action>
                  <v-icon>account_box</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="subtitle-1">ข้อมูลส่วนตัว</v-list-item-title>
                </v-list-item-content>
        </v-list-item>
            

          <v-list-group 
            v-for="item in items"
            :key="item.title"
            v-model="item.active"
            :prepend-icon="item.action"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1" v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="subItem in item.items"
              :key="subItem.title"
              router :to="subItem.route"
            >
              <v-list-item-content>
                <v-list-item-title class="subtitle-1" v-text="subItem.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
        </v-list>     

    </v-navigation-drawer>

    <v-app-bar app class="orange darken-4" clipped-left dark dense>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title @click="$router.push('/Home/profile')"
        >Application</v-toolbar-title
      >
      <div class="d-flex align-center"></div>

      <v-spacer></v-spacer>

      <v-btn @click="$router.push('/')" target="_blank" text>
        <span class="mr-2">Logout</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
      <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "Home",

  components: {},

  data: () => ({
    drawer: true,
    items: [
          {
            action: 'menu_book',
            title: 'ข้อมูลผลิตภัณฑ์',
            items: [
              { title: 'บันทึกข้อมูลผลิตภัณฑ์', route: '/Home/FeedForm'},
              { title: 'รายงานผลิตภัณฑ์', route: '/Home/ReportFeed' },
            ],
            
          },
          {
            action: 'note_add',
            title: 'สถานที่เพาะเลี้ยง',
            items: [
              { title: 'บันทึกข้อมูล', route: '/Home/FishPondForm'},
              { title: 'ข้อมูลสถานที่เพาะเลี้ยง', route: '/Home/ReportFishPond' },
            ],
          },
          {
            action: 'restaurant',
            title: 'การให้อาหาร',
            items: [
              { title: 'บันทึกข้อมูล', route: '/Home/givefoodForm'},
              { title: 'ข้อมูลการให้', route: '/Home/ReportFood'},
            ],
          },
          {
            action: 'assignment_late',
            title: 'ปัญหาที่เกิดภายในฟาร์ม',
            items: [
              { title: 'บันทึกข้อมูล', route: '/Home/problem'},
              { title: 'รายงานปัญหา', route: '/Home/ReportProblem'},
            ],
          },
          {
            action: 'assignment_late',
            title: 'ตรวจสอบฟาร์ม',
            items: [
              { title: 'ตรวจสอบ', route: '/Home/Checklist'},
              { title: 'ข้อมูลการตรวจ', route: '/Home/ReportChecklist'},
              { title: 'รายละเอียดการตรวจ', route: '/Home/Report'},
            ],
          },                    
                    
        ],
    profile: {route: '/Home/profile'},

  }),
  methods: {
  },
};
</script>
<style>
  .he1{
  max-height: 350px;
  overflow: auto;
  font-size: small;
  padding:0;    
  }
</style>
