<template>
  <div class="orange accent-1">
    <v-navigation-drawer v-model="drawer" app class="orange lighten-2" clipped>
      <v-list dense>
        <router-link to="/Home4/givefood">
          <v-list-item>
            <v-list-item-action>
              <v-icon>fastfood</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>givefood</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>

      <router-link to="/Home4/problem">
          <v-list-item>
            <v-list-item-action>
              <v-icon>assignment_late</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Problem</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>

      </v-list>
    </v-navigation-drawer>

     <v-app-bar app class="orange darken-4" clipped-left dark dense>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title @click="$router.push('/Home')"
        >Application</v-toolbar-title
      >
      <div class="d-flex align-center"></div>

      <v-spacer></v-spacer>

      <v-btn @click="$router.push('/')" target="_blank" text>
        <span class="mr-2">Logout</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "Home",

  components: {},

  data: () => ({
    drawer: true,
  }),
};
</script>
<style></style>
