<template>
   <div class="orange accent-1" style="font-family: 'Sarabun', sans-serif;">
    <v-navigation-drawer v-model="drawer" width='300px' app  class="orange lighten-2" clipped >
      <v-list dense>
          <router-link to="/Home2/Checklist">
          <v-list-item>
            <v-list-item-action>
              <v-icon>assignment_turned_in</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">ตรวจสอบฟาร์ม</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>

        <router-link to="/Home2/Report">
          <v-list-item>
            <v-list-item-action>
              <v-icon>assignment_turned_in</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">รายงานการตรวจสอบ</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>

        <v-list>
          <v-list-group
            v-for="item in items"
            :key="item.title"
            v-model="item.active"
            :prepend-icon="item.action"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="subItem in item.items"
              :key="subItem.title"
              router :to="subItem.route"
            >
              <v-list-item-content>
                <v-list-item-title v-text="subItem.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
        </v-list>     
        
        <v-list-item @click="$router.push('/Home/profile')">
          <v-list-item-action>
            <v-icon>arrow_back</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Back to Profile</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app class="orange darken-4" clipped-left dark dense>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title @click="$router.push('/Home')"
        >Application</v-toolbar-title
      >
      <div class="d-flex align-center"></div>

      <v-spacer></v-spacer>

      <v-btn @click="$router.push('/')" target="_blank" text>
        <span class="mr-2">Logout</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",

  components: {},

  data: () => ({
    drawer: true,
    items: [
          {
            action: 'local_activity',
            title: 'รายงานการตรวจ',
            items: [
              { title: 'บันทึกการทำการตรวจสอบ', route: '/'},
              { title: 'ผลการตรววจสอบ' },
            ],
            
          },
          {
            action: 'restaurant',
            title: 'Dining',
            items: [
              { title: 'Breakfast & brunch' },
              { title: 'New American' },
              { title: 'Sushi' },
            ],
          },
          {
            action: 'school',
            title: 'Education',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'directions_run',
            title: 'Family',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'healing',
            title: 'Health',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'content_cut',
            title: 'Office',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'local_offer',
            title: 'Promotions',
            items: [
              { title: 'List Item' },
            ],
          },
        ],
  }),
};
</script>
<style>

</style>
