<template>
  <v-app id="inspire">
    <v-content class="bg"> 
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title class="white--text" > LOGIN TO YOUR ACCOUNT </v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form >
                  <v-text-field
                    v-model="user"
                    label="Email"
                    name="login"
                    prepend-icon="person"
                    type="text"
                  />

                  <v-text-field
                    v-model="pass"
                    label="Password"
                    name="password"
                    prepend-icon="lock"
                    append-icon="mdi-eye-off"
                    :type="showpassword ? 'text' :'password'"
                    @click:append="showpassword = !showpassword"
                    
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>              
                <p class="ex1" >Don't have an account? <a href="/signup" class="dark-grey-text ml-1 font-weight-bold"> Sign up</a></p>
                <v-row justify="end">             
                  <v-btn class="bottomright" color="primary" @click="LoginSubmit()" >Login</v-btn>
                </v-row> 
              </v-card-actions>                

            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import axios from "axios";
export default {
  name: 'Login',
  

  data () {
    return {
      user: '',
      pass: '',
      isPwd: true,
      showpassword: false
    }
  },
  
  methods: {
    LoginSubmit() {
      console.log(this.user);
      console.log(this.pass);
      let x = { user: this.user, pass: this.pass };

      axios
        .post("http://127.0.0.1:8081/login", x)
        .then((response) => {
          // JSON responses are automatically parsed.
          console.log(response.data);
          if (response.data) {
            const da = response.data 
            // เรียก response เอาค่าจากเบสมาใช้
            this.$store.commit('setuserid',da[0][0]);
            this.$store.commit('setFarmid',da[0][1]);
            this.$store.commit('setEmpType',da[0][2]);
            // เอาค่าที่ได้ไปเปลี่ยนค่าใน store
            console.log("id =",this.$store.state.userid)
            console.log("farmid =",this.$store.state.Farmid)
            console.log("type =",this.$store.state.EmpType)
            if(this.$store.state.EmpType == 1){
              this.$router.push("/Home/profile");
            } else{
             this.$router.push("/Home4/givefood");
            }
          } else {
            window.alert("Username or Password incorrect");
          }
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
  },
};
</script>
<style>
.bg {
  background-image: url("../assets/iTopPlus676447086845.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.bottomright {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 40px;
}
.ex1 {
 margin-left: 10px;
}

</style>

