<template >
  <v-app id="inspire" style="font-family: 'Sarabun', sans-serif;" >
    <v-content class="bg">
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="mx-auto" color="primary">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title >
                  SIGN UP
                </v-toolbar-title>
              </v-toolbar>
              <v-card >
                  <span ></span>
                <v-form class="text-center">
                 <br>
                  <v-btn
                    color="primary"
                    @click="$router.push('/signowner')"
                    height="50"
                    width="50%"
                    >เจ้าของฟาร์ม</v-btn
                  ><br><br>
                <!-- <span class="title font-weight-light"> SIGNUP Acconut On</span><br><br> -->
                  <v-btn
                    color="primary"
                    @click="$router.push('/signemp')"
                    height="50"
                    width="50%"
                    >ลูกจ้าง</v-btn
                  ><br><br>
                </v-form>
              </v-card>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "Login",

  data() {
    return {
    };
  },

};
</script>
<style>
.bg {
  background-image: url("../assets/iTopPlus676447086845.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
</style>
