<template>
  <div style="font-family: 'Sarabun', sans-serif;">
    <v-form v-model="valid">
      <v-container>
        <v-row justify="center">
          <v-col>
            <v-container>
              <v-row>
                <v-col>
                  <v-card>
                    <v-app-bar
                      style="background-color:#FF7700"
                      clipped-left
                      dark
                      dense
                    >
                      <h3>รายงานผลิตภัณฑ์ที่ใช้</h3>
                    </v-app-bar>
                    <v-alert>
                      <v-data-table
                        :headers="headers"
                        :items="desserts"
                        class="elevation-1"
                        ><template v-slot:top>
                            <v-dialog v-model="dialog" max-width="500px">
                              <v-card>
                                <v-card-title>
                                  <span class="headline">img</span>
                                </v-card-title>
                                <v-card-text>
                                  <v-container> 
                                    <v-img>                                
                                    <v-carousel hide-controls hide-delimiters>
                                      <v-carousel-item
                                        v-for="(item, i) in items"
                                        :key="i"
                                        :src="item"
                                      ></v-carousel-item>
                                    </v-carousel>
                                    </v-img>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close"
                                    >OK</v-btn
                                  >
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                        </template>
                        <template v-slot:item.actions="{ item }">
                          <v-icon small class="mr-2" @click="editItem(item)">
                            mdi-pencil
                          </v-icon>
                        </template>
                      </v-data-table>
                    </v-alert>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    valid: true,
    dialog: false,
    headers: [
      {
        text: "Ordinal Numbers",
        align: "start",
        sortable: false,
        value: "0",
      },
      { text: "ประเภทของผลิตภัณฑ์", value: "1" },
      { text: "ชื่อของผลิตภัณฑ์ที่ใช้เพาะเลี้ยง", value: "2" },
      { text: "เลขทะเบียนของผลิตภัณฑ์", value: "3" },
      { text: "ผลการตรวจสภาพทางกายภาพ", value: "4" },
      { text: "ความถี่ในการสั่งซื้อในแต่ละรอบ (%)", value: "5" },
      { text: "วันผลิตของผลิตภัณฑ์", value: "6" },
      { text: "วันหมดอายุของผลิตภัณฑ์", value: "7" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    desserts: [],
    items: [
      // {
      //   src: "https://images5.alphacoders.com/587/587597.jpg",
      // },
      {
        src: require('../assets/img/imgfarm1/test2.jpg')
      },
      // {
      //   src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
      // },
      // {
      //   src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
      // },
    ],
  }),
  mounted() {
    let x ={Farmid:this.$store.state.Farmid}
    axios
      .post("http://127.0.0.1:8081/showFeed",x)

      .then((response) => {
        const datas1 = response.data;
        this.desserts = datas1;
        // this.items = 'src:'+datas1[0][1]
        console.log("xxxxx",this.items);
      })
      .catch((e) => {
        console.log(e);
      });
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  methods: {
    editItem() {
      this.dialog = true;
    },

    close() {
      this.dialog = false;
    },
  },
};
</script>
<style>
.textC {
  text-align: center;
}
.ex1 {
  margin-left: 45px;
}
.ex2 {
  margin-left: 180px;
}
.ex3 {
  margin-left: 110px;
}
</style>
